{% extends "fanart/base_popup.html" %}

{% block content %}

<div class="popcontent">

<h1>About the TLKFAA</h1>

<p>
The Lion King Fan-Art Archive is a creative community for fans of Disney's <i>The Lion King</i>. It is a place where the thousands of fans of the movie and its sequels can come together to
share their own artwork inspired by Disney's films. It is a friendly and fun environment designed for members of all ages and all skill levels to enjoy.
</p>

<p>
Since 1995, Brian Tiemann has maintained the <a target="_blank" href="http://www.lionking.org">lionking.org</a> network of web services for fans of Disney's landmark film. Showcasing fans' own
artistic creations has been a part of the site's mission almost since the beginning; but over the years it has grown to become by far the most vibrant and energetic part of the online fan
community.
</p>

<p>
The TLKFAA, fanart.lionking.org, has undergone three major generational revisions in its lifetime. With each change it has sought to bring an ever more streamlined and friendly interface to the 
fan-artist community, incorporating more unique and helpful features to the artists who continue to make this one of the most active art community sites on the Internet, despite its tight
subject-matter focus. We as a community pride ourselves on the friendly atmosphere, innovative sharing features, and quality artwork that has characterized the TLKFAA and its members for more than
15 years.
</p>

<p>
The jungle background art was created by Fluffybunny, Suka, and Blazing Black Mage.
</p>

</div>

{% endblock %}
