{% extends "fanart/artists.html" %}

{% load static %}
{% load bbcode_tags %}
{% load picture_tags %}

{% block page_title %} &mdash; {{ artist.username }}{% endblock %}

{% block activetab_artists %}active{% endblock %}

{% block grass %}
{% include "fanart/grass_artists.html" %}
{% endblock %}

{% block body_prop %}{% endblock %}

{% block content %}

<c:catch var="catchException">
<fmt:parseNumber var="page" value="${param.page}" integerOnly="true" />
<fmt:parseNumber var="folder" value="${param.folder}" integerOnly="true" />
</c:catch>

<c:if test="${folder == null}">
<c:set var="folder" value="0" />
</c:if>

<c:choose>
<c:when test="${thisartist.active == 'true' && thisartist.enabled == 'true' && thisartist.numpictures > 0}">

{% if not artist.is_active or not artist.is_artist %}

<div class="error">
<h3>An error occurred</h3>
The specified artist's gallery is not available.
</div>

{% elif not artist.is_public and not user.is_authenticated %}

<div class="error">
<h3>An error occurred</h3>
The specified artist's gallery is not publicly visible.
</div>

{% else %}

<c:choose>
<c:when test="${thisartist.is_public == true || loggedin == 1}">

<div class="toolbar">
<ul>
<li><a class="button" href="{% url "artist-characters" dir_name=artist.dir_name %}">Characters</a></li>
<li><a class="button" href="{% url "artist-artwall" dir_name=artist.dir_name %}">ArtWall</a></li>
<li><a class="button" href="{% url "artist-gallery" dir_name=artist.dir_name %}">Gallery</a></li>
</ul>
</div>

<h1><a href="{% url "artist" dir_name=artist.dir_name %}">{{ artist.username }}</a></h1>

<div class="featurebox featureboxwide">


{% block banner %}
<div class="bannerwrap">
{% if artist.banner_url %}
    <div class="imgwrap">
        <img class="banner" src="{{ artist.banner_url }}" />
    </div>
{% else %}
    {% if artist.banner_text %}
        <div id="bannertexttoptab"></div>
    {% endif %}
{% endif %}

{% if artist.banner_text %}
    <div id="bannertext">
        <a href="javascript:nop()" onClick="$('#bannertext').slideToggle('fast');">
            <div class="bannertexttoggle"></div>
        </a>
        <div class="bannertextinner">
            <table><tr><td>{{ artist.banner_text|bbcode|safe }}</td></tr></table>
        </div>
    </div>
    <a href="javascript:nop()" onClick="$('#bannertext').slideToggle('fast');">
    <div class="bannertexttoggle" id="bannertexttab">
        <div class="picdate">{% if artist.banner_text_updated %}Updated: {{ artist.banner_text_updated }}{% endif %}</div>
        <div id="bannertext_min">{{ artist.banner_text_min|bbcode|safe }}</div>
    </div>
    </a>
{% endif %}
</div>
{% endblock %}

{% block subview %}

	<div class="artist_picboxes">

	<div class="artist_newestpics">
		<h4>Newest Pictures:</h4>
		<div class="masonry">

                {% for picture in last_nine_uploads %}
			<div class="offertile picturetile">
			<a id="picturetile_{{ picture.id }}" class="previewPopupTrigger" type="picture" itemid="{{ picture.id }}" href="{% url "picture" picture_id=picture.id %}"><img src="{{ picture.thumbnail_url }}" width="60" height="{{ picture.thumb_height }}" /></a>
                        {{ picture.date_uploaded|date }}
			</div>
                {% endfor %}

		</div>
		<div class="viewmoretile"><a href="{% url "artist-gallery" dir_name=artist.dir_name subview="bydate" %}">View more...</a></div>
	</div>

        {% if artist.num_favepics > 0 %}
	<div class="artist_newestpics">
		<h4>Most Popular Pictures:</h4>
		<div class="masonry">

                {% for picture in nine_most_popular_pictures %}
			<div class="offertile picturetile">
			<a id="picturetile_{{ picture.id }}" class="previewPopupTrigger" type="picture" itemid="{{ picture.id }}" href="{% url "picture" picture_id=picture.id %}"><img src="{{ picture.thumbnail_url }}" width="60" height="{{ picture.thumb_height }}" /></a>
			{{ picture.num_faves }} fave{{ picture.num_faves|pluralize }}
			</div>
                {% endfor %}

		</div>
		<div class="viewmoretile"><a href="{% url "artist-gallery" dir_name=artist.dir_name subview="popular" %}">View more...</a></div>
	</div>
	</c:if>
        {% endif %}

        {% if artist.show_coloring_cave %}
	<div class="artist_coloringpics">
		<h4>Colored Line-Art:</h4>
		<div class="masonry">

                {% for coloring_picture in last_nine_coloring_pictures %}
			<div class="offertile picturetile">
			<a id="picturetile_{{ coloring_picture.id }}" class="previewPopupTrigger" type="coloring_picture" itemid="{{ coloring_picture.id }}" href="/ColoringCave.jsp?ccid=${ccpic.basepic}"><img src="{{ coloring_picture.thumbnail_url }}" width="60" height="{{ coloring_picture.thumb_height }}" /></a>
                        {{ coloring_picture.date_posted }}
			</div>
                {% endfor %}

		</div>
		<div class="viewmoretile"><a href="/ColoringCave.jsp?artistid=${thisartist.artistid}">View more...</a></div>
	</div>
        {% endif %}

        {% comment %}

	<div class="artist_contests">
	</div>

        {% endcomment %}

	</div>

	<div class="artist_profile">

		<div class="artist_profiletable">

                        {% if user.is_authenticated %}
				<a id="togglefaveartist_{{ artist.id }}" class="addfavorites {% if fave_artist %}isfave{% endif %}" href="javascript:nop()" onClick="toggleFave({{ artist.id }},'artist')" title="Follow this artist"></a>
				<a id="togglevisible_{{ artist.id }}" class="addvisible {% if fave_artist.is_visible %}isvisible{% endif %}" {% if not fave_artist %}style="display: none"{% endif %} href="javascript:nop()" onClick="toggleVisible({{ artist.id }})" title="Be visible to this artist"></a>
                        {% endif %}

			<table class="profile">
			<tr>
			<td class="label">Pictures</td>
			<td class="data"><a href="{% url "artist-gallery" dir_name=artist.dir_name %}">{{ artist.num_pictures }}</a></td>
			</tr>
			<tr>
			<td class="label">Characters</td>
			<td class="data"><a href="/Characters/?mode=fan&list=artist&term=${thisartist.artistid}">{{ artist.num_characters }}</a></td>
			</tr>
{% comment %}
			<tr>
			<td class="label">Fans</td>
			<td class="data">${thisartist.numfaves}</td>
			</tr>
{% endcomment %}
			<tr>
			<td class="label">Joined</td>
			<td class="data">{{ artist.date_joined|date:"M j, Y" }}</td>
			</tr>
			<tr>
			<td class="label">First Upload</td>
			<td class="data">{{ artist.first_upload|default_if_none:''|date:"M j, Y" }}
			</td>
			</tr>
			<tr>
			<td class="label">Latest Upload</td>
			<td class="data">{{ artist.last_upload|date:"M j, Y" }}</td>
			</tr>
			<tr>
			<td class="label">Age/Birthday</td>
			<td class="data">
                            {% if artist.show_birthdate or artist.show_birthdate_age %}
                                {% if artist.show_birthdate_age %}
                                    {% if artist.show_birthdate %}
                                        {{ artist.birth_date|date:"M j, Y" }} (age {{ artist.birthdate_age|default_if_none:'' }})
                                    {% else %}
                                        {{ artist.birthdate_age|default_if_none:'' }}
                                    {% endif %}
                                {% else %}
                                    {{ artist.birth_date|date:"M j, Y" }}
                                {% endif %}
                            {% else %}
                                {{ artist.birthday }}
                            {% endif %}
			</td>
			</tr>
			<tr>
			<td class="label">Gender</td>
			<td class="data">{{ artist.gender|capfirst }}</td>
			</tr>
			<tr>
			<td class="label">Location</td>
			<td class="data">{{ artist.location }}</td>
			</tr>
			<tr>
			<td class="label">Occupation</td>
			<td class="data">{{ artist.occupation }}</td>
			</tr>
			<tr>
			<td class="label">IM Contact</td>
			<td class="data">
			<table class="ims">
                        {% for contact in artist.socialmediaidentity_set.all %}
			<tr>
			<td>{{ contact.social_media.name }}
			<td>{{ contact.identity }}</td>
			</tr>
                        {% endfor %}
			</table>
			</td>
			</tr>
			<tr>
			<td class="label">Website</td>
			<td class="data">
                            {% if artist.website and artist.website != 'http://' %}
                                <a href="{{ artist.website }}">{{ artist.website|truncatechars:30 }}</a><c:if test="${thisartist.website != ''}"><a href="${thisartist.website}">
                            {% endif %}
                        </td>
			</tr>
			<tr>
			<td class="label">Email</td>
			<td class="data">{% if artist.email and artist.show_email %}<a href="mailto:{{ artist.email }}">{{ artist.email }}</a>{% endif %}</td>
			</tr>
			<tr>
			<td class="label">Accepting Requests or Commissions</td>
			<td class="data">{{ artist.accepting_commissions|yesno|capfirst }}</td>
			</tr>
			<tr>
			<td class="label"></td>
			<td class="data"><a href="/pop_viewpm.jsp?recptid=${thisartist.userid}" rel="shadowbox;width=500;height=600">Send Private Message</a></td>
			</tr>
			</table>

		</div>

		<table class="artist_profile"><tr><td>

                {% if artist.profile_pic_id %}
		<img class="profilepic" src="{{ artist.profile_pic_url }}" />
                {% endif %}

		<div class="artistdesc">
                {{ artist.description|bbcode|safe }}
		</div>

		</td></tr></table>
	</div>

	<br clear="all" />

	</div>


        {% if artist.allow_shouts %}

		<div class="featurebox">

		<div id="blockstatus"></div>

                {% if user.is_authenticated and not current_user_is_blocked %}
        <c:if test="${offset == 0 && loggedin == 1 && qryBlocked.rowCount == 0}">
                <div class="commenttext commentreply shouts">
                <form name="commentform" onSubmit="return false">
                Roar:<br />
                <textarea class="comment shout-text" name="shouttext" id="shouttext_{{ artist.id }}"></textarea>
                <div class="commentbuttons">
                <button type="button" class="small" onClick="postShout({{ artist.id }},0)">Post</button>
                </div>
                </form>
                </div>
        </c:if>
                {% endif %}

		<div class="shouts" id="shouts">

                {% include "includes/shouts.html" %}

		</div>

                {% if artist.shouts_received.count > 10 %}
			<button onClick="getMoreShouts({{ artist.id }},10,this)">Show all {{ artist.shouts_received.count }} roars</button>
                {% endif %}

		</div>

        {% endif %}

{% endblock %}


</div>

</c:when>
<c:otherwise>


</c:otherwise>
</c:choose>

</c:when>
<c:otherwise>


</c:otherwise>
</c:choose>

{% endif %}

{% endblock %}
