{% extends "fanart/artist.html" %}

{% load static %}
{% load bbcode_tags %}
{% load picture_tags %}

{% block subview %}

	<c:set var="showfolders" value="0" />
	<c:if test="${folder > 0}">
		<sql:query var="qryThisFolder">
		SELECT * FROM folders
		WHERE folderid=?
		AND artistid=?
		<sql:param value="${folder}" />
		<sql:param value="${thisartist.artistid}" />
		</sql:query>
		<c:if test="${qryThisFolder.rowCount > 0}">
			<c:set var="currentFolder" value="${qryThisFolder.rows[0]}" />
		</c:if>
	</c:if>
	<c:if test="${param.list != 'bydate' && param.list != 'popular'}">
		<c:choose>
		<c:when test="${folder > 0}">
			<c:set var="folderclause" value="AND folderid='${folder}' " />
		</c:when>
		<c:otherwise>
			<c:set var="folderclause" value="AND (folderid IS NULL OR folderid=0)" />
		</c:otherwise>
		</c:choose>
		<c:set var="showfolders" value="1" />
	</c:if>
	<c:if test="${param.list == 'popular'}">
		<c:set var="numfavesclause" value="AND numpicfaves>0 " />
	</c:if>

	<c:set var="publicclause" value=" " />
	<c:if test="${loggedin == 0 || thisartist.artistid != artist.artistid}"> 
		<c:set var="publicclause" value="AND picpublic=1 " />
	</c:if>

	<c:choose>
	<c:when test="${param.list == 'new' && loggedin == 1}">
		<sql:query var="qryPicturesFull">
		SELECT pictures.* FROM pictures,newpics
		WHERE pictures.artistid=?
		AND newpics.pictureid=pictures.pictureid
		AND newpics.userid=?
		AND deleted IS NULL
		${publicclause}
		<sql:param value="${thisartist.artistid}" />
		<sql:param value="${user.userid}" />
		</sql:query>
	</c:when>
	<c:otherwise>
		<sql:query var="qryPicturesFull">
		SELECT * FROM pictures
		WHERE artistid=?
		AND deleted IS NULL
		${folderclause}
		${numfavesclause}
		${publicclause}
		<sql:param value="${thisartist.artistid}" />
		</sql:query>
	</c:otherwise>
	</c:choose>
                
        {% if list == "folder" %}

		<div class="foldernav">
		</div>

                {% if folder %}
		<div class="current-folder">
			<h3>{{ folder.name }}</h3>
			<p>{{ folder.description }}</p>
		</div>
                {% endif %}

		<div class="folders folders-new" id="folders" artistid="{{ artist.id }}" folderid="{{ folder.id }}">
		</div>

        {% endif %}

	<div class="selector">
	View by:
	<a id="pictures_bydate" class="{% if list == "bydate" %}selected{% endif %}" href="{% url "artist-gallery" dir_name=artist.dir_name %}?list=bydate">upload date</a>
	<a id="pictures_normal" class="{% if list == "popular" %}selected{% endif %}" href="{% url "artist-gallery" dir_name=artist.dir_name %}?list=popular">popularity</a>
	<a id="pictures_normal" class="{% if list == "folder" %}selected{% endif %}" href="{% url "artist-gallery" dir_name=artist.dir_name %}">folder</a>
	</div>

        {% for picture in pictures.object_list reversed %}

            {% include "includes/picture.html" %}

        {% endfor %}

        {{ pages_link.pages_nav|safe }}

{% endblock %}


