{% extends "fanart/base.html" %}

{% block activetab_artists %}active{% endblock %}

{% block grass %}
{% include "fanart/grass_artists.html" %}
{% endblock %}

{% block body_prop %}{% endblock %}

{% block pagenav %}
<div class="pagenav">
    <div class="searchartist">
    Search: <input id="searchartist" />
    </div>

    By artist name:
    {% for letter in 'abcdefghijklmnopqrstuvwxyz' %}
        <a href="{% url "artists" %}?list=name&initial={{ letter }}" {% if initial == letter %}class="selected"{% endif %}>{{ letter|upper }}</a>
    {% endfor %}
</div>
{% endblock %}

{% block content %}

{% if list == "name" and initial %}

    <div class="featurebox">

        {{ pages_link.pages_nav|safe }}

        <div id="artists">

        {% include "includes/artists-list.html" %}

        </div>

        {{ pages_link.pages_nav|safe }}

    </div>

{% else %}

    <div class="featurebox featureboxwide">
        <div class="itemlistheaders" id="artistheaders">

            <div class="itemlist">
                <a class="itemlistheading" href="javascript:nop()" onClick="listArtists('newest',10)">
                    <h2 class="itemlist {% if list == "newest" %}itemlist_selected{% endif %}" id="artistlisth2_newest">Newest</h2>
                </a>
            </div>

            <div class="itemlist">
                <a class="itemlistheading" href="javascript:nop()" onClick="listArtists('recentactive',10)">
                    <h2 class="itemlist {% if list == "recentactive" %}itemlist_selected{% endif %}" id="artistlisth2_recentactive">Recently Active</h2>
                </a>
            </div>

            <div class="itemlist">
                <a class="itemlistheading" class="viewmorelink" href="javascript:nop()" onClick="listArtists('toprated',10)">
                    <h2 class="itemlist {% if list == "toprated" %}itemlist_selected{% endif %}" id="artistlisth2_toprated">Top Rated</h2>
                </a>
            </div>

            <div class="itemlist">
                <a class="itemlistheading" class="viewmorelink" href="javascript:nop()" onClick="listArtists('topratedactive',10)">
                    <h2 class="itemlist {% if list == "topratedactive" %}itemlist_selected{% endif %}" id="artistlisth2_topratedactive">Top Rated Recently Active</h2>
                </a>
            </div>

            <div class="itemlist">
                <a class="itemlistheading" class="viewmorelink" href="javascript:nop()" onClick="listArtists('prolific',10)">
                    <h2 class="itemlist {% if list == "prolific" %}itemlist_selected{% endif %}" id="artistlisth2_prolific">Most Prolific</h2>
                </a>
            </div>

            <div class="itemlist">
                <a class="itemlistheading" class="viewmorelink" href="javascript:nop()" onClick="listArtists('random',5)">
                    <h2 class="itemlist {% if list == "random" %}itemlist_selected{% endif %}" id="artistlisth2_random">Randomly Selected</h2>
                </a>
            </div>

            <div class="itemlist">
                <a class="itemlistheading" class="viewmorelink" href="javascript:nop()" onClick="listArtists('search',0)">
                    <h2 class="itemlist {% if list == "search" %}itemlist_selected{% endif %}" id="artistlisth2_search">Search</h2>
                </a>
            </div>

        </div>
        <br clear="left" />

        <div id="artists">
            {% include "includes/artists-list.html" %}
        </div>

    </div>

{% endif %}

{% endblock %}
