{% extends "fanart/artist.html" %}

{% block subview %}

    {% if list == "folder" %}

        <div class="foldernav"></div>

        {% if folder %}
        <div class="current-folder">
            <h3>{{ folder.name }}</h3>
            <p>{{ folder.description }}</p>
        </div>
        {% endif %}

        <div class="folders folders-new" id="folders" artistid="{{ artist.id }}" folderid="{{ folder.id }}"></div>

    {% endif %}

    <div class="selector">
        View by:
        <a id="pictures_bydate" class="{% if list == "bydate" %}selected{% endif %}" href="{% url "artist-gallery" dir_name=artist.dir_name %}?list=bydate">upload date</a>
        <a id="pictures_normal" class="{% if list == "popular" %}selected{% endif %}" href="{% url "artist-gallery" dir_name=artist.dir_name %}?list=popular">popularity</a>
        <a id="pictures_normal" class="{% if list == "folder" %}selected{% endif %}" href="{% url "artist-gallery" dir_name=artist.dir_name %}">folder</a>
    </div>

    {% for picture in pictures.object_list reversed %}

        {% with forloop.revcounter as pic_number %}
            {% include "includes/picture.html" %}
        {% endwith %}

    {% endfor %}

    {{ pages_link.pages_nav|safe }}

{% endblock %}


