{% extends "fanart/artists.html" %}

{% load static %}
{% load bbcode_tags %}
{% load picture_tags %}

{% block page_title %} &mdash; {{ artist.username }}{% endblock %}

{% block activetab_artists %}active{% endblock %}

{% block grass %}
{% include "includes/grass_artists.html" %}
{% endblock %}

{% block body_prop %}{% endblock %}

{% block content %}

{% if not artist.is_active or not artist.is_artist %}

	<div class="error">
		<h3>An error occurred</h3>
		The specified artist's gallery is not available.
	</div>

{% elif not artist.is_public and not user.is_authenticated %}

	<div class="error">
		<h3>An error occurred</h3>
		The specified artist's gallery is not publicly visible.
	</div>

{% else %}

	<div class="toolbar">
		<ul>
			<li>
				<a class="button" href="{% url "artist-characters" dir_name=artist.dir_name %}">
					Characters
				</a>
			</li>
			<li>
				<a class="button" href="{% url "artist-artwall" dir_name=artist.dir_name %}">
					ArtWall
				</a>
			</li>
			<li>
				<a class="button" href="{% url "artist-gallery" dir_name=artist.dir_name %}">
					Gallery
				</a>
			</li>
		</ul>
	</div>

	<h1><a href="{% url "artist" dir_name=artist.dir_name %}">{{ artist.username }}</a></h1>

	<div class="featurebox featureboxwide">

		{% block banner %}

		<div class="bannerwrap">
			{% if artist.banner_url %}
				<div class="imgwrap">
					<img class="banner" src="{{ artist.banner_url }}" />
				</div>
			{% else %}
				{% if artist.banner_text %}
					<div id="bannertexttoptab"></div>
				{% endif %}
			{% endif %}

			{% if artist.banner_text %}
				<div id="bannertext">
					<a href="javascript:nop()" onClick="$('#bannertext').slideToggle('fast');">
						<div class="bannertexttoggle"></div>
					</a>
					<div class="bannertextinner">
						<table><tr><td>{{ artist.banner_text|bbcode|safe }}</td></tr></table>
					</div>
				</div>
				<a href="javascript:nop()" onClick="$('#bannertext').slideToggle('fast');">
					<div class="bannertexttoggle" id="bannertexttab">
						<div class="picdate">{% if artist.banner_text_updated %}Updated: {{ artist.banner_text_updated }}{% endif %}</div>
						<div id="bannertext_min">{{ artist.banner_text_min|bbcode|safe }}</div>
					</div>
				</a>
			{% endif %}
		</div>

		{% endblock %}

		{% block subview %}

		<div class="artist_picboxes">

			<div class="artist_newestpics">
				<h4>Newest Pictures:</h4>
				<div class="masonry">

					{% for picture in last_nine_uploads %}
						<div class="offertile picturetile">
							<a
								id="picturetile_{{ picture.id }}"
								class="previewPopupTrigger"
								type="picture"
								itemid="{{ picture.id }}"
								href="{% url "picture" picture_id=picture.id %}"
							>
								<img
									src="{{ picture.thumbnail_url }}"
									width="60"
									height="{{ picture.thumb_height }}"
								/>
							</a>
							{{ picture.date_uploaded|date }}
						</div>
					{% endfor %}

				</div>
				<div class="viewmoretile">
					<a href="{% url "artist-gallery" dir_name=artist.dir_name subview="bydate" %}">
						View more...
					</a>
				</div>
			</div>

			{% if artist.num_favepics > 0 %}
				<div class="artist_newestpics">
					<h4>Most Popular Pictures:</h4>
					<div class="masonry">

						{% for picture in nine_most_popular_pictures %}
							<div class="offertile picturetile">
								<a
									id="picturetile_{{ picture.id }}"
									class="previewPopupTrigger"
									type="picture"
									itemid="{{ picture.id }}"
									href="{% url "picture" picture_id=picture.id %}"
								>
									<img
										src="{{ picture.thumbnail_url }}"
										width="60"
										height="{{ picture.thumb_height }}"
									/>
								</a>
								{{ picture.num_faves }} fave{{ picture.num_faves|pluralize }}
							</div>
						{% endfor %}

					</div>
					<div class="viewmoretile">
						<a href="{% url "artist-gallery" dir_name=artist.dir_name subview="popular" %}">
							View more...
						</a>
					</div>
				</div>
			{% endif %}

			{% if artist.show_coloring_cave %}
				<div class="artist_coloringpics">
					<h4>Colored Line-Art:</h4>
					<div class="masonry">

						{% for coloring_picture in last_nine_coloring_pictures %}
							<div class="offertile picturetile">
								<a
									id="picturetile_{{ coloring_picture.id }}"
									class="previewPopupTrigger"
									type="coloring_picture"
									itemid="{{ coloring_picture.id }}"
									href="{% url "coloring-cave" coloring_base_id=coloring_picture.base.id %}"
								>
									<img
										src="{{ coloring_picture.thumbnail_url }}"
										width="60"
										height="{{ coloring_picture.thumb_height }}"
									/>
								</a>
								{{ coloring_picture.date_posted }}
							</div>
						{% endfor %}

					</div>
					<div class="viewmoretile">
						<a href="{% url "coloring-cave-artist" dir_name=artist.dir_name %}">
							View more...
						</a>
					</div>
				</div>
			{% endif %}

		</div>

		<div class="artist_profile">

			<div class="artist_profiletable">

				{% if user.is_authenticated %}
					<a
						id="togglefaveartist_{{ artist.id }}"
						class="addfavorites {% if fave_artist %}isfave{% endif %}"
						href="javascript:nop()"
						onClick="toggleFave({{ artist.id }},'artist')"
						title="Follow this artist"
					></a>
					<a
						id="togglevisible_{{ artist.id }}"
						class="addvisible {% if fave_artist.is_visible %}isvisible{% endif %}"
						{% if not fave_artist %}style="display: none"{% endif %}
						href="javascript:nop()"
						onClick="toggleVisible({{ artist.id }})"
						title="Be visible to this artist"
					></a>
				{% endif %}

				<table class="profile">
					<tr>
						<td class="label">Pictures</td>
						<td class="data">
							<a href="{% url "artist-gallery" dir_name=artist.dir_name %}">
								{{ artist.num_pictures }}
							</a>
						</td>
					</tr>
					<tr>
						<td class="label">Characters</td>
						<td class="data">
							<a href="/Characters/?mode=fan&list=artist&term=${{ artist.id }}">
								{{ artist.num_characters }}
							</a>
						</td>
					</tr>
					<tr>
						<td class="label">Joined</td>
						<td class="data">
							{% if artist.date_joined_str %}
								{{ artist.date_joined|date:"M j, Y" }}
							{% else %}
								<span class="grayed-out">Before Feb 18 1999</span>
							{% endif %}
						</td>
					</tr>
					<tr>
						<td class="label">First Upload</td>
						<td class="data">{{ artist.first_upload|default_if_none:''|date:"M j, Y" }}</td>
					</tr>
					<tr>
						<td class="label">Latest Upload</td>
						<td class="data">{{ artist.last_upload|date:"M j, Y" }}</td>
					</tr>
					<tr>
						<td class="label">Age/Birthday</td>
						<td class="data">
							{% if artist.show_birthdate or artist.show_birthdate_age %}
								{% if artist.show_birthdate_age %}
									{% if artist.show_birthdate %}
										{{ artist.birth_date|date:"M j, Y" }} (age {{ artist.birthdate_age|default_if_none:'' }})
									{% else %}
										{{ artist.birthdate_age|default_if_none:'' }}
									{% endif %}
								{% else %}
									{{ artist.birth_date|date:"M j, Y" }}
								{% endif %}
							{% else %}
								{{ artist.birthday }}
							{% endif %}
						</td>
					</tr>
					<tr>
						<td class="label">Gender</td>
						<td class="data">{{ artist.gender|capfirst }}</td>
					</tr>
					{% if artist.pronouns %}
						<tr>
							<td class="label">Pronouns</td>
							<td class="data">{{ artist.pronouns }}</td>
						</tr>
					{% endif %}
					<tr>
						<td class="label">Location</td>
						<td class="data">{{ artist.location }}</td>
					</tr>
					<tr>
						<td class="label">Occupation</td>
						<td class="data">{{ artist.occupation }}</td>
					</tr>
					<tr>
						<td class="label">IM Contact</td>
						<td class="data">
							<table class="ims">
								{% for contact in artist.socialmediaidentity_set.all %}
									<tr>
										<td>{{ contact.social_media.name }}</td>
										<td>{{ contact.display_identity|safe }}</td>
									</tr>
								{% endfor %}
							</table>
						</td>
					</tr>
					<tr>
						<td class="label">Website</td>
						<td class="data">
							{% if artist.website and artist.website != 'http://' %}
								<a href="{{ artist.website }}">{{ artist.website|truncatechars:30 }}</a>
							{% endif %}
						</td>
					</tr>
					<tr>
						<td class="label">Email</td>
						<td class="data">
							{% if artist.email and artist.show_email %}
								<a href="mailto:{{ artist.email }}">{{ artist.email }}</a>
							{% endif %}
						</td>
					</tr>
					<tr>
						<td class="label">Accepting Requests or Commissions</td>
						<td class="data">{{ artist.accepting_commissions|yesno|capfirst }}</td>
					</tr>
					{% if user.is_authenticated and artist != user %}
						<tr>
							<td class="label"></td>
							<td class="data">
								<a href="{% url "artmanager:private-msgs-user" recipient_id=artist.id %}">
									Send Private Message
								</a>
							</td>
						</tr>
					{% endif %}
				</table>

			</div>

			<table class="artist_profile">
				<tr>
					<td>
						{% if artist.has_profile_pic %}
							<img class="profilepic" src="{{ artist.profile_pic_url }}" />
						{% endif %}

						<div class="artistdesc">
							{{ artist.description|bbcode|safe }}
						</div>
					</td>
				</tr>
			</table>

		</div>

		{% if artist.allow_shouts %}

			<div class="shouts-box">

				<div id="blockstatus"></div>

				{% if user.is_authenticated and not current_user_is_blocked %}

					<div class="commenttext commentreply shouts">
						<form name="commentform" onSubmit="return false">
							<textarea
								class="comment shout-text"
								name="shouttext"
								id="shouttext_{{ artist.id }}"
								placeholder="Roar to {{ artist.username }}"
							></textarea>
							<div class="commentbuttons">
								<button
									type="button"
									class="small"
									onClick="postShout({{ artist.id }},0)"
								>
									Post
								</button>
							</div>
						</form>
					</div>

				{% elif current_user_is_blocked %}

					<p class="comment-error">
						You are blocked from sending roars to this artist.
					</p>

				{% endif %}

				<div class="shouts-count">
					{{ artist.shouts_received.count }} roar{{ artist.shouts_received.count|pluralize }}
				</div>

				<div class="shouts-container" id="shouts" artistid="{{ artist.id }}"></div>

			</div>

		{% endif %}

		<br clear="all" />

		{% endblock %}

	</div>

{% endif %}

{% endblock %}
