{% extends "fanart/base.html" %}

{% block activetab_artwork %}active{% endblock %}

{% block grass %}
{% include "fanart/grass_artwork.html" %}
{% endblock %}

{% block body_prop %}tall{% endblock %}

{% block content %}

<div class="pagenav">
</div>


<div class="featurebox featureboxwide">
    <div class="itemlistheaders" id="artworkheaders">

        {% if user.is_authenticated %}
            <div class="itemlist">
            <a class="itemlistheading" href="javascript:nop()" onClick="listArtwork('unviewed',10)">
                <h2 class="itemlist {% if list == "unviewed" %}itemlist_selected{% endif %}" id="artworklisth2_unviewed">Watched & Unviewed</h2>
            </a>
            </div>
        {% endif %}

        <div class="itemlist">
            <a class="itemlistheading" href="javascript:nop()" onClick="listArtwork('newest',10)">
                <h2 class="itemlist {% if list == "newest" %}itemlist_selected{% endif %}" id="artworklisth2_newest">Newest</h2>
            </a>
        </div>
        <div class="itemlist">
            <a class="itemlistheading" href="javascript:nop()" onClick="listArtwork('newestfaves',10)">
                <h2 class="itemlist {% if list == "newestfaves" %}itemlist_selected{% endif %}" id="artworklisth2_newestfaves">Newest By Favorite Artists</h2>
            </a>
        </div>
        <div class="itemlist">
            <a class="itemlistheading" href="javascript:nop()" onClick="listArtwork('toprated',10)">
                <h2 class="itemlist {% if list == "toprated" %}itemlist_selected{% endif %}" id="artworklisth2_toprated">Top Rated</h2>
            </a>
        </div>
        <div class="itemlist">
            <a class="itemlistheading" href="javascript:nop()" onClick="listArtwork('topratedrecent',10)">
                <h2 class="itemlist {% if list == "topratedrecent" %}itemlist_selected{% endif %}" id="artworklisth2_topratedrecent">Top Rated Recent Uploads</h2>
            </a>
        </div>
        <div class="itemlist">
            <a class="itemlistheading" href="javascript:nop()" onClick="listArtwork('random',5)">
                <h2 class="itemlist {% if list == "random" %}itemlist_selected{% endif %}" id="artworklisth2_random">Randomly Selected</h2>
            </a>
        </div>
        <div class="itemlist">
            <a class="itemlistheading" href="javascript:nop()" onClick="listArtwork('search',0)">
                <h2 class="itemlist {% if list == "search" or list == "tag" or list == "character" %}itemlist_selected{% endif %}" id="artworklisth2_search">Search</h2>
            </a>
        </div>
    </div>
    <br clear="left" />

    <div id="artwork">
        {% include "includes/artwork-list.html" %}
    </div>

</div>


{% endblock %}
