{% load static %}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>The Lion King Fan-Art Archive{% block page_title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link title="TLKFAA" rel="stylesheet" href="{% static "css/style.css" %}" />

    {% include "includes/head_statics.html" %}

    <script type="text/javascript">
    {% if request.user.is_authenticated %}
    var tooltips_enabled = {{ request.user.tooltips_enabled|yesno:"true,false,true" }};
    {% else %}
    var tooltips_enabled = true;
    {% endif %}
    </script>

</head>
<body>

<div class="wrapper">

    <div class="top"><img id="simba" src="{% static "images/AdultSimba.gif" %}" /></div>

    <div class="header">
        <div class="logo">
            <a href="{% url "home" %}"><img src="{% static "images/fanart-header.png" %}" /></a>
        </div>
        <div class="logolegend">A <a href="http://www.lionking.org">lionking.org</a> site</div>
    </div>
    <div class="simbabottom"></div>

    <table class="layout">
        <tr>

        <!--content pane-->
            <td>

                <ul id="tabs">
                    <li class="tab main {% block activetab_home %}{% endblock %}">
                        <a href="{% url "home" %}"></a>
                    </li>
                    <li class="tab artists {% block activetab_artists %}{% endblock %}">
                        <a href="{% url "artists" %}"></a>
                    </li>
                    <li class="tab artwork {% block activetab_artwork %}{% endblock %}">
                        <a href="{% url "artwork" %}">
                        {% if request.user.unviewedpicture_set.count > 0 %}
                            <div class="badge">{{ request.user.unviewedpicture_set.count }}</div>
                        {% endif %}
                        </a>
                    </li>
                    <li class="tab characters {% block activetab_characters %}{% endblock %}">
                        <a href="{% url "characters" %}"></a>
                    </li>
                    <li class="tab tradingtree {% block activetab_tradingtree %}{% endblock %}">
                        <a href="{% url "trading-tree" %}"></a>
                    </li>
                    <li class="tab coloringcave {% block activetab_coloringcave %}{% endblock %}">
                        <a href="{% url "coloring-cave" %}"></a>
                    </li>
                    <li class="tab chamber_of_stars {% block activetab_chamber_of_stars %}{% endblock %}">
                        <a href="{% url "chamber-of-stars" %}"></a>
                    </li>
                </ul>

                <table class="contentpane">
                    <tr>
                        <td class="left"><div class="spacer"></div></td>
                        <td class="content">

                            {% block grass %}{% endblock %}

                            <div class="body {% block utility_page %}{% endblock %}">
                            <div class="bodyprop {% block body_prop %}{% endblock %}"></div>

                            <div class="dialog" id="dialog_confirm" title="Confirmation">
                                <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span><span id="dialog_confirm_text">Are you sure?</span></p>
                            </div>

                            {% block pagenav %}{% endblock %}

                            {% block content %}{% endblock %}

                        </td>
                        <td class="right"><div class="spacer"></div></td>
                    </tr>
                    <tr>
                        <td class="bottomleft"></td>
                        <td class="bottom"><div class="spacer"></div></td>
                        <td class="bottomright"></td>
                    </tr> 
                </table>

            </td>

            <!--Right Column-->
            <td class="userpane">

                {% include "fanart/userpane.html" %}

            </td>
        </tr>
    </table>

<div class="dialog" id="dialog_bulletin" title="Bulletin">
</div>

<div class="dialog" id="dialog_shout_reply" title="Reply to Roar">
    <textarea class="comment shout-reply-textarea" id="reply_shout"></textarea>
</div>

</div>

<div class="footer">
    <ul>
        <li><a href="{% url "about" %}" rel="shadowbox;width=500;height=600">About</a></li>
        <li><a href="{% url "tos" %}" rel="shadowbox;width=750;height=600">Terms of Use / Guidelines</a></li>
        <li><a href="{% url "privacy" %}" rel="shadowbox;width=500;height=600">Privacy Policy</a></li>
        <li><a href="{% url "help" %}" rel="shadowbox;width=500;height=600">Help</a></li>
    </ul>
    <div class="footertext">
    <p>Web design &copy; 1995-{% now "Y" %} <a href="mailto:{{ admin_email }}">{{ admin_name }}</a></p>
    </div>
</div>

{% block footer_js %}{% endblock %}

</body>
</html>

