{% extends "fanart/base.html" %}
{% load bbcode_tags %}

{% block page_title %} &mdash; Character: {{ character.name }}{% endblock %}

{% block activetab_characters %}active{% endblock %}

{% block grass %}
{% include "includes/grass_characters.html" %}
{% endblock %}

{% block body_prop %}tall{% endblock %}

{% block content %}

<h1>{{ character.name }}</h1>

<div class="featurebox">

    <div class="picture standalone">

        {% if character.is_canon %}
            <img class="fullsize preview" id="thepicture" src="{{ character.picture_url }}" />
        {% elif character.profile_picture %}
            <a href="javascript:nop()" onClick="togglePicture({{ character.profile_picture.id }})" title="{{ character.profile_picture.filename }} by {{ character.profile_picture.artist.username }}"><img class="fullsize preview" id="thepicture" src="{{ character.profile_picture.url }}" /></a>
        {% elif character.profile_coloring_picture %}
            <a href="javascript:nop()" onClick="togglePicture()" title="{{ character.profile_coloring_picture.filename }} by {{ character.profile_coloring_picture.artist.username }}"><img class="fullsize preview" id="thepicture" src="{{ character.profile_coloring_picture.url }}" /></a>
            <div class="directcaption">Colored line-art; <a href="{% url "picture" picture_id=character.profile_coloring_picture.base.picture_id %}">see original by {{ character.profile_coloring_picture.base.picture.artist.username }}</a></div>
        {% endif %}

        <div class="pictureheading">

            <div class="picturestats">
                <ul>
                    <li>{{ character.gender|capfirst }} {{ character.species }}</li>
                    <li>{{ character.date_created|date }}</li>
                    {% if character.story_title %}
                        <li>
                            {% if character.story_url %}
                                Source: <a target="_blank" href="{{ character.story_url }}">{{ character.story_title }}</a>
                            {% else %}
                                Source: {{ character.story_title }}
                            {% endif %}
                        </li>
                    {% endif %}
                {% if character.is_canon %}
                    <li><a href="{% url "characters" list="canon" %}">All Canon Characters</a></li>
                {% else %}
                    <li><a href="{% url "characters" list="search" %}?list=artist&term={{ character.owner.id }}">All Characters owned by {{ character.owner.username }}</a></li>
               {% endif %}
            </ul>
        </div>

        {% if character.is_canon %}
            Canon
        {% else %}
            <div class="owner">Owner: <a href="{% url "artist" dir_name=character.owner.dir_name %}">{{ character.owner.username }}</a></div>
            {% if character.creator and character.owner != character.creator %}
                <div class="creator">Created by <a href="{% url "artist" dir_name=character.creator.dir_name %}">{{ character.creator.username }}</a></div>
            {% endif %}
            {% if character.profile_picture and character.profile_picture.artist != character.owner %}
                Picture by <a href="{% url "picture" picture_id=character.profile_picture.id %}">{{ character.profile_picture.artist.username }}</a>
            {% endif %}
        {% endif %}

    </div>

    <div class="picturecaption">
        <h3>{{ character.name }}</h3>
        <div class="characterdescr">
            {{ character.description|bbcode|safe }}
	</div>
    </div>

    <br clear="right" />

    <div class="othercharacters">
        {% for other_character in other_characters %}
            <div class="offertile picturetile">
                <a href="{% url "character" character_id=other_character.id %}"><img class="characterpic" src="{{ other_character.thumbnail_url }}" /></a>
                <a href="{% url "character" character_id=other_character.id %}">{{ other_character.name }}</a><br />
                {% if other_character.is_canon %}(Canon){% else %}<a href="{% url "artist" dir_name=other_character.owner.dir_name %}">{{ other_character.owner.username }}</a>{% endif %}
                    <a href="javascript:nop()" onClick="filterCharacter({{ other_character.id }},'remove')">remove</a>
            </div>
        {% endfor %}
	<script type="text/javascript">
	var characterid = {{ character.id }};
	var otherchars = "{{ other_characters_param }}";
	</script>

    </div>

    {% if other_characters|length < 3 %}

        With another character:
        <div class="tagcharacters">
            <table class="formtable tagcharacters">
                <tr>
                    <td class="label">Canon</td>
                    <td class="data">
                        <select name="canoncharacter" id="canoncharacter_add" onChange="filterCharacter(this.options[this.selectedIndex].value,'add')">
                            <option value="0">(Select)</option>
                            {% for canon_character in canon_characters %}
                                <option value="{{ canon_character.id }}">{{ canon_character.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label">Other</td>
                    <td class="data"><input name="character" id="character_pick_add" onBlur="this.value=''" /></td>
                </tr>
            </table>
        </div>

    {% endif %}


    <br clear="right" />
    <div id="offerslayout">

        {% for character_picture in character_pictures|slice:"0:50" %}
            <div class="offertile picturetile">
                <a id="picturetile_{{ character_picture.id }}" class="previewPopupTrigger" type="picture" itemid="{{ character_picture.id }}" href="{% url "picture" picture_id=character_picture.id %}"><img class="" src="{{ character_picture.thumbnail_url }}" width="60" height="{{ character_picture.thumb_height }}" /></a>
                <a href="{% url "artist" dir_name=character_picture.artist.dir_name %}">{{ character_picture.artist.username }}</a>
            </div>
        {% endfor %}

    </div>

    {% if character_pictures.count > 50 %}
        <a class="button" href="{% url "artwork" list="character" %}?start=50&term={{ character.id }}{% if other_characters_param %},{{ other_characters_param }}{% endif %}">More</a>
    {% endif %}

</div>

{% endblock %}
