{% extends "fanart/base.html" %}
{% load humanize %}
{% load bbcode_tags %}

{% block activetab_characters %}active{% endblock %}

{% block grass %}
{% include "fanart/grass_characters.html" %}
{% endblock %}

{% block body_prop %}tall{% endblock %}

{% block content %}

<h1>Characters</h1>

<div class="featurebox">

<div class="selector">
    <a class="{% if mode == "canon" %}selected{% endif %}" href="{% url "characters" mode="canon" %}">Canon Characters</a>
    <a class="{% if mode == "fan" %}selected{% endif %}" href="{% url "characters" mode="fan" %}">Fan Characters</a>
    <a class="{% if mode == "mosttagged" %}selected{% endif %}" href="{% url "characters" mode="mosttagged" %}">Most Tagged</a>
    <a class="{% if mode == "recentlytagged" %}selected{% endif %}" href="{% url "characters" mode="recentlytagged" %}">Recently Tagged</a>
</div>

{% if mode == "canon" %}

    <h3>Canon Characters</h3>

    {% for character in characters %}
        <div class="character">
        <table>
            <tr>
                <td class="thumb">
                    <a href="{% url "character" character_id=character.id %}">
                        <img class="thumb characterpic" src="{{ character.preview_url }}" />
                    </a>
                </td>
                <td class="fullwidth">
                    <p class="charactername">
                        <a href="{% url "character" character_id=character.id %}">{{ character.name }}</a>
                    </p>
                    <p class="characterinfo">
                        Debut: <i>{{ character.story_title }}</i>
                    </p>
                    <p class="characterinfo">
                        Tagged in {{ character.num_pictures|intcomma }} pictures
                    </p>
                    <div class="characterdesc">
                        {{ character.description|bbcode|safe }}
                    </div>
                </td>
            </tr>
        </table>
        </div>
    {% endfor %}

{% elif mode == "fan" %}

    <h3>Original Fan Characters</h3>

    Artist: <input id="artist_pick_search" onFocus="this.value=''" />
    Species: <input id="species_pick_search" onFocus="this.value=''" />
    Name: <input id="character_pick_search" onFocus="this.value=''" />

    {{ pages_link.pages_nav|safe }}

    <div id="characterlist">
    {% for character in characters %}
        {% include "includes/character.html" %}
    {% endfor %}
    {% if not characters %}

        <h2>Most Popular Species</h2>

        {% for species in popular_species %}
            <div class="species">
                <a href="{% url "characters" mode="fan" %}?match=exact&list=species&term={{ species.species }}">{{ species.species }}</a> ({{ species.num_characters }})
            </div>
        {% endfor %}

    {% endif %}
    </div>

    {{ pages_link.pages_nav|safe }}

{% elif mode == "mosttagged" %}

    <h3>Most Tagged Characters</h3>

    {{ pages_link.pages_nav|safe }}

    <div id="characterlist">
        {% for character in characters %}
            {% include "includes/character.html" %}
        {% endfor %}
    </div>

    {{ pages_link.pages_nav|safe }}

{% elif mode == "recentlytagged" %}

    <h3>Recently Tagged Characters</h3>

    {{ pages_link.pages_nav|safe }}

    <div id="characterlist">
    {% for character in characters %}
        {% include "includes/character.html" %}
    {% endfor %}
    </div>

    {{ pages_link.pages_nav|safe }}

{% elif artist %}

    <h3>Characters Owned by {{ artist.username }}</h3>

    {{ pages_link.pages_nav|safe }}

    <div id="characterlist">
    {% for character in characters %}
        {% include "includes/character.html" %}
    {% endfor %}
    </div>

    {{ pages_link.pages_nav|safe }}

{% endif %}

</div>

{% endblock %}
