{% extends "fanart/base.html" %}
{% load bbcode_tags %}

{% block activetab_characters %}active{% endblock %}

{% block grass %}
{% include "fanart/grass_characters.html" %}
{% endblock %}

{% block body_prop %}tall{% endblock %}

{% block content %}

<%--
Characters/index.jsp
Main navigation page for viewing characters.
--%>

<jsp:include page="/inc_root/inc_header.jsp" />
<%@ include file="../inc_root/inc_functions.jsp" %>

<%@ page language="java" contentType="text/html; charset=UTF-8" %>

<%@ taglib prefix="sql" uri="http://java.sun.com/jsp/jstl/sql" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions" %>
<%@ taglib prefix="fanart" uri="http://fanart.lionking.org/jsp/jstl/fanart" %>

<sql:setDataSource dataSource="jdbc/Fanart" />

<c:catch var="catchException">
<fmt:parseNumber var="characterid" value="${param.characterid}" integerOnly="true" />
<fmt:parseNumber var="page" value="${param.page}" integerOnly="true" />
</c:catch>

<c:set var="count" value="50" />
<c:set var="querycount" value="${count + 1}" />

<c:set var="mode" value="canon" />
<c:if test="${param.mode == 'fan'}">
<c:set var="mode" value="fan" />
</c:if>
<c:if test="${param.mode == 'mosttagged'}">
<c:set var="mode" value="mosttagged" />
</c:if>
<c:if test="${param.mode == 'recentlytagged'}">
<c:set var="mode" value="recentlytagged" />
</c:if>
<c:if test="${page == null}">
<c:set var="page" value="1" />
</c:if>

<%--
<c:if test="${param.page > 0}">
<c:set var="page" value="${param.page}" />
</c:if>
--%>

	<h1>Characters</h1>

	<div class="featurebox">

	<div class="selector">
	<a class="{% if mode == "canon" %}selected{% endif %}" href="{% url "characters" mode="canon" %}">Canon Characters</a>
	<a class="{% if mode == "fan" %}selected{% endif %}" href="{% url "characters" mode="fan" %}">Fan Characters</a>
	<a class="{% if mode == "mosttagged" %}selected{% endif %}" href="{% url "characters" mode="mosttagged" %}">Most Tagged</a>
	<a class="{% if mode == "recentlytagged" %}selected{% endif %}" href="{% url "characters" mode="recentlytagged" %}">Recently Tagged</a>
	</div>

        {% if mode == "canon" %}

		<h3>Canon Characters</h3>

                {% for character in characters %}
			<div class="character">
			<table>
			<tr>
				<td class="thumb">
					<a href="{% url "character" character_id=character.id %}">
<!--					<img class="thumb characterpic" src="/Artwork/coloring/${character.profilepic_c}.s.jpg" />-->
					<img class="thumb characterpic" src="{{ MEDIA_URL }}/canon_characters/{{ character.id_orig }}.p.jpg" />
					</a>
				</td>
				<td class="fullwidth">
					<p class="charactername">
						<a href="{% url "character" character_id=character.id %}">{{ character.name }}</a>
					</p>
					<p class="characterinfo">
						Debut: <i>{{ character.story_title }}</i>
					</p>
					<p class="characterinfo">
						Tagged in {{ character.num_tagged }} pictures
					</p>
					<div class="characterdesc">
                                                {{ character.description|bbcode|safe }}
					</div>
				</td>
			</tr>
			</table>
			</div>
                {% endfor %}

        {% elif mode == "fan" %}
	</c:when>
	<c:when test="${mode == 'fan'}">

		<h3>Original Fan Characters</h3>

		Artist: <input id="artist_pick_search" onFocus="this.value=''" />
		Species: <input id="species_pick_search" onFocus="this.value=''" />
		Name: <input id="character_pick_search" onFocus="this.value=''" />

		<c:choose>
		<c:when test="${param.list == 'artist'}">
			<c:catch var="catchException">
			<fmt:parseNumber var="term" value="${param.term}" integerOnly="true" />
			</c:catch>
		</c:when>
		<c:when test="${param.list == 'species'}">
			<c:set var="term" value="${param.term}" />
		</c:when>
		</c:choose>

                {{ pages_link.pages_nav|safe }}

		<div id="characterlist">
                {% for character in characters %}
		<c:choose>
		<c:when test="${(param.list == 'artist' && term > 0) || (param.list == 'species' && term != '') || (param.list == 'charactername' && term != '')}">
                        {% include "includes/character.html" %}
			<jsp:include page="/ajax_listcharacters.jsp?list=${param.list}&term=${term}&page=${page}&mode=fan" />
		</c:when>
		<c:otherwise>
                {% endfor %}
                {% if not characters %}

			<h2>Most Popular Species</h2>

                        {% for species in popular_species %}
				<div class="species">
				<a href="{% url "characters" mode="fan" %}?match=exact&list=species&term={{ species.species }}">{{ species.species }}</a> ({{ species.num_characters }})
				</div>
                        {% endfor %}

		</c:otherwise>
		</c:choose>
                {% endif %}
		</div>

                {{ pages_link.pages_nav|safe }}

        {% elif mode == "mosttagged" %}
	</c:when>
	<c:when test="${mode == 'mosttagged'}">

		<h3>Most Tagged Characters</h3>

		<jsp:include page="/ajax_listcharacters.jsp?list=mosttagged&page=${page}" />

        {% elif mode == "recentlytagged" %}
	</c:when>
	<c:when test="${mode == 'recentlytagged'}">

		<h3>Recently Tagged Characters</h3>

		<jsp:include page="/ajax_listcharacters.jsp?list=recentlytagged&page=${page}" />

	</c:when>
	</c:choose>
        {% endif %}

	</div>

</c:otherwise>
</c:choose>

{% endblock %}
