{% extends "fanart/base.html" %}
{% load static %}

{% block activetab_coloringcave %}active{% endblock %}

{% block grass %}
{% include "fanart/grass_coloringcave.html" %}
{% endblock %}

{% block body_prop %}tall{% endblock %}

{% block content %}

<%--
ColoringCave.jsp
Allows artists to recolor others' base line-art and have it grouped both into their own galleries and with the original artwork.
--%>

<jsp:include page="inc_root/inc_header.jsp" />
<%@ include file="inc_root/inc_functions.jsp" %>

<%@ page language="java" contentType="text/html; charset=UTF-8" %>

<%@ taglib prefix="sql" uri="http://java.sun.com/jsp/jstl/sql" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %>
<%@ taglib prefix="fanart" uri="http://fanart.lionking.org/jsp/jstl/fanart" %>
<%@ taglib prefix="tags" tagdir="/WEB-INF/tags" %>

<sql:setDataSource dataSource="jdbc/Fanart" />

<c:catch var="catchException">
<fmt:parseNumber var="ccid" value="${param.ccid}" integerOnly="true" />
<fmt:parseNumber var="ccpid" value="${param.ccpid}" integerOnly="true" />
<fmt:parseNumber var="artistid" value="${param.artistid}" integerOnly="true" />
</c:catch>


<c:choose>
<c:when test="${param.fnc == 'postnew'}">

</c:when>
<c:when test="${param.fnc == 'remove'}">

</c:when>
</c:choose>

<h1>Coloring Cave</h1>

<c:choose>
<c:when test="${param.sortby == 'popularity'}">
	<c:set var="orderclause" value="ORDER BY numcolored DESC" />
	<c:set var="sortby" value="popularity" />
</c:when>
<c:otherwise>
	<c:set var="orderclause" value="ORDER BY coloring_base.posted DESC" />
	<c:set var="sortby" value="date" />
</c:otherwise>
</c:choose>

<c:choose>
<c:when test="${artistid > 0}">
	<c:set var="artistclause" value="AND coloring_base.artistid='${artistid}'" />
</c:when>
<c:when test="${ccartistid > 0}">
	<c:set var="artistclause" value="AND coloring_pics.artistid='${artistid}'" />
</c:when>
</c:choose>

<div class="featurebox">

<div class="selector">
Sort by:
<a class="{% if sort_by == "popularity" %}selected{% endif %}" href="{% url "coloring-cave" %}?sort_by=popularity">popularity</a>
<a class="{% if sort_by == "date" %}selected{% endif %}" href="{% url "coloring-cave" %}?sort_by=date">date posted</a>
</div>

{% if coloring_picture %}
<c:choose>
<c:when test="${ccpid > 0}">
	<sql:query var="qryCCPic">
	SELECT * FROM coloring_pics
	WHERE coloring_picid=?
	<sql:param value="${ccpid}" />
	</sql:query>
	<c:forEach var="ccpic" items="${qryCCPic.rows}">
		<c:set var="basepic" value="${ccpic.basepic}" />
		<%
		  String basepic = (String)pageContext.getAttribute("basepic").toString();
		  String ccpicid = (String)pageContext.getAttribute("ccpid").toString();
		  String url = "/ColoringCave.jsp?ccid="+basepic+"#"+ccpicid;
		  response.sendRedirect(url);
		%>
	</c:forEach>

	<div class="error">
	<h3>An error occurred</h3>
	<p>The specified coloring picture ID is invalid.</p>
	</div>

{% elif coloring_base %}
</c:when>
<c:when test="${ccid > 0}">

<script type="text/javascript">
var refreshThumbsInterval = null;

var checkThumbs = function() {
    var url = '/coloring/{{ coloring_base.id }}/status/';
    $.getJSON(url, function(data) {
        var continueChecking = false;
        for (coloring_picture_id in data) {
            $('img#claimthumb_' + coloring_picture_id).attr('src', data[coloring_picture_id].thumbnail_url);
            if (!data[coloring_picture_id].thumbnail_done) {
                continueChecking = true;
            }
        }
        if (!continueChecking) {
            clearInterval(refreshThumbsInterval);
        }
    });
};
</script>

	<sql:query var="qryCCBase">
	SELECT coloring_base.*,pictures.*,artistname,dirname,allowcomments FROM coloring_base,pictures,artists
	WHERE coloring_baseid=?
	AND coloring_base.pictureid=pictures.pictureid
	AND coloring_base.artistid=artists.artistid
	AND picpublic=true
	<sql:param value="${ccid}" />
	</sql:query>
	<c:forEach var="basepic" items="${qryCCBase.rows}">

                {% with picture=coloring_base.picture show_colored_pictures=True %}
                    {% include "includes/picture.html" %}
                {% endwith %}

                {% if coloring_base.is_active %}
		<c:choose>
		<c:when test="${basepic.active == true}">
			<form method="POST" id="ccform_${basepic.pictureid}">
			<table class="formtable">
			<tr>
			<td class="label">Select file</td>
			<td class="data"><input type="file" name="uploadfile" id="uploadfile" />
<input id="fileupload" type="file" name="picture" data-url="{% url "upload-coloring-picture" coloring_base_id=coloring_base.id %}">
</td>
			</tr>
			<tr>
			<td class="label">Comment</td>
			<td class="data"><textarea name="comment" id="comment"></textarea></td>
			</tr>
			<tr>
			<td colspan="2" class="buttons">
			<button type="button" onClick="uploadPicture('ccform_${basepic.pictureid}','uploadfile','cc_${basepic.pictureid}',null,false)">Upload Colored Picture</button>
			</td>
			</tr>
			</table>
			<input type="hidden" name="uploadop" value="ccpic" />
			<input type="hidden" name="itemid" value="${basepic.coloring_baseid}" />
                        {% csrf_token %}

<button type="submit">Upload</button>

<div id="progress">
    <div class="bar" style="width: 0%;"></div>
</div>

<script>
$(function () {
    $('#fileupload').fileupload({
        dataType: 'json',
        dropZone: null,
//        autoUpload: false,
        done: function (e, data) {
            var url = '/coloring/{{ coloring_base.id }}/';
            $('#cc_{{ coloring_base.id }}').load(url, function() {});
            refreshThumbsInterval = setInterval('checkThumbs()', 1000);
//            $.each(data.result.files, function (index, file) {
//                $('<p/>').text(file.name).appendTo(document.body);
//            });
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .bar').css(
                'width',
                progress + '%'
            );
        },
    });
});
</script>

			</form>
		</c:when>
                {% else %}
		<c:otherwise>
			<p>New colored versions cannot be posted for this line-art.</p>
		</c:otherwise>
		</c:choose>
                {% endif %}

	</c:forEach>

	<c:if test="${qryCCBase.rowCount == 0}">
		<sql:query var="qryCCBaseRemoved">
		SELECT * FROM coloring_base
		WHERE coloring_baseid=?
		<sql:param value="${ccid}" />
		</sql:query>
		<c:forEach var="ccbaseremoved" items="${qryCCBaseRemoved.rows}">
			<div class="picture">
			<jsp:include page="/ajax_colored.jsp?pictureid=${ccbaseremoved.pictureid}" />
			</div>
		</c:forEach>
	</c:if>

{% else %}
</c:when>
<c:otherwise>

<%--
	<sql:query var="qryCC">
	SELECT * FROM coloring_base,pictures,artists
	WHERE coloring_base.pictureid=pictures.pictureid
	AND coloring_base.artistid=artists.artistid
	AND coloring_base.visible=true
	AND coloring_base.posted > DATE_SUB(NOW(),INTERVAL 3 MONTH)
	${artistclause}
	${orderclause}
	LIMIT 100
	</sql:query>
--%>

	<sql:query var="qryCC">
	SELECT * FROM coloring_base,artists
	WHERE coloring_base.visible=true
	AND coloring_base.artistid=artists.artistid
<%--	AND coloring_base.posted > DATE_SUB(NOW(),INTERVAL 3 MONTH)--%>
	${artistclause}
	${orderclause}
	LIMIT 100
	</sql:query>

	<div id="offerslayout">

       {% if coloring_bases.count == 0 %}
		<div class="noentries">
		No coloring pictures.
		</div>
        {% endif %}

        {% for coloring_base in coloring_bases %}

		<div class="offertile cctile">
		<a href="{% url "coloring-cave" coloring_base_id=coloring_base.id %}">
                {% if coloring_base.picture.date_deleted == None %}
			<img class="" src="{{ MEDIA_URL }}Artwork/Artists/{{ coloring_base.picture.artist.dir_name }}/{{ coloring_base.picture.basename }}.s.jpg" width="60" height="{{ coloring_base.picture.thumb_height }}${ccbasepic.thumbheight}" />
                {% else %}
			<img src="{% static "images/LineArtRemoved.gif" %}" width="60" height="60" class="placeholdericon" />
                {% endif %}
		</a>
		<a href="{% url "artist" dir_name=coloring_base.picture.artist.dir_name %}">{{ coloring_base.picture.artist.username|truncatechars:13 }}</a><br />
		{{ coloring_base.date_posted|date:"n/j/Y" }}<br />
		{{ coloring_base.num_colored }} colored
		</div>

        {% endfor %}

	<br clear="left" />

	</div>

</c:otherwise>
</c:choose>
{% endif %}

</div>

<jsp:include page="inc_root/inc_lowerlayout.jsp" />
<jsp:include page="inc_root/inc_footer.jsp" />

{% endblock %}
