{% extends "fanart/base.html" %}
{% load static %}

{% block activetab_coloringcave %}active{% endblock %}

{% block grass %}
{% include "fanart/grass_coloringcave.html" %}
{% endblock %}

{% block body_prop %}tall{% endblock %}

{% block content %}

<h1>Coloring Cave</h1>

<div class="featurebox">

<div class="selector">
    Sort by:
    <a class="{% if sort_by == "popularity" %}selected{% endif %}" href="{% url "coloring-cave" %}?sort_by=popularity">popularity</a>
    <a class="{% if sort_by == "date" %}selected{% endif %}" href="{% url "coloring-cave" %}?sort_by=date">date posted</a>
</div>

{% if coloring_base %}
    {% if coloring_base.picture.date_deleted == None %}

<script type="text/javascript">
var refreshThumbsInterval = null;

var checkThumbs = function() {
    var url = '/coloring/{{ coloring_base.id }}/status/';
    $.getJSON(url, function(data) {
        var continueChecking = false;
        for (coloring_picture_id in data) {
            if ($('img#claimthumb_' + coloring_picture_id).attr('src') != data[coloring_picture_id].thumbnail_url) {
                $('img#claimthumb_' + coloring_picture_id).attr('src', data[coloring_picture_id].thumbnail_url);
            }
            if (!data[coloring_picture_id].thumbnail_done) {
                continueChecking = true;
            }
        }
        if (!continueChecking) {
            clearInterval(refreshThumbsInterval);
console.log(refreshThumbsInterval);
        }
    });
};
</script>

        {% with picture=coloring_base.picture show_colored_pictures=True hide_cc_link=True %}
            {% include "includes/picture.html" %}
        {% endwith %}

        {% if not user.is_authenticated %}
        {% elif coloring_base.is_active %}
            <form method="POST" id="ccform_{{ coloring_base.id }}">
                <table class="formtable">
                    <tr>
                        <td class="label">Select file</td>
                        <td class="data"><input id="fileupload" type="file" name="picture" data-url="{% url "upload-coloring-picture" coloring_base_id=coloring_base.id %}"></td>
                    </tr>
                    <tr>
                        <td class="label">Comment</td>
                        <td class="data"><textarea name="comment" id="comment"></textarea></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="buttons">
                            <button type="button" id="up_btn" class="start">Upload Colored Picture</button>
                        </td>
                    </tr>
                </table>
                <input type="hidden" name="uploadop" value="ccpic" />
                <input type="hidden" name="itemid" value="${basepic.coloring_baseid}" />
                {% csrf_token %}

<script>
$(function () {
//    $('#ccform_{{ coloring_base.id }}').fileupload({
    $('#fileupload').fileupload({
        dataType: 'json',
        dropZone: null,
//        autoUpload: false,
        done: function (e, data) {
            var url = '/coloring/{{ coloring_base.id }}/';
            $('#cc_{{ coloring_base.id }}').load(url, function() {});
            refreshThumbsInterval = setInterval('checkThumbs()', 1000);
//            $.each(data.result.files, function (index, file) {
//                $('<p/>').text(file.name).appendTo(document.body);
//            });
//            $('#progress .bar').addClass('no-border');
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .bar').css(
                'width',
                progress + '%'
            );
        },
        add: function (e, data) {            
            $("#up_btn").off('click').on('click', function () {
                data.submit();
                $('#progress .bar').removeClass('no-border');
            });
        },
    });
});
</script>

            </form>
        {% else %}
            <p>New colored versions cannot be posted for this line-art.</p>
        {% endif %}

    {% else %}

        {% with picture=coloring_base.picture show_colored_pictures=True hide_cc_link=True %}
            {% include "includes/picture.html" %}
        {% endwith %}

    {% endif %}

{% else %}

    <div id="offerslayout">

        {% if coloring_bases.count == 0 %}
            <div class="noentries">
                No coloring pictures.
            </div>
        {% endif %}

        {% for coloring_base in coloring_bases %}

            <div class="offertile cctile">
                <a href="{% url "coloring-cave" coloring_base_id=coloring_base.id %}">
                    {% if coloring_base.picture.date_deleted == None %}
                        <img class="" src="{{ coloring_base.thumbnail_url }}" width="60" height="{{ coloring_base.picture.thumb_height }}${ccbasepic.thumbheight}" />
                    {% else %}
                        <img src="{% static "images/LineArtRemoved.gif" %}" width="60" height="60" class="placeholdericon" />
                    {% endif %}
                </a>
                <a href="{% url "artist" dir_name=coloring_base.picture.artist.dir_name %}">{{ coloring_base.picture.artist.username|truncatechars:13 }}</a><br />
                {{ coloring_base.date_posted|date:"n/j/Y" }}<br />
                {{ coloring_base.num_colored }} colored
            </div>

        {% endfor %}

        <br clear="left" />

    </div>

{% endif %}

</div>

{% endblock %}
