{% extends "fanart/base.html" %}
{% load bbcode_tags %}

{% block activetab_showcases %}active{% endblock %}

{% block grass %}
{% include "fanart/grass_showcases.html" %}
{% endblock %}

{% block body_prop %}tall{% endblock %}

{% block content %}

<h1>Art Contests</h1>

<div class="featurebox">

    <div class="selector">
        Sort by:
        <a class="{% if sort_by == "artist" %}selected{% endif %}" href="{% url "contests" %}?sort_by=artist">artist</a>
        <a class="{% if sort_by == "startdate" %}selected{% endif %}" href="{% url "contests" %}?sort_by=startdate">newest</a>
        <a class="{% if sort_by == "deadline" %}selected{% endif %}" href="{% url "contests" %}?sort_by=deadline">deadline</a>
    </div>

    <div class="contest">
        {% if contest.type == "global" %}
            <a class="archive-link" href="{% url "contests" contest_type="global" %}?sort_by=deadline">Previous Contests</a>
            <h3>Archive-Wide Art Contest</h3>
            <p class="global-contest-blurb">
                Every couple of weeks, the Archive holds an art contest here on this page. The winner of the previous 
                contest chooses the theme, sets the length of time, and manages the pictures that other artists create 
                and submit to the contest for judging. Any logged-in user of the Archive can vote on their favorite 
                picture, and the winner sets up the next contest!
           </p>
       {% endif %}

       <div class="contest-title"><a href="{% url "contest" contest_id=contest.id %}">{{ contest.title }}</a></div>
       <div class="contest-artist">By <a href="{% url "artist" dir_name=contest.creator.dir_name %}">{{ contest.creator.username }}</a></div>
       <div class="contest-theme">
       <h4>Theme:</h4>
           {{ contest.description|bbcode|safe }}
    </div>

    <div class="contest-rules">
        <h4>Rules:</h4>
        {{ contest.rules|bbcode|safe }}
        <table class="infotable">
            <tr>
                <td>Multiple entries:</td>
                <td>{{ contest.allow_multiple_entries|yesno:"allowed,not allowed" }}</td>
            </tr>
            <tr>
                <td>Entries are:</td>
                <td>{{ contest.allow_anonymous_entries|yesno:"anonymous,not anonymous" }}</td>
            </tr>
            <tr>
                <td>Deadline:</td>
                <td>Midnight after {{ contest.date_end|date:"SHORT_DATE_FORMAT" }}<br />
                    {% if contest.is_ended %}
                        <b>(Contest is over)</b>
                    {% else %}
                        <b>({{ contest.days_left }} day{{ contest.days_left|pluralize }} left)</b>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>

</div>
<br clear="all" />

{% if user.is_authenticated and not contest.is_ended %}
    <form name="contestentryform" id="contestentryform" method="POST" action="{% url "contest-entry-create" contest_id=contest.id %}">
        <table class="formtable">
            <tr>
                <td class="label">Picture From Gallery</td>
                <td class="data" id="picselect">
                    <div id="pickpicture_new"></div>
                    <a href="{% url "picture-picker" target="contest" %}" onClick="" rel="shadowbox;width=500;height=600">select picture</a>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="buttons">
                    <button type="button" onClick="this.form.submit();" 1onClick="postSelectedPic(this.form)">Enter Picture</button>
                </td>
            </tr>
        </table>
        <input type="hidden" name="contestid" value="{{ contest.id }}" />
        <input type="hidden" name="picture" value="" />
        {% csrf_token %}
    </form>
        
    <form name="pickpictureform">
        <input type="hidden" name="item" value="contestpic" />
        <input type="hidden" name="itemid" value="new" />
        <input type="hidden" name="pictureid" value="" />
    </form>

    <form name="contestform" method="POST" action="{% url "contest-vote" contest_id=contest.id %}">
        <input type="hidden" name="entry" value="" />
        {% csrf_token %}
    </form>
{% endif %}

{% for entry in contest.winning_entries %}
    {% with picture=entry.picture place=forloop.counter contestform="document.contestform" %}
        {% include "includes/picture.html" %}
    {% endwith %}
{% endfor %}

</div>

{% endblock %}
