{% extends "fanart/base.html" %}
{% load bbcode_tags %}

{% block page_title %} &mdash; Contests{% endblock %}

{% block activetab_showcases %}active{% endblock %}

{% block grass %}
{% include "fanart/grass_showcases.html" %}
{% endblock %}

{% block body_prop %}tall{% endblock %}

{% block content %}

<h1>Art Contests</h1>

<c:if test="${artistid > 0}">
<c:set var="artistclause" value="AND coloring_base.artistid='${artistid}'" />
</c:if>

<div class="featurebox">

<div class="selector">
Sort by:
<a class="{% if sort_by == "artist" %}selected{% endif %}" href="{% url "contests" %}?sort_by=artist">artist</a>
<a class="{% if sort_by == "startdate" %}selected{% endif %}" href="{% url "contests" %}?sort_by=startdate">newest</a>
<a class="{% if sort_by == "deadline" %}selected{% endif %}" href="{% url "contests" %}?sort_by=deadline">deadline</a>
</div>


    <div>

        {% if contests.count == 0 %}
            <div class="noentries">
                No contests.
            </div>
        {% endif %}

        {% for contest in contests|slice:"0:20" %}

            <div class="contest">
                <table>
                    <tr>
                        <td class="contestinfo">
                            <div class="contestartist"><a href="{% url "artist" dir_name=contest.creator.dir_name %}">{{ contest.creator.username }}</a></div>
                            <div class="contesttitle"><a href="{% url "contest" contest_id=contest.id %}">{{ contest.title }}</a></div>
                            <div class="contestdeadline">
                                {% if contest.is_ended %}
                                    Ended {{ contest.date_end|date }}
                                {% else %}
                                    Contest ends {{ contest.date_end }} ({{ contest.days_left }} day{{ contest.days_left|pluralize }} left)
                                {% endif %}
                            </div>
                            <div class="contestdescr">{{ contest.description|bbcode|safe }}</div>
                        </td>
                        <td class="contestentries">
                            <div class="">
                                {% for contest_entry in contest.winning_entries|slice:"0:6" %}
                                    <img src="{{ contest_entry.picture.thumbnail_url }}" width="60" height="{{ contest_entry.picture.thumb_height }}" class="previewPopupTrigger" type="picture" itemid="{{ contest_entry.picture.id }}" />
                                {% endfor %}
                            </div>
                        </td>
                     </tr>
                </table>
            </div>

        {% endfor %}

    </div>

</div>

{% endblock %}
