{% extends "fanart/base.html" %}
{% load bbcode_tags %}

{% block activetab_special %}active{% endblock %}

{% block grass %}
{% include "fanart/grass_special.html" %}
{% endblock %}

{% block body_prop %}tall{% endblock %}

{% block content %}

<%--
Contests.jsp
Lists contests created by artists, as well as detailed contest views showing all entries.
--%>

<jsp:include page="inc_root/inc_header.jsp" />
<%@ include file="inc_root/inc_functions.jsp" %>
<jsp:useBean id="now" class="java.util.Date" scope="request" />

<%@ page language="java" contentType="text/html; charset=UTF-8" %>
<%@ page import="java.time.*,java.time.temporal.*" %>

<%@ taglib prefix="sql" uri="http://java.sun.com/jsp/jstl/sql" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %>
<%@ taglib prefix="fanart" uri="http://fanart.lionking.org/jsp/jstl/fanart" %>
<%@ taglib prefix="tags" tagdir="/WEB-INF/tags" %>

<sql:setDataSource dataSource="jdbc/Fanart" />

<c:catch var="catchException">
<fmt:parseNumber var="contestid" value="${param.contestid}" integerOnly="true" />
<fmt:parseNumber var="artistid" value="${param.artistid}" integerOnly="true" />
<fmt:parseNumber var="pictureid" value="${param.pictureid}" integerOnly="true" />
</c:catch>


<h1>Art Contests</h1>

<c:choose>
<c:when test="${param.sortby == 'artistname'}">
<c:set var="orderclause" value="ORDER BY artistname" />
<c:set var="sortby" value="artistname" />
</c:when>
<c:when test="${param.sortby == 'deadline'}">
<c:set var="orderclause" value="ORDER BY deadline DESC" />
<c:set var="sortby" value="deadline" />
</c:when>
<c:otherwise>
<c:set var="orderclause" value="ORDER BY startdate DESC" />
<c:set var="sortby" value="startdate" />
</c:otherwise>
</c:choose>

<c:if test="${artistid > 0}">
<c:set var="artistclause" value="AND coloring_base.artistid='${artistid}'" />
</c:if>

<div class="featurebox">

<div class="selector">
Sort by:
<a class="{% if sort_by == "artist" %}selected{% endif %}" href="{% url "contests" %}?sort_by=artist">artist</a>
<a class="{% if sort_by == "startdate" %}selected{% endif %}" href="{% url "contests" %}?sort_by=startdate">newest</a>
<a class="{% if sort_by == "deadline" %}selected{% endif %}" href="{% url "contests" %}?sort_by=deadline">deadline</a>
</div>


    <div>

        {% if contests.count == 0 %}
            <div class="noentries">
                No contests.
            </div>
        {% endif %}

        {% for contest in contests|slice:"0:20" %}

            <div class="contest">
                <table>
                    <tr>
                        <td class="contestinfo">
                            <div class="contestartist"><a href="{% url "artist" dir_name=contest.creator.dir_name %}">{{ contest.creator.username }}</a></div>
                            <div class="contesttitle"><a href="{% url "contest" contest_id=contest.id %}">{{ contest.title }}</a></div>
                            <div class="contestdeadline">
                                {% if contest.is_ended %}
                                    Ended {{ contest.date_end|date }}
                                {% else %}
                                    Contest ends {{ contest.date_end }} ({{ contest.days_left }} day{{ contest.days_left|pluralize }} left)
                                {% endif %}
                            </div>
                            <div class="contestdescr">{{ contest.description|bbcode|safe }}</div>
                        </td>
                        <td class="contestentries">
                            <div class="">
                                {% for contest_entry in contest.winning_entries|slice:"0:6" %}
                                    <img src="{{ contest_entry.picture.thumbnail_url }}" width="60" height="{{ contest_entry.picture.thumb_height }}" class="previewPopupTrigger" type="picture" itemid="{{ contest_entry.picture.id }}" />
                                {% endfor %}
                            </div>
                        </td>
                     </tr>
                </table>
            </div>

        {% endfor %}

    </div>

</div>

{% endblock %}
