
{% extends "fanart/base.html" %}
{% load bbcode_tags %}

{% block activetab_showcases %}active{% endblock %}

{% block grass %}
{% include "fanart/grass_showcases.html" %}
{% endblock %}

{% block body_prop %}tall{% endblock %}

{% block content %}

<h1>Your Favorite Pictures</h1>

<div class="featurebox">

    {% if user.is_authenticated %}

        {{ pages_link.pages_nav|safe }}

        {% for favorite_picture in favorite_pictures reversed %}
            {% with picture=favorite_picture.picture pic_number=forloop.revcounter pictures=favorite_pictures pictures_paginator=favorite_pictures_paginator %}
                {% include "includes/picture.html" %}
            {% endwith %}
        {% endfor %}

        {% if favorite_pictures|length == 0 %}
            No favorite pictures yet.
        {% endif %}

    {% else %}

        <div class="error">
            <h3>Not logged in</h3>
            This page is not available unless you are signed in. Please log in at the upper right.
        </div>

    {% endif %}

</div>

{% endblock %}
