{% extends "fanart/base_popup.html" %}

{% block content %}

<div class="popcontent">

<h1>Getting Help</h1>

<p>
If you have any questions, or experience any difficulties using the TLKFAA site, please send an email to {{ admin_name }} at <a href="mailto:{{ admin_email }}">{{ admin_email }}</a>.
</p>

<p>
To report abuse (e.g. other members posting stolen or objectionable artwork, or acting in a disruptive manner), please provide links to any supporting evidence that is available. All complaints
are addressed in as fair and evenhanded a manner as possible, and are acted upon on the basis of the evidence shown.
</p>

</div>

{% endblock %}
