{% extends "fanart/base.html" %}
{% load bbcode_tags %}

{% block activetab_home %}active{% endblock %}

{% block grass %}
{% include "fanart/grass_home.html" %}
{% endblock %}

{% block body_prop %}{% endblock %}

{% block content %}

<div class="frontpagebanners">

    <div id="adminannouncements">
        <h3>Admin Announcements</h3>
        <div id="adminannouncements_inner" class="bulletinsinner bulletinsscroll">
        {% include "fanart/admin_announcements.html" %}
        </div>
        <div id="adminannouncementsmore">
        <button class="small" onClick="getMoreAdminAnnouncements(adminannouncementsshown,10)">More</button>
        </div>
    </div>

    <div id="bulletins">
        <h3>Bulletins</h3>
        <div id="bulletins_inner" class="bulletinsinner bulletinsstatic">
        {% include "fanart/bulletins.html" %}
        </div>
        <div id="bulletinsmore">
        <button class="small" onClick="getMoreBulletins(bulletinsshown,10)">More</button>
        </div>
    </div>

    {% if current_contest %}
    <div class="current-contest">
        <h3>Current Art Contest</h3>
        <p class="contest-title"><a href="/Contests.jsp?contestid=${currentContest.contestid}">{{ current_contest.title }}</a></p>
	<div class="contest-theme">
                {{ current_contest.description|bbcode|safe }}
	</div>
        <p>{{ current_contest.contestentry_set.count }} entr{{ current_contest.contestentry_set.count|pluralize:"y,ies" }}</p>
        {% if current_contest.is_ended %}
            Winner: {{ current_contest.get_winner.picture.artist.username }}
        {% else %}
            <p><b>({{ current_contest.days_left }} day{{ current_contest.days_left|pluralize }} left)</b></p>
        {% endif %}
    </div>
    {% endif %}

</div>

<div class="featurebox">

{% for artist in recently_active_artists %}
<c:forEach var="artist" items="${qryArtists.rows}">

	<c:set var="i" value="0" />
        {% for picture in artist.recently_uploaded_pictures %}
	<c:forEach var="picture" items="${qryPictures.rows}">

		<c:set var="i" value="${i+1}" />
                {% if forloop.counter == 1 %}

                    {% include "includes/picture.html" %}

		<c:choose>
		<c:when test="${i == 1}">
			<c:set var="picnumber" value="${picnumber+1}" />
			<c:set var="title" value="${picture.title}" />
			<tags:printPicture
				pictureid="${picture.pictureid}"
				basename="${picture.basename}"
				extension="${picture.extension}"
				type="${picture.type}"
				title="<%= formatText((String)pageContext.getAttribute(\"title\")) %>"
				artistname="${artist.artistname}"
				dirname="${artist.dirname}"
				width="${picture.width}"
				height="${picture.height}"
				thumbheight="${picture.thumbheight}"
				allowcomments="${picture.allowcomments_p && artist.allowcomments}"
				numcomments="${picture.numcomments}"
				numpicfaves="${picture.numpicfaves}"
				gallery="last5"
				folder="${picture.folderid}"
				>
				<jsp:attribute name="uploaded">
					<fmt:formatDate value="${picture.uploaded}" type="both" pattern="HH:mm E M/d/yyyy" />
				</jsp:attribute>
				<jsp:attribute name="filesize">
					<fmt:formatNumber value="${picture.filesize / 1024}" type="number" pattern="###" />
				</jsp:attribute>
			</tags:printPicture>
		</c:when>
                {% else %}
		<c:otherwise>
                        {% if forloop.counter == 2 %}
				<div class="also-today group masonry">
                        {% endif %}

			<div class="offertile picturetile">
			<a id="picturetile_{{ picture.id }}" class="previewPopupTrigger" type="picture" itemid="{{ picture.id }}" href="/Picture.jsp?pictureid=${picture.pictureid}"><img src="{{ settings.MEDIA_URL }}{{ artist.dir_name }}/{{ picture.basename }}.s.jpg" width="60" height="{{ picture.thumb_height }}" /></a>
                        {{ picture.date_uploaded|date:"H:m D n/j/Y" }}
			</div>

                        {% if forloop.counter == artist.recently_uploaded_pictures|length %}
				</div>
                        {% endif %}
		</c:otherwise>
		</c:choose>
                {% endif %}

	</c:forEach>
        {% endfor %}

</c:forEach>
{% endfor %}

<a class="button" href="/Artwork/?list=newest">More Recent Artwork</a>

</div>

<div class="featurebox">

<%--
<div class="birthday clearAfter">
	<sql:query var="qryBdayToday">
	SELECT *,
	YEAR(birthdate) AS bdyear,
	DATEDIFF(DATE_ADD(NOW(),INTERVAL 180 DAY),birthdate) as daysdiff
	FROM artists
	WHERE MONTH(birthdate)=MONTH(NOW())
	AND DAY(birthdate)=DAY(NOW())
	AND active=true
	AND enabled=true
	AND numpictures>0
	AND showbirthdate=true
	ORDER BY artistname
	</sql:query>

	<c:if test="${qryBdayToday.rowCount > 0}">
	<div>Happy birthday to:</div>
	<table>
	<c:forEach var="bdartist" items="${qryBdayToday.rows}">
		<tr>
		<td><a href="/Artists/${bdartist.dirname}/">${bdartist.artistname}</a></td>
		<td><c:if test="${bdartist.showbirthdate_age == true && bdartist.bdyear > 0}"><fmt:formatNumber value="${bdartist.daysdiff / 365}" type="number" pattern="###" /></c:if></td>
		</tr>
	</c:forEach>
	</table>
	</c:if>
	<div class="birthdaylink"><a href="pop_birthdays.jsp" rel="shadowbox;width=500;height=600">Upcoming Birthdays</a></div>
<br clear="all" />
</div>
--%>

<jsp:include page="inc_root/inc_aotm.jsp" />

</div>

{% endblock %}

<jsp:include page="inc_root/inc_lowerlayout.jsp" />
<jsp:include page="inc_root/inc_footer.jsp" />

