{% extends "fanart/base.html" %}
{% load bbcode_tags %}
{% load humanize %}
{% load util_tags %}

{% block activetab_home %}active{% endblock %}

{% block grass %}
{% include "includes/grass_home.html" %}
{% endblock %}

{% block body_prop %}tall{% endblock %}

{% block content %}

<div class="frontpagebanners">

    <div class="banner-block" id="adminannouncements">
        <a class="float-right" target="_blank" href="https://twitter.com/LionKingFanArt"><i class="fab fa-twitter"></i></a>
        <h3>Admin Announcements</h3>
        <div id="adminannouncements_inner" class="bulletinsinner bulletinsscroll" bulletin_type="admin_announcements"></div>
        <div id="adminannouncementsmore">
            {% if last_revision_log.is_recent %}
                <a class="float-right revision-log-recent" href="{% url "revision-log" %}">Revision Log (updated {{ last_revision_log.date_created|timesince|upto:"," }} ago)</a>
            {% else %}
                <a class="float-right" href="{% url "revision-log" %}">Revision Log</a>
            {% endif %}
        </div>
    </div>

    <div class="banner-block" id="bulletins">
        <h3>Bulletins</h3>
        <div id="bulletins_inner" class="bulletinsinner bulletinsstatic without-footer" bulletin_type="bulletins">
            <div class="bulletins_content"></div>
        </div>
    </div>

    {% if current_contest %}
    <div class="banner-block current-contest">
        <h3>Current Art Contest</h3>
        <p class="contest-title"><a href="{% url "contest" contest_id=current_contest.id %}">{{ current_contest.title }}</a></p>
	<div class="contest-theme">
                {{ current_contest.description|bbcode|safe }}
	</div>
        <p>{{ current_contest.contestentry_set.count }} entr{{ current_contest.contestentry_set.count|pluralize:"y,ies" }}</p>
        {% if current_contest.is_ended %}
            Winner: {{ current_contest.get_winner.picture.artist.username }}
        {% elif current_contest.days_left == 0 %}
            <b>({{ current_contest.hours_left }} hour{{ current_contest.hours_left|pluralize }} left)</b>
        {% else %}
            <p><b>({{ current_contest.days_left }} day{{ current_contest.days_left|pluralize }} left)</b></p>
        {% endif %}
    </div>
    {% endif %}

    <div class="banner-block" id="upcoming_birthdays">
        <h3>Upcoming Birthdays</h3>
        <div class="birthdays-scroll">
        {% for birthday in upcoming_birthdays %}
            <div class="upcoming-birthday">
                <p class="float-right">{{ birthday.next_birthday|date:"M j" }}</p>
                <p><a href="{% url "artist" dir_name=birthday.dir_name %}">{{ birthday.username }}</a>
                {% if birthday.show_birthdate_age %}
                    <span class="birthday-age">{{ birthday.age }}</span>
                {% endif %}
                </p>
            </div>
        {% endfor %}
        </div>
    </div>

</div>

<div class="random-popular">
{% include "includes/random_popular.html" %}
</div>

<div class="group">
<div class="featurebox front-page">

{% for artist in recently_active_artists %}

    {% for picture in artist.recently_uploaded_pictures %}

        {% if forloop.counter == 1 %}

            {% with False as view_unviewed_picture %}
                {% include "includes/picture.html" %}
            {% endwith %}

        {% else %}

            {% if forloop.counter == 2 %}
                <div class="also-today group masonry">
            {% endif %}

            <div class="offertile picturetile">
                <a id="picturetile_{{ picture.id }}" class="previewPopupTrigger" type="picture" itemid="{{ picture.id }}" href="{% url "picture" picture_id=picture.id %}"><img src="{{ picture.thumbnail_url }}" width="60" height="{{ picture.thumb_height }}" /></a>
                {{ picture.date_uploaded|date }}
            </div>

            {% if forloop.counter == artist.recently_uploaded_pictures|length %}
                </div>
            {% endif %}

        {% endif %}

    {% endfor %}

{% endfor %}

<a class="button" href="{% url "artwork" list="newest" %}">More Recent Artwork</a>

</div>
</div>

<div class="featurebox">

{% include "includes/aotm.html" %}

</div>

{% endblock %}

