{% extends "fanart/base_popup.html" %}

{% block content %}

<div class="popcontent">

<h1>TLKFAA Privacy Policy</h1>

<h3>What information do we collect?</h3>

<p>
Members of the TLKFAA may, at their option, choose to submit certain personally identifiable information to enhance the service provided by 
the site. This information may include the member's name, email address, occupation, location, birthdate, Instant Messaging contact methods, 
and other information furnished solely at the discretion of each member.
</p>

<p>
This information is collected from registered users of the site. Visitors to the site may, however, choose to browse anonymously, by not 
registering a profile.
</p>

<h3>What is this information used for?</h3>

<p>
Information provided by each member is used to help enhance the experience of the site, by facilitating community interaction such as 
posting art, commenting, and observing the details of other members such as birthdate and location. Members who "favorite" other artists or 
their pictures may be revealed as "fans" of those artists or pictures, though this information is disclosed only to the artist in question 
and is not displayed publicly.
</p>

<p>
We will never use or share any personally identifiable information collected from TLKFAA members for any form of mass marketing, service 
offerings, studies, or for any other reason except as may be required by law.
</p>

<h3>Will this Policy change?</h3>

<p>
We may revise this Privacy Policy at any time. Any material changes to the substance of the Policy will be announced here on this page.
</p>

</div>

<p>
This Policy page was last revised on December 25, 2010.
</p>

{% endblock %}
