{% extends "artmanager/base.html" %}
{% load bbcode_tags %}

{% block content %}

<h1>Password Recovery</h1>

<div class="am_panel">
    <div class="am_tabs">
        <a href="{% url "recovery" %}" class="selected">Password Recovery</a>
    </div>
<div class="am_content">

<h2>Recover Your Profile Name / Password</h2>

{% block recovery_content %}
<div class="pageinfo">
    <p>If you have forgotten your profile name or your password, you can recover it here.</p>
</div>

<div id="recovery">
    <form method="POST" action="{% url "recovery-reset" %}">
        <div class="pageinfo">
            <p>Enter either your profile name or your email address to recover your password.</p>
        </div>

        <table class="formtable">
            <tr>
                <td class="label">Profile Name</td>
                <td class="data"><input name="username" class="std" id="artist_pick_recover" /></td>
            </tr>
            <tr>
                <td class="label">Email</td>
                <td class="data"><input name="email" class="std" /></td>
            </tr>
            <tr>
                <td colspan="2" class="buttons">
                    <button type="submit">Send Recovery Email</button>
                </td>
            </tr>
        </table>
        {% csrf_token %}
    </form>
</div>
{% endblock %}

{% endblock %}
