{% extends "fanart/base.html" %}
{% load bbcode_tags %}

{% block page_title %} &mdash; Special Features{% endblock %}

{% block activetab_showcases %}active{% endblock %}

{% block grass %}
{% include "includes/grass_showcases.html" %}
{% endblock %}

{% block body_prop %}tall{% endblock %}

{% block content %}

{% if showcase %}

    <div class="featurebox">

        <h2>{{ showcase.title }}</h2>
        <div class="pageinfo">
            <p>{{ showcase.description|safe }}</p>
        </div>

        {{ pages_link.pages_nav|safe }}

        {% for picture in pictures reversed %}
            {% with forloop.revcounter as pic_number %}
                {% include "includes/picture.html" %}
            {% endwith %}
        {% endfor %}

    </div>

{% else %}

    <div class="featurebox">


        <a class="archive-link" href="{% url "contests" contest_type="global" %}?sort_by=deadline">Previous Contests</a>
        <h2>Current Art Contest</h2>

        <div class="contest">

            <h3><a href="{% url "contest" contest_id=contest.id %}">{{ contest.title }}</a></h3>

            <div class="contestdetails">

                <div class="contesttheme">
                    {{ contest.description|bbcode|safe }}
                </div>

                <div class="contestrules">
                    {{ contest.rules|bbcode|safe }}
                </div>

                <br clear="all" />
            </div>
        </div>

        {% if contest.is_ended %}
            Winning entries:
        {% else %}
            Some random entries:
        {% endif %}

        <div class="masonry">
            {% for entry in contest_entries %}
                <div class="offertile picturetile">
                    <a id="picturetile_{{ entry.picture.id }}" class="previewPopupTrigger" type="picture" itemid="{{ entry.picture.id }}" popupheight="50" href="{{ entry.picture.url }}"" rel="shadowbox[contest]"><img src="{{ entry.picture.thumbnail_url }}" width="60" height="{{ entry.picture.thumb_height }}" /></a>
                </div>
            {% endfor %}
        </div>

    </div>

    {% for showcase in showcases %}

        <div class="featurebox">

            <h2><a href="{% url "showcases" showcase_id=showcase.id %}">{{ showcase.title }}</a></h2>

            <div class="pageinfo">
                <p>{{ showcase.description|safe }}</p>
            </div>

            <div class="masonry">
                {% for picture in showcase.pictures|slice:":20" %}
                    <div class="offertile picturetile">
                        <a id="picturetile_{{ picture.id }}" class="previewPopupTrigger" type="picture" itemid="{{ picture.id }}" href="{{ picture.url }}" rel="shadowbox[showcase_{{ showcase.id }}]"><img src="{{ picture.thumbnail_url }}" width="60" height="{{ picture.thumb_height }}" /></a>
                    </div>
                {% endfor %}
            </div>

        </div>

    {% endfor %}

{% endif %}

{% endblock %}
