{% extends "fanart/base.html" %}
{% load bbcode_tags %}

{% block activetab_special %}active{% endblock %}

{% block grass %}
{% include "fanart/grass_special.html" %}
{% endblock %}

{% block body_prop %}tall{% endblock %}

{% block content %}

{% if special %}

    <div class="featurebox">

        <h2>{{ special.title }}</h2>
        <div class="pageinfo">
            <p>{{ special.description|bbcode|safe }}</p>
        </div>

        {{ pages_link.pages_nav|safe }}

        {% for picture in pictures reversed %}
            {% with forloop.revcounter as pic_number %}
                {% include "includes/picture.html" %}
            {% endwith %}
        {% endfor %}

    </div>

{% else %}

    <div class="featurebox">


        <a class="archive-link" href="/Contests.jsp?type=global&sortby=deadline">Previous Contests</a>
        <h2>Current Art Contest</h2>

        <div class="contest">

            <h3><a href="/Contests.jsp?contestid=${contest.contestid}">{{ contest.title }}</a></h3>

            <div class="contestdetails">

                <div class="contesttheme">
                    {{ contest.description|bbcode|safe }}
                </div>

                <div class="contestrules">
                    {{ contest.rules|bbcode|safe }}
                </div>

                <br clear="all" />
            </div>
        </div>

        {% if contest.is_ended %}
            Winning entries:
        {% else %}
            Some random entries:
        {% endif %}

        <div class="masonry">
            {% for entry in contest_entries %}
                <div class="offertile picturetile">
                    <a id="picturetile_{{ entry.picture.id }}" class="previewPopupTrigger" type="picture" itemid="{{ entry.picture.id }}" popupheight="50" href="{{ entry.picture.url }}"" rel="shadowbox[contest]"><img src="{{ entry.picture.thumbnail_url }}" width="60" height="{{ entry.picture.thumb_height }}" /></a>
                </div>
            {% endfor %}
        </div>

    </div>

    {% for special in specials %}

        <div class="featurebox">

            <h2><a href="{% url "special" special_id=special.id %}">{{ special.title }}</a></h2>

            <div class="pageinfo">
                <p>{{ special.description|bbcode|safe }}</p>
            </div>

            <div class="masonry">
                {% for picture in special.pictures|slice:":20" %}
                    <div class="offertile picturetile">
                        <a id="picturetile_{{ picture.id }}" class="previewPopupTrigger" type="picture" itemid="{{ picture.id }}" href="{{ picure.url }}" rel="shadowbox[special_{{ special.id }}]"><img src="{{ picture.thumbnail_url }}" width="60" height="{{ picture.thumb_height }}" /></a>

{% comment %}
			<script type="text/javascript">
			  $('a#picturetile_${picture.pictureid}').wTooltip({
			    ajax: "/ajax_tooltip_picture.jsp?pictureid=${picture.pictureid}"
			  });
			</script>
{% endcomment %}
                    </div>
                {% endfor %}
            </div>

        </div>

    {% endfor %}

{% endif %}

{% endblock %}
