{% extends "fanart/base_popup.html" %}

{% block content %}

<div class="popcontent">

<h1>TLKFAA Terms of Use</h1>

<p>In using The Lion King Fan-art Archive, you agree to abide by the following terms:<p>

<ul>
<li>You must maintain an active, working email address as a means of contact in your profile. This email address will not be displayed publicly on the TLKFAA without your permission.</li>
<li>You must be at least 13 years of age, or have obtained parental/guardian permission to maintain a profile on the TLKFAA using the <a target="_blank" href="PermissionForm.pdf">Under-13 
Permission Form</a>.</li>
<li>You are responsible for any and all activity that occurs using your profile.</li>
<li>In submitting artwork to the TLKFAA, you must adhere to the <a href="#guidelines">Uploading Guidelines</a> (see below) which govern acceptable content for the site. In particular, you must not 
upload art that contains mature or "adult" subject matter, including violence, drug use, gore, and sexuality; you also must not upload any artwork that you did not create yourself.</li>
<li>In participating in the TLKFAA community, including (but not limited to) commenting on pictures, sending private messages to other users, using the Sketcher, and using the Trading Tree 
and other features, you must be respectful of the other members of the community and refrain from disruptive behavior that negatively affects the community or the operation of the TLKFAA
site.</li>
<li>You must not decorate your Gallery page in a way that may be offensive or disturbing to visitors, particularly children.</li>
</ul>

<p>
Failure to abide by these terms may result in the suspension or removal of your profile, at the discretion of the TLKFAA administration.
</p>

<a name="guidelines"></a>
{% include "includes/guidelines.html" %}

</div>

<p>
This Terms of Service page was last revised on January 11, 2011.
</p>

{% endblock %}
