<div id="genstatus"></div>


<div class="userbox">
<div class="userboxinner" id="loginbox">

{% if user.is_authenticated %}

<p>
Logged in as 
{% if user.is_artist %}
<a href="/Artists/${artist.dirname}/">{{ user.username }}</a>
{% else %}
${artist.artistname}
{% endif %}
</p>

<a class="button smallbutton" href="{% url "artmanager:home" %}">{% if user.is_artist %}ArtManager{% else %}Profile{% endif %}</a>
<a class="button smallbutton" href="{% url "logout" %}">Log out</a>

{% if user.unread_received_pms_count > 0 %}
<div class="unread-pms">{{ user.unread_received_pms_count }} unread PM{{ user.unread_received_pms_count|pluralize }}</div>
{% else %}
<div class="unread-pms no-unread">No unread PMs</div>
{% endif %}

{% else %}

<form name="loginform" method="post" action="{% url "login" %}" !onSubmit="return doLogin()">
{% csrf_token %}

<table class="formtable">
<tr>
<td class="label">Artist login</td>
<td class="data"><input type="text" name="username" id="artistlogin" /></td>
</tr>
<tr>
<td class="label">Password</td>
<td class="data"><input type="password" name="password" id="artistpasswd" /></td>
</tr>
<tr>
<td colspan="2" class="buttons">
<button type="submit" class="small">Log In</button>
<a class="button smallbutton lightbutton" href="/Register.jsp">Register</a>
<a class="button smallbutton lightbutton" href="/Recovery.jsp">Forgot?</a>
</td>
</tr>
</table>

<input type="hidden" name="next" value="{% url "home" %}" />
</form>

<c:set var="loggedin" scope="session" value="0" />

</c:otherwise>
</c:choose>
{% endif %}

</div>
</div>


{% if user.is_authenticated %}

<div class="userbox">
<h1>
<a id="favorite_artists_toggle" class="toggle {% if request.session.favorite_artists %}toggleopen{% else %}toggleclosed{% endif %}" href="javascript:nop()" onclick="toggleUserBox('favorite_artists')"></a>
Favorite Artists</h1>
<div class="userboxinner {% if not request.session.favorite_artists %}hidden{% endif %}" id="favorite_artists">

{% if request.session.favorite_artists %}
{% include "fanart/userpane/favorite_artists.html" %}
<script type="text/javascript">
showUserBox["favorite_artists"] = 1;
</script>
{% else %}
<script type="text/javascript">
showUserBox["favorite_artists"] = 0;
</script>
{% endif %}

</div>
<div class="userboxfooter">
{{ user.artists_watched|length }} artist{{ user.artists_watched|length|pluralize }} watched
</div>
</div>


<div class="userbox">
<h1>
<a id="favoritepicturesbox_toggle" class="toggle {% if user.show_favorite_pictures_box %}toggleopen{% else %}toggleclosed{% endif %}" href="javascript:nop()" onclick="toggleUserBox('favoritepicturesbox')"></a>
Favorite Pictures</h1>
<div class="userboxinner <c:if test="${user.showfavoritepicturesbox == false}">hidden</c:if>" id="favoritepicturesbox">

<c:choose>
<c:when test="${user.showfavoritepicturesbox == true}">
<jsp:include page="/ajax_favoritepicturesbox.jsp" />
<script type="text/javascript">
showUserBox["favoritepicturesbox"] = 1;
</script>
</c:when>
<c:otherwise>
<script type="text/javascript">
showUserBox["favoritepicturesbox"] = 0;
</script>
</c:otherwise>
</c:choose>

</div>
<div class="userboxfooter">
<sql:query var="qryFavePicsAll">
SELECT * FROM favepics,artists
WHERE favepics.userid=?
AND favepics.artistid=artists.artistid
AND enabled=true
AND active=true
<sql:param value="${user.userid}" />
</sql:query>
<a href="/FavoritePictures.jsp">View All ${qryFavePicsAll.rowCount}</a>
</div>
</div>


<div class="userbox">
<h1>
<a id="sketcherbox_toggle" class="toggle {% if user.show_sketcher_box %}toggleopen{% else %}toggleclosed{% endif %}" href="javascript:nop()" onclick="toggleUserBox('sketcherbox')"></a>
Sketcher</h1>
<div class="userboxinner <c:if test="${user.showsketcherbox == false}">hidden</c:if>" id="sketcherbox">

<c:choose>
<c:when test="${user.showsketcherbox == true}">
<jsp:include page="/ajax_sketcherbox.jsp" />
<script type="text/javascript">
showUserBox["sketcherbox"] = 1;
</script>
</c:when>
<c:otherwise>
<script type="text/javascript">
showUserBox["sketcherbox"] = 0;
</script>
</c:otherwise>
</c:choose>

</div>
<div class="userboxfooter">
<a href="/Sketcher/">Sketcher</a>
</div>
</div>


<div class="userbox">
<h1>
<a id="communityartbox_toggle"class="toggle {% if user.show_community_art_box %}toggleopen{% else %}toggleclosed{% endif %}" href="javascript:nop()" onclick="toggleUserBox('communityartbox')"></a>
Community Art</h1>
<div class="userboxinner <c:if test="${user.showcommunityartbox == false}">hidden</c:if>" id="communityartbox">

<c:choose>
<c:when test="${user.showcommunityartbox == true}">
<jsp:include page="/ajax_communityartbox.jsp" />
<script type="text/javascript">
showUserBox["communityartbox"] = 1;
</script>
</c:when>
<c:otherwise>
<script type="text/javascript">
showUserBox["communityartbox"] = 0;
</script>
</c:otherwise>
</c:choose>

</div>
<div class="userboxfooter">
<a href="/TradingTree.jsp">Trading Tree</a>
<a href="/ColoringCave.jsp">Coloring Cave</a>
</div>
</div>


<div class="userbox">
<h1>
<a id="contestsbox_toggle"class="toggle {% if user.show_contests_box %}toggleopen{% else %}toggleclosed{% endif %}" href="javascript:nop()" onclick="toggleUserBox('contestsbox')"></a>
Art Contests</h1>
<div class="userboxinner <c:if test="${user.showcontestsbox == false}">hidden</c:if>" id="contestsbox">

<c:choose>
<c:when test="${user.showcontestsbox == true}">
<jsp:include page="/ajax_contestsbox.jsp" />
<script type="text/javascript">
showUserBox["contestsbox"] = 1;
</script>
</c:when>
<c:otherwise>
<script type="text/javascript">
showUserBox["contestsbox"] = 0;
</script>
</c:otherwise>
</c:choose>

</div>
<div class="userboxfooter">
<a href="/Contests.jsp">Contests</a>
</div>
</div>


<div class="userbox">
<h1>
<a id="toolbox_toggle" class="toggle {% if user.show_tool_box %}toggleopen{% else %}toggleclosed{% endif %}" href="javascript:nop()" onclick="toggleUserBox('toolbox')"></a>
Toolbox</h1>
<div class="userboxinner <c:if test="${user.showtoolbox == false}">hidden</c:if>" id="toolbox">

<c:choose>
<c:when test="${user.showtoolbox == true}">
<jsp:include page="/ajax_toolbox.jsp" />
<script type="text/javascript">
showUserBox["toolbox"] = 1;
</script>
</c:when>
<c:otherwise>
<script type="text/javascript">
showUserBox["toolbox"] = 0;
</script>
</c:otherwise>
</c:choose>

</div>
<div class="userboxfooter"></div>
</div>

{% endif %}
