{% load static %}
<div id="genstatus"></div>


<div class="userbox">
<div class="userboxinner" id="loginbox">

{% if user.is_authenticated %}

<p>
Logged in as 
{% if user.is_artist %}
<a href="{% url "artist" dir_name=user.dir_name %}">{{ user.username }}</a>
{% else %}
{{ user.username }}
{% endif %}
</p>

<a class="button smallbutton" href="{% url "artmanager:home" %}">{% if user.is_artist %}ArtManager{% else %}Profile{% endif %}</a>
<a class="button smallbutton" href="{% url "logout" %}">Log out</a>

{% if user.unread_received_pms_count > 0 %}
<div class="unread-pms"><a href="{% url "artmanager:private-msgs" %}">{{ user.unread_received_pms_count }} unread PM{{ user.unread_received_pms_count|pluralize }}</a></div>
{% else %}
<div class="unread-pms no-unread">No unread PMs</div>
{% endif %}

{% else %}

<form name="loginform" method="post" action="{% url "login" %}" !onSubmit="return doLogin()">
{% csrf_token %}

{% if login_failed %}
<div class="login-failed-banner">Login failed.</div>
{% endif %}
<table class="formtable">
<tr>
<td class="label">Artist login</td>
<td class="data"><input type="text" name="username" id="artistlogin" /></td>
</tr>
<tr>
<td class="label">Password</td>
<td class="data"><input type="password" name="password" id="artistpasswd" /></td>
</tr>
<tr>
<td colspan="2" class="buttons">
<button type="submit" class="small">Log In</button>
<a class="button smallbutton lightbutton" href="{% url "register" %}">Register</a>
<a class="button smallbutton lightbutton" href="{% url "recovery" %}">Forgot?</a>
</td>
</tr>
</table>

<input type="hidden" name="next" value="{% url "home" %}" />
</form>

<c:set var="loggedin" scope="session" value="0" />

</c:otherwise>
</c:choose>
{% endif %}

</div>
</div>


{% if user.is_authenticated %}

<div class="userbox">
<h1>
<a id="favorite_artists_box_toggle" class="toggle {% if request.session.favorite_artists_box %}toggleopen{% else %}toggleclosed{% endif %}" href="javascript:nop()" onclick="toggleUserBox('favorite_artists_box')"></a>
Favorite Artists</h1>
<div class="userboxinner {% if not request.session.favorite_artists_box %}hidden{% endif %}" id="favorite_artists_box">

{% if request.session.favorite_artists_box %}
{% include "fanart/userpane/favorite_artists.html" %}
{% endif %}

</div>
<div class="userboxfooter">
{{ user.favorite_artists|length }} artist{{ user.favorite_artists|length|pluralize }} watched
</div>
</div>


<div class="userbox">
<h1>
<a id="favorite_pictures_box_toggle" class="toggle {% if request.session.favorite_pictures_box %}toggleopen{% else %}toggleclosed{% endif %}" href="javascript:nop()" onclick="toggleUserBox('favorite_pictures_box')"></a>
Favorite Pictures</h1>
<div class="userboxinner {% if not request.session.favorite_pictures_box %}hidden{% endif %}" id="favorite_pictures_box">

{% if request.session.favorite_pictures_box %}
{% include "fanart/userpane/favorite_pictures.html" %}
{% endif %}

</div>
<div class="userboxfooter">
<a href="{% url "favorite-pictures" %}">View All {{ user.favorite_pictures.count }}</a>
</div>
</div>


<div class="userbox">
<h1>
<a id="sketcher_box_toggle" class="toggle {% if request.session.sketcher_box %}toggleopen{% else %}toggleclosed{% endif %}" href="javascript:nop()" onclick="toggleUserBox('sketcher_box')"></a>
Drawpile</h1>
<div class="userboxinner {% if not request.session.sketcher_box %}hidden{% endif %}" id="sketcher_box">

{% if request.session.sketcher_box %}
{% include "fanart/userpane/sketcher.html" %}
{% endif %}

</div>
<div class="userboxfooter" style="height: 40px;">
{% if drawpile %}
    <a href="{{ drawpile.download_url }}">Get Drawpile</a>
    {% if drawpile.is_running %}
        <p style="margin-bottom: 0px;">Drawpile status: <b>Online</b> ({{ drawpile.active_users.count }} user{{ drawpile.active_users.count|pluralize }})</p>
        <p>Join: <b><code>fanart.lionking.org:28000</code></b></p>
    {% else %}
        <p>Drawpile status: <b>Offline</b></p>
    {% endif %}
{% endif %}
</div>
</div>


<style type="text/css">
div#community_art_box {
        background-image: url('{% static "images/tradingtree-small.png" %}');
        background-position: 100% -20px;
        background-repeat: no-repeat;
}
</style>

<div class="userbox">
<h1>
<a id="community_art_box_toggle"class="toggle {% if request.session.community_art_box %}toggleopen{% else %}toggleclosed{% endif %}" href="javascript:nop()" onclick="toggleUserBox('community_art_box')"></a>
Community Art</h1>
<div class="userboxinner {% if not request.session.community_art_box %}hidden{% endif %}" id="community_art_box">

{% if request.session.community_art_box %}
{% include "fanart/userpane/community_art.html" %}
{% endif %}

</div>
<div class="userboxfooter">
<a href="{% url "trading-tree" %}">Trading Tree</a>
<a href="{% url "coloring-cave" %}">Coloring Cave</a>
</div>
</div>


<div class="userbox">
<h1>
<a id="contests_box_toggle"class="toggle {% if request.session.contests_box %}toggleopen{% else %}toggleclosed{% endif %}" href="javascript:nop()" onclick="toggleUserBox('contests_box')"></a>
Art Contests</h1>
<div class="userboxinner {% if not request.session.contests_box %}hidden{% endif %}" id="contests_box">

{% if request.session.contests_box %}
{% include "fanart/userpane/contests.html" %}
{% endif %}

</div>
<div class="userboxfooter">
<a href="{% url "contests" %}">Contests</a>
</div>
</div>


<div class="userbox">
<h1>
<a id="tool_box_toggle" class="toggle {% if request.session.tool_box %}toggleopen{% else %}toggleclosed{% endif %}" href="javascript:nop()" onclick="toggleUserBox('tool_box')"></a>
Toolbox</h1>
<div class="userboxinner {% if not request.session.tool_box %}hidden{% endif %}" id="tool_box">

{% if request.session.tool_box %}
{% include "fanart/userpane/toolbox.html" %}
{% endif %}

</div>
<div class="userboxfooter"></div>
</div>

{% endif %}
