{% load static %}
<TITLE>403 - Access denied!</TITLE>

<BODY
   BGCOLOR="D7E2E4"
   BACKGROUND="{% static "images/background.jpg" %}"
   LINK="#FF0000"
   ALINK="#009900"
   VLINK="#000066">

<IMG ALIGN=RIGHT SRC="{% static "images/403.gif" %}" WIDTH=365 HEIGHT=273>

<BR><BR>

<FONT FACE="Verdana,Helvetica,Arial" SIZE=+2><B>Stop! You can't come in
here!</B></FONT><P>

You've attempted to access a file that's restricted from public view. 
Perhaps you typed the address wrong, or followed an outdated link. Please
check your spelling and try again; or go to the server root at <A
HREF="/">fanart.lionking.org</A> to see the listing of all choices
available.<P>

<BR><BR>

<I>Maintained by <A HREF="mailto:{{ admin_email }}">{{ admin_name }}</A></I>
