{% load static %}
<TITLE>404 - File not found!</TITLE>

<BODY BGCOLOR="D7E2E4" BACKGROUND="/images/background.jpg" LINK="#FF0000" ALINK="#009900" VLINK="#000066">

<A HREF="/"><IMG ALIGN=RIGHT SRC="{% static "images/404.gif" %}" WIDTH=250 HEIGHT=301 
BORDER=0></A>

<BR><BR>

<FONT FACE="Verdana,Helvetica,Arial" SIZE=+2><B>Oh geez-- you want
<I>which</I> file now?!</B></FONT><P>

The file you've requested was not found on this server. Perhaps you typed
the address incorrectly. Please check your spelling and try again; or go
to the server root at <A HREF="/"><B>fanart.lionking.org</B></A> to see
the listing of all choices available.<P>

<BR><BR>

<I>Maintained by <A HREF="mailto:btman\@lionking.org">Brian Tiemann</A></I>

