{% load static %}
<HTML>
<HEAD>
<TITLE>500 - Server Error!</TITLE>

<LINK REL="stylesheet" HREF="/includes/archive.css">
</HEAD>

<BODY CLASS="new" STYLE="background-image: none; padding: 40px">

<IMG ALIGN=RIGHT BORDER=1 SRC="{% static "images/500-Oopsed.jpg" %}" WIDTH=405 HEIGHT=389>

<H1>500 Server Error</H1>

There's been a temporary glitch in the programming! There are a few likely 
reasons for this:

<UL>
<LI>The area of the site you're trying to access is currently being worked 
on; I try to minimize the impact on the live site as much as possible 
while making code changes, but sometimes some temporary errors are 
unavoidable.
<LI>The database is under too much load right now. Please wait a few 
minutes and try again.
<LI>There's a bug! Please <A HREF="mailto:{{ admin_email }}">e-mail 
me</A> and alert me to what you were doing, the URL you were trying to 
access, and what the current time is, and I'll get out the flyswatter.
</UL>

Thank you for your patience!

<BR><BR>

<I>Maintained by <A HREF="mailto:{{ admin_email }}">{{ admin_name }}</A></I>

</BODY>
