{% load static %}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>The Lion King Fan-Art Archive: Approvals</title>

    {% include "includes/head_statics.html" %}

    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/approvals.css" %}">
    <script type="text/javascript" src="{% static "js/approvals.js" %}"></script>
</head>

<body>

<div id="pendingcount"></div>

<div id="pendinglist">
    {% include "approval/pending_list.html" %}
</div>

<table id="loading_table" style="display: none;">
    <tr>
        <td><img src="{% static "images/loading.gif" %}" /></td>
    </tr>
</table>

<div class="dialog" id="dialog_mod_notes" title="Moderator Notes">
foo
</div>

</body>
</html>
