{% load static %}
{% load bbcode_tags %}

<form name="approveform_{{ pending.id }}" id="approveform_{{ pending.id }}" method="POST" enctype="multipart/form-data">
    <table>
        <tr>
            <td class="approve">
                <a href="javascript:nop()" onClick="setFilename('{{ pending.sanitized_basename }}')">{{ pending.filename }}</a><br />
                {% if pending.is_movie and not pending.has_thumb %}
                    Thumbnail: {# <input type="file" name="uploadfile" id="uploadfile_{{ pending.id }}" /> #}
                    <button type="button" class="small" onClick="uploadThumb('{{ pending.id }}','uploadfile_{{ pending.id }}','pending_{{ pending.id }}')">Upload</button>

<input id="fileupload_{{ pending.id }}" type="file" name="picture" data-url="{% url "pending-upload-thumb" pending_id=pending.id %}">
<div id="progress_{{ pending.id }}">
    <div class="bar" style="width: 0%;"></div>
</div>

<script>
$(function () {
    $('#fileupload_{{ pending.id }}').fileupload({
        dataType: 'json',
        dropZone: null,
        done: function (e, data) {
            var url = '{% url "pending-detail" pending_id=pending.id %}';
            $('#pending_{{ pending.id }}').load(url, function() {});
//            refreshThumbsInterval = setInterval('checkThumbs()', 1000);
//            $.each(data.result.files, function (index, file) {
//                $('<p/>').text(file.name).appendTo(document.body);
//            });
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress_' + {{ pending.id }} + ' .bar').css(
                'width',
                progress + '%'
            );
        },
    });
});
                        
//thumbsGenerated = false;
</script>

                {% else %}
                    <input type="text" size="40" name="filename" value="{{ pending.sanitized_basename }}" />
                    <button type="button" class="small approve" onClick="approvePicture('approve','{{ pending.id }}')">Approve</button>
                    <div class="sendwarning"><input type="checkbox" name="warn_ot" id="warn_ot_{{ pending.id }}" value="1" /> <label for="warn_ot_{{ pending.id }}">Send off-topic warning</label></div>
                    <div class="sendwarning"><input type="checkbox" name="warn_copied" id="warn_copied_{{ pending.id }}" value="1" /> <label for="warn_copied_{{ pending.id }}">Send originality warning</label></div>
                {% endif %}
		{% if pending.notes %}<div class="pendingnotes">{{ pending.notes }}</div>{% endif %}
                <input type="hidden" name="uploadop" value="moviethumb" />
                <input type="hidden" name="pendingid" value="{{ pending.id }}" />
                <input type="hidden" name="partistid" value="{{ pending.artist.id }}" />
                {% csrf_token %}
            </td>
            <td class="thumb">
                {% if pending.is_movie and not pending.has_thumb %}
                    <a target="_blank" href="{{ pending.picture.url }}"><img id="pendingthumb_{{ pending.id }}" src="{% static "images/movie_icon.gif" %}" /></a>
                {% else %}
                    <a target="_blank" href="{{ pending.picture.url }}"><img id="pendingthumb_{{ pending.id }}" src="{{ pending.thumbnail_url }}" /></a>
                {% endif %}
            </td>
            <td class="artist-info">
                <div class="pendingartist {% if pending.artist.modnotes_received.exists %}flagartist{% elif pending.artist.num_pictures == 0 %}newartist{% endif %}">
                    <p><b><a target="_blank" href="{% url "artist" dir_name=pending.artist.dir_name %}">{{ pending.artist.username }}</a></b><br /></p>
                    <p>{{ pending.artist.num_pictures }}<br /></p>
                    <p><a href="mailto:{{ pending.artist.email }}?subject=Fan-art upload ({{ pending.sanitized_basename }}.{{ pending.extension }})">email</a></p>
                    {% if pending.notify_approval %}<p>notify</p>{% endif %}
                    <p><a href="javascript:nop()" onClick="showModNotes({{ pending.artist.id }})">mod notes</a> ({{ pending.artist.modnotes_received.count }})</p>
                    {% if not pending.artist.auto_approve %}<p><a href="javascript:nop()" onClick="autoApproval({{ pending.artist.id }})">auto-approval</a></p>{% endif %}
                </div>
            </td>
            <td class="info">
                <div class="pendingdate">{{ pending.date_uploaded|date }} &nbsp; <a href="javascript:nop()" onClick="showInfo({{ pending.id }})">show info</a></div>
                <div class="pendinginfo" id="pendinginfo_{{ pending.id }}">{{ pending.remote_host }}<br />{{ pending.user_agent }}</div>
                {% if pending.folder %}<div class="pendingfolder picfolder"><a target="_blank" href="{% url "artist-gallery" dir_name=pending.artist.dir_name %}?folder_id={{ pending.folder.id }}">{{ pending.folder.name }}</a></div>{% endif %}
                <div class="pendingtitle">{{ pending.title|bbcode|safe }}</div>
                {% if pending.keywords %}<div class="pendingkeywords">Keywords: {{ pending.keywords }}</div>{% endif %}
            </td>
            <td class="resize">
                {% if not pending.is_movie %}
                    <div class="imginfo"><span{% if pending.width > threshold_width or pending.height > threshold_height %} class="warning"{% endif %}>{{ pending.width }} &times; {{ pending.height }}</span> <span{% if pending.picture.size > threshold_size %} class="warning"{% endif %}>{{ pending.picture.size|filesizeformat }}</span></div>
                    w = <input type="text" size="4" name="width" value="{{ pending.width }}" /><a href="javascript:nop" onClick="document.approveform_{{ pending.id }}.width.value=1000">-</a><br />
                    h = <input type="text" size="4" name="height" value="" /><br />
                    q: &nbsp;<input type="text" size="4" name="quality" value="90" /><br />
                    <button type="button" class="small" onClick="approvePicture('resize','{{ pending.id }}')">Resize</button>
                    {% if pending.extension != "jpg" %}<button type="button" class="small" onClick="approvePicture('convert','{{ pending.id }}')">&rarr; JPEG</button>{% endif %}
                {% endif %}
            </td>
            <td class="reject">
                <input type="radio" name="reason" id="reason_copied_{{ pending.id }}" value="copied" /> <label for="reason_copied_{{ pending.id }}">Copied</label><br />
                <input type="radio" name="reason" id="reason_ot_{{ pending.id }}" value="off-topic" /> <label for="reason_ot_{{ pending.id }}">Off-topic</label><br />
                <input type="radio" name="reason" id="reason_inappropriate_{{ pending.id }}" value="inappropriate" /> <label for="reason_inappropriate_{{ pending.id }}">Inappropriate</label><br />
                <input type="radio" name="reason" id="reason_reupload_{{ pending.id }}" value="reupload" /> <label for="reason_reupload_{{ pending.id }}">Re-upload</label><br />
                <input type="radio" name="reason" id="reason_delete_{{ pending.id }}" value="delete" checked /> <label for="reason_delete_{{ pending.id }}">Delete</label><br />
                <button type="button" class="small" onClick="approvePicture('reject','{{ pending.id }}')">Reject</button>
            </td>
        </tr>
    </table>
</form>

