{% extends "artmanager/base.html" %}
{% load bbcode_tags %}

{% block page_title %} &mdash; ArtManager: Your Artwork{% endblock %}

{% block am_content %}

<script type="text/javascript">
var refreshThumbsInterval = null;

var checkThumbs = function() {
    var url = '/ArtManager/artwork/coloring/status/';
    $.getJSON(url, function(data) {
        var continueChecking = false;
        for (picture_id in data) {
            $('img#coloring_thumb_' + picture_id).attr('src', data[picture_id].thumbnail_url);
            if (!data[picture_id].thumbnail_done) {
                continueChecking = true;
            }
        }
        if (!continueChecking) {
            clearInterval(refreshThumbsInterval);
console.log(refreshThumbsInterval);
        }
    });
};

var downloadZIP = function() {
    const url = '{% url "artmanager:zip-gallery" %}';
    $.post(url, function(data) {
        alert('A ZIP archive is being generated of all your uploaded pictures. A download link will be emailed to you at {{ user.email }}.');
    })
}

refreshThumbsInterval = setInterval('checkThumbs()', 1000);
</script>

<div class="am_altpagelink">
    <a class="button" href="#" onclick="downloadZIP();">Download ZIP</a>
</div>

<h2>Your Artwork</h2>

Folder:
<select name="switchfolder" class="foldermenu" folderid="{{ folder.id }}" onChange="switchParam(this, 'folderid')">
    <option value="cc" {% if coloring_cave %}selected{% endif %}>(Coloring Cave)</option>
    <option value="0" {% if not coloring_cave and folder == None %}selected{% endif %}>(Main)</option>
</select>

{% if not coloring_cave %}
Sort by:
<select name="sortby" onChange="switchParam(this, 'sort_by')">
    <option {% if sort_by == "newest" %}selected{% endif %} value="newest">Newest</option>
    <option {% if sort_by == "oldest" %}selected{% endif %} value="oldest">Oldest</option>
    <option {% if sort_by == "popularity" %}selected{% endif %} value="popularity">Popularity</option>
    <option {% if sort_by == "comments" %}selected{% endif %} value="comments">Comments</option>
</select>
{% endif %}

<div class="globalactions actions-container">
    <a href="javascript:nop()"><div class="actions_hover" id="actions_global">All Selected</div></a>
    <div class="actions_menu" id="actions_global_popup">
        <h3>All Selected</h3>
        {% if coloring_cave %}
            <a class="ui-state-default ui-corner-all" href="javascript:nop()" onClick="deleteCCPic(0)">Delete</a>
        {% else %}
            <a class="ui-state-default ui-corner-all" href="javascript:nop()" onClick="deletePicture(0)">Delete</a>
            <a class="ui-state-default ui-corner-all" href="javascript:nop()" onClick="setupMove(0)" id="movetofolderlink_0">Move to Folder<div class="movetofolder" id="movetofolder_0"></div></a>
        {% endif %}
    </div>
</div>

<div class="selectall">
    <input type="checkbox" name="selectall" id="selectall" onClick="toggleSelectAll(this)" /> <label for="selectall">Select all</label>
</div>

{% if coloring_cave %}

    {{ pages_link.pages_nav|safe }}

    {% for picture in pictures %}

        <div class="picture editpicture">
            <table>
                <tr>
                    <td class="thumb">
                        <input type="checkbox" id="select_{{ picture.id }}" /> Select<br />
                        <a href="{{ picture.url }}" rel="shadowbox[pictures]"><img class="thumb" id="coloring_thumb_{{ picture.id }}" src="{{ picture.thumbnail_url }}" /></a>
                        <div class="picturestats">
                            {{ picture.date_posted|date }}<br />
                            {{ picture.width }} x {{ picture.height }}<br />
                        </div>
                    </td>
                    <td class="fullwidth picturedetails">

                        <div class="actions-container">
                            <a href="javascript:nop()"><div class="actions_hover" id="actions_{{ picture.id }}">Actions</div></a>
                            <div class="actions_menu" id="actions_{{ picture.id }}_popup">
                                <h3>Actions</h3>
                                <a class="ui-state-default ui-corner-all" href="javascript:nop()" onClick="setupEditCCPic({{ picture.id }})">Edit</a>
                                <a class="ui-state-default ui-corner-all" href="javascript:nop()" onClick="deleteCCPic({{ picture.id }})">Delete</a>
                            </div>
                        </div>

                        <div class="picturedetails">

                            <div id="editccpic_{{ picture.id }}">
                                {% include "artmanager/coloring_picture.html" %}
                            </div>

                            <div>
                                <a href="{% url "coloring-cave" coloring_base_id=picture.base.id %}">View original</a> by <a href="{% url "artist" dir_name=picture.base.creator.dir_name  %}">{{ picture.base.creator.username }}</a>
                            </div>

                        </div>

                    </td>
                </tr>
            </table>
        </div>

        <script type="text/javascript">
        selitems.push({{ picture.id }});
        </script>

    {% endfor %}

{% else %}

    {{ pages_link.pages_nav|safe }}

    {% for picture in pictures %}

        <div class="picture editpicture {% if not picture.is_public %}privatepicture{% endif %}" id="picture_{{ picture.id }}">
            <table>
                <tr>
                    <td class="thumb">
                        <input type="checkbox" id="select_{{ picture.id }}" /> Select<br />
                        <a href="{{ picture.url }}?{{ picture.id }}" rel="shadowbox[pictures]"><img class="thumb" id="thumb_{{ picture.id }}" src="{{ picture.preview_url }}" /></a>
                        <div class="picturestats">
                            {{ picture.date_uploaded|date:"D n/j/Y" }}<br />
                            {{ picture.width }} x {{ picture.height }}<br />
                            {{ picture.file_size|filesizeformat }}<br />
                            {{ picture.threadedcomment_set.count }} comment{{ picture.threadedcomment_set.count|pluralize }}<br />
                            <a href="javascript:nop()" onClick="togglePicFans({{ picture.id }})">{{ picture.fans.count }} favorite{{ picture.fans.count|pluralize }}</a><br />
                        </div>
                    </td>
                    <td class="fullwidth picturedetails">

                        <div class="actions-container">
                            <a href="javascript:nop()"><div class="actions_hover" id="actions_{{ picture.id }}">Actions</div></a>
                            <div class="actions_menu" id="actions_{{ picture.id }}_popup">
                                <h3>Actions</h3>
                                <a class="ui-state-default ui-corner-all" href="javascript:nop()" onClick="setupEditPicture({{ picture.id }})">Edit</a>
                                {% if picture.replacement_pending %}
                                    <a class="ui-state-default ui-corner-all ui-state-disabled" href="javascript:nop()">(Replacement Pending)</a>
                                {% else %}
                                    <a class="ui-state-default ui-corner-all" href="{% url "artmanager:upload" %}?replace={{ picture.id }}">Replace</a>
                                {% endif %}
                                <a class="ui-state-default ui-corner-all" href="javascript:nop()" onClick="deletePicture({{ picture.id }})">Delete</a>
                                <a class="ui-state-default ui-corner-all" href="javascript:nop()" onClick="setupRequest({{ picture.id }})">ArtWall</a>
                                <a class="ui-state-default ui-corner-all" href="{% url "artmanager:coloring-cave" %}?picture_id={{ picture.id }}">Coloring Cave</a>
                                <a class="ui-state-default ui-corner-all" href="javascript:nop()" onClick="setExamplePic({{ picture.id }})">Set as Icon</a>
                                <a class="ui-state-default ui-corner-all" href="javascript:nop()" onClick="setupMove({{ picture.id }})" id="movetofolderlink_{{ picture.id }}">Move to Folder<div class="movetofolder" id="movetofolder_{{ picture.id }}"></div></a>
                            </div>
                        </div>

                        <div class="picturedetails">

                            <div id="editpicture_{{ picture.id }}">
                                {% include "artmanager/picture.html" %}
                            </div>

                            <div class="picturerequestsstatus" id="picturerequestsstatus_{{ picture.id }}">
                                {% include "artmanager/picture_gift_list.html" %}
                            </div>

                            <div class="picadmininfo pictureiconstatus" id="pictureiconstatus_{{ picture.id }}">
                                {% if picture == user.example_pic %}
                                    This picture is your icon, shown along with your name in all artist listings. <a href="javascript:nop()" onClick="setExamplePic(0)">clear</a>
                                {% endif %}
                            </div>

                            <div class="picfans" id="picfans_{{ picture.id }}"></div>

                        </div>
                    </td>
                </tr>
            </table>

        </div>

        <script type="text/javascript">
        selitems.push({{ picture.id }});
        </script>

    {% endfor %}

{% endif %}

<div class="dialog" id="dialog_select_destination_folder" title="Select Destination Folder">
    <select id="select_destination_folder" class="foldermenu" folderid="{{ folder.id }}" onchange="">
        <option value="0" {% if folder == None %}selected{% endif %}>(Main)</option>
    </select>
</div>

<input type="hidden" id="edit_artistid" value="{{ user.id }}" />

{% endblock %}
