{% extends "fanart/base.html" %}

{% block grass %}{% endblock %}

{% block body_prop %}{% endblock %}

{% block page_title %} &mdash; ArtManager{% endblock %}

{% block utility_page %}utilpage{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}

    {% if request.user.is_active %}

    {% if request.user.is_artist %}
        <h1>ArtManager</h1>
    {% else %}
	<h1>Your Profile</h1>
    {% endif %}

    <div class="am_panel">

        {% with request.resolver_match.url_name as page %}
        <div class="am_tabs">
        {% if request.user.is_artist %}
            <a href="{% url "artmanager:dashboard" %}" class="{% if page == "dashboard" %}selected{% endif %}">Artist Dashboard</a>
            <a href="{% url "artmanager:prefs" %}" class="{% if page == "prefs" %}selected{% endif %}">Artist Info/Prefs</a>
            <a href="{% url "artmanager:upload" %}" class="{% if page == "upload" or page == "pending" %}selected{% endif %}">Upload</a>
            <a href="{% url "artmanager:artwork" %}" class="{% if page == "artwork" %}selected{% endif %}">Artwork</a>
            <a href="{% url "artmanager:folders" %}" class="{% if page == "folders" %}selected{% endif %}">Folders</a>
            <a href="{% url "artmanager:artwall" %}" class="{% if page == "artwall" %}selected{% endif %}">ArtWall</a>
            <a href="{% url "artmanager:characters" %}" class="{% if page == "characters" %}selected{% endif %}">Characters</a>
            <a href="{% url "artmanager:customize" %}" class="sectionend {% if page == "customize" %}selected{% endif %}">Gallery Appearance</a>
            <a href="{% url "artmanager:private-msgs" %}" class="{% if not request.user.is_paid %}notpaidfeature{% endif %} {% if page == "private-msgs" %}selected{% endif %}">Private Messages</a>
            <a href="{% url "artmanager:trading-tree" %}" class="{% if not request.user.is_paid %}notpaidfeature{% endif %} {% if page == "trading-tree" or page == "trading-tree-for-you" %}selected{% endif %}">Trading Tree</a>
            <a href="{% url "artmanager:coloring-cave" %}" class="{% if not request.user.is_paid %}notpaidfeature{% endif %} {% if page == "coloring-cave" %}selected{% endif %}">Coloring Cave</a>
            <a href="{% url "artmanager:contests" %}" class="{% if not request.user.is_paid %}notpaidfeature{% endif %} {% if page == "contests" %}selected{% endif %}">Contests</a>
            <a href="{% url "artmanager:bulletins" %}" class="sectionend {% if not request.user.is_paid %}notpaidfeature{% endif %} {% if page == "bulletins" %}selected{% endif %}">Bulletins</a>
{#            <a href="{% url "artmanager:upload-history" %}" class="{% if page == "upload-history" %}selected{% endif %}">Upload History</a> #}
            <a href="{% url "artmanager:comments" %}" class="{% if page == "comments" %}selected{% endif %}">Comments</a>
            <a href="{% url "artmanager:shouts" %}" class="{% if page == "shouts" %}selected{% endif %}">Roars</a>
            <a href="{% url "artmanager:fans" %}" class="{% if page == "fans" %}selected{% endif %}">Fans</a>
            <a href="{% url "artmanager:blocks" %}" class="sectionend {% if page == "blocks" %}selected{% endif %}">Blocks</a>
        {% else %}
            <a href="{% url "artmanager:dashboard" %}" class="{% if page == "dashboard" %}selected{% endif %}">Dashboard</a>
            <a href="{% url "artmanager:prefs" %}" class="{% if page == "prefs" %}selected{% endif %}">Profile Info</a>
            <a href="{% url "artmanager:comments" %}" class="{% if page == "comments" %}selected{% endif %}">Comments</a>
            <a href="{% url "artmanager:shouts" %}" class="{% if page == "shouts" %}selected{% endif %}">Roars</a>
            <a href="{% url "artmanager:private-msgs" %}" class="{% if page == "private-msgs" %}selected{% endif %}">Private Messages</a>
            <a href="{% url "artmanager:trading-tree" %}" class="{% if page == "trading-tree" %}selected{% endif %}">Trading Tree</a>
        {% endif %}
        </div>
        {% endwith %}

        <div class="am_content">

        {% block am_content %}{% endblock %}

        </div>
    </div>

    {% else %}

        <div class="error">
            <h3>Account Disabled</h3>
            Your account has been disabled.
        </div>

    {% endif %}

{% else %}

    <div class="error">
        <h3>An error occurred</h3>
        You are not logged in. Please log in at right.
    </div>

{% endif %}

{% endblock %}
