{% extends "artmanager/base.html" %}
{% load bbcode_tags %}

{% block am_content %}

<h2>Your Blocked Users</h2>

<div id="blockstatus"></div>

<form name="blockform" method="POST">
    <input name="blockuser" id="blockuser" /><button type="button" onClick="blockUser(null,'block','direct')" class="small">Block</button>
    <input type="hidden" id="blockuserid" value="" />
</form>

<table class="users">
    {% for block in user.block_set.all %}

        <tr>
            <td class="profilepic">
                {% if block.blocked_user.profile_pic_thumbnail_url %}
                    {% if block.blocked_user.is_artist %}
                        <a href="{% url "artist" dir_name=block.blocked_user.dir_name %}"><img class="userprofilepic" src="{{ block.blocked_user.profile_pic_thumbnail_url }}" /></a>
                    {% else %}
                        <img src="{{ block.blocked_user.profile_pic_thumbnail_url }}" />
                    {% endif %}
                {% endif %}
            </td>
            <td class="name">
                {% if block.blocked_user.is_artist %}
                    <a href="{% url "artist" dir_name=block.blocked_user.dir_name %}">{{ block.blocked_user.username }}</a>
                {% else %}
                    {{ block.blocked_user.username }}
                {% endif %}
            </td>
            <td>{{ block.date_blocked|date:"m/d/Y" }}</td>
            <td><a href="javascript:nop()" onClick="blockUser({{ block.blocked_user.id }},'unblock','direct')">unblock</a></td>
        </tr>

    {% endfor %}
</table>

{% if user.block_set.count == 0 %}

    You have not blocked any users.

{% endif %}

{% endblock %}
