{% load bbcode_tags %}

<%--
ajax_editccpic.jsp
AJAX helper for editing a picture the artist has posted in the Coloring Cave, invoked from inc_pictures.jsp
under the Coloring Cave pseudofolder.
--%>

<%@ include file="inc_root/inc_functions.jsp" %>
<%@ page language="java" contentType="text/html; charset=UTF-8" %>

<%@ taglib prefix="sql" uri="http://java.sun.com/jsp/jstl/sql" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions" %>

<sql:setDataSource dataSource="jdbc/Fanart" />

<c:catch var="catchException">
<fmt:parseNumber var="ccpicid" value="${param.ccpicid}" integerOnly="true" />
</c:catch>

<c:if test="${loggedin == 1 && ccpicid > 0}">

<c:if test="${param.op == 'edit'}">

	<sql:update var="updCCPic">
	UPDATE coloring_pics SET
	comment=?
	WHERE coloring_picid=?
	AND artistid=?
	<sql:param value="${param.comment}" />
	<sql:param value="${ccpicid}" />
	<sql:param value="${artist.artistid}" />
	</sql:update>

</c:if>

<sql:query var="qryCCPic">
SELECT * FROM coloring_pics,coloring_base
WHERE basepic=coloring_baseid
AND coloring_picid=?
AND (coloring_pics.artistid=? OR coloring_base.artistid=?)
<sql:param value="${ccpicid}" />
<sql:param value="${artist.artistid}" />
<sql:param value="${artist.artistid}" />
</sql:query>

<c:forEach var="ccpic" items="${qryCCPic.rows}">

{% comment %}
<c:choose>
<c:when test="${param.op == 'remove'}">

	<sql:update var="updCCPic">
	DELETE FROM coloring_pics  
	WHERE coloring_picid=?
	<sql:param value="${ccpic.coloring_picid}" />
	</sql:update>

	<sql:update var="updCCBase">
	UPDATE coloring_base
	SET numcolored=numcolored-1
	WHERE coloring_baseid=?
	<sql:param value="${ccpic.basepic}" />
	</sql:update>

	<sql:update var="updCharacters">
	UPDATE characters
	SET profilepic_c=0
	WHERE profilepic_c=?
	<sql:param value="${ccpic.coloring_picid}" />
	</sql:update>

	removing ${ccpic.coloring_picid}

</c:when>
<c:when test="${param.op == 'form'}">

	<h4>Edit Coloring Cave picture</h4>
	<form name="editccpic_${ccpicid}" onSubmit="return false;">
	<table class="formtable">
	<tr>
	<td class="label">Comment</td>
	<td class="data"><textarea name="comment">${ccpic.comment}</textarea></td>
	</tr>
	<tr>
	<td colspan="2" class="buttons">
	<button type="button" onClick="editCCPic(${ccpic.coloring_picid},this.form)">Save Changes</button>
	</td>
	</tr>
	</table>
	<input type="hidden" name="ccpicid" value="${ccpic.ccpicid}" />
	<input type="hidden" name="op" value="edit" />
	</form>

</c:when>
{% endcomment %}
<c:otherwise>

	<div class="pictitle">
	{{ picture.comment|bbcode|safe }}
	</div>

</c:otherwise>
</c:choose>

</c:forEach>

</c:if>

