<form name="editcharacter_{{ character.id }}" id="editcharacter_{{ character.id }}" onSubmit="return false;">
    <table class="formtable">
        <tr>
            <td class="label">Name</td>
            <td class="data"><input type="text" class="std" name="charactername" maxlength="64" value="{{ character.name }}" validate="hasvalue" message="The character name cannot be blank." /></td>
        </tr>
        <tr>
            <td class="label">Description</td>
            <td class="data"><textarea name="description">{{ character.description }}</textarea></td>
        </tr>
        <tr>
            <td class="label">Species</td>  
            <td class="data"><input type="text" class="std" name="species" maxlength="64" value="{{ character.species }}" /></td>
        </tr>
        <tr>
            <td class="label">Gender</td>
            <td class="data">
                <select name="gender">
                    <option {% if character.gender == character.Gender.MALE %}selected{% endif %} value="male">Male</option>
                    <option {% if character.gender == character.Gender.FEMALE %}selected{% endif %} value="female">Female</option>
                    <option {% if character.gender == character.Gender.NEITHER %}selected{% endif %} value="">Neither</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="label">Source Story</td>
            <td class="data"><input type="text" class="std" name="storyname" maxlength="100" value="{{ character.story_title }}" /></td>
        </tr>
        <tr>
            <td class="label">Story URL</td>
            <td class="data"><input type="text" class="std" name="storyurl" maxlength="100" value="{{ character.story_url }}" /></td>
        </tr>
        <tr>
            <td colspan="2" class="buttons">
                <button type="button" onClick="validateForm('editcharacter_{{ character.id }}','editCharacter({{ character.id }},document.editcharacter_{{ character.id }})')">Save Changes</button>
            </td>
        </tr>
    </table>
</form>
