{% extends "artmanager/base.html" %}
{% load bbcode_tags %}

{% block page_title %} &mdash; ArtManager: Your Characters{% endblock %}

{% block am_content %}

<h2>Manage Your Characters</h2>

<form name="characterform" id="characterform" method="POST" action="{% url "artmanager:character-create" %}">
    <table class="formtable">
        <tr>
            <td class="label">Name</td>
            <td class="data"><input type="text" class="std" name="name" maxlength="64" validate="hasvalue" message="You must enter a name for the character." /></td>
        </tr>
        <tr>
            <td class="label">Description</td>
            <td class="data"><textarea name="description"></textarea></td>
        </tr>
        <tr>
            <td class="label">Species</td>
            <td class="data"><input type="text" class="std" name="species" maxlength="64" /></td>
        </tr>
        <tr>
            <td class="label">Gender</td>
            <td class="data">
                <select name="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="">Neither</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="label">Origin Story Title</td>
            <td class="data"><input type="text" class="std" name="story_title" maxlength="100" /></td>
        </tr>
        <tr>
            <td class="label">Story URL</td>
            <td class="data"><input type="text" class="std" name="story_url" maxlength="100" /></td>
        </tr>
        <tr>
            <td colspan="2" class="buttons">
                <button type="button" onClick="validateForm('characterform','document.characterform.submit()')">Create</button>
            </td>
        </tr>
    </table>
    <input type="hidden" name="op" value="characters" />
    <input type="hidden" name="fnc" value="create" />
    {% csrf_token %}
</form>

{{ pages_link.pages_nav|safe }}

{% for character in characters %}

    <div class="editcharacter">
        <table>
            <tr>
                <td>
                    <a href="{% url "picture-picker" target="character" %}" onClick="document.pickpictureform.itemid.value={{ character.id }}" rel="shadowbox;width=500;height=600">
                        <div id="pickpicture_{{ character.id }}">
                            <img class="thumb characterpic" src="{{ character.preview_url }}" />
                        </div>
                    </a>
                </td>
                <td class="characterinfo">
                    <div class="characteredit">
                        <a href="javascript:nop()" onClick="setupEditCharacter({{ character.id }})">edit</a>
                        <a href="javascript:nop()" onClick="deleteCharacter({{ character.id }})">delete</a>
                        {% if character.is_up_for_adoption %}
                            <a href="{% url "artmanager:trading-tree" offer_type="adoptable" %}?offer_id={{ character.adoption_offer.id }}">Up for adoption</a>
                        {% else %}
                            <a href="{% url "artmanager:trading-tree" offer_type="adoptable" %}?character_id={{ character.id }}">adopt out</a>
                        {% endif %}
                    </div>

                    <div id="editcharacter_{{ character.id }}">
                        {% include "artmanager/character.html" %}
                    </div>

                </td>
            </tr>
        </table>
    </div>

{% endfor %}

<form name="pickpictureform">
    <input type="hidden" name="item" value="character" />
    <input type="hidden" name="itemid" value="" />
</form>

{% endblock %}
