{% extends "artmanager/base.html" %}
{% load bbcode_tags %}

{% block am_content %}

<h2>Offer Line-Art in the Coloring Cave</h2>

{% if coloring_base %}

    <div class="pageinfo">
        <p>Review other artists' colored versions of your posted line-art here. You can remove any colored picture that you consider inappropriate.</p>
    </div>

    <form name="ccform_{{ coloring_base.id }}" method="POST">
        <button type="button" onClick="removeColoringBase({{ coloring_base.id }})">Remove</button>
    </form>

    <a href="{% url "coloring-cave" coloring_base_id=coloring_base.id %}">View in Coloring Cave</a>

    {% with picture=coloring_base.picture show_colored_pictures=True hide_cc_link=True %}
        {% include "includes/picture.html" %}
    {% endwith %}

{% else %}

    <form name="ccform_new" id="ccform_new" method="POST">
        <table class="formtable">
            <tr>
                <td class="label">Line-Art From Gallery</td>
                <td class="data" id="offerselect">
                    <div id="pickpicture_new">
                        {% if picture %}
                            <img class="thumb" src="{{ picture.preview_url }}" />
                        {% endif %}
                    </div>
                    <a href="{% url "picture-picker" target="coloring_cave" %}" onClick="" rel="shadowbox;width=500;height=600">select picture</a>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="buttons">
                    <button type="button" onClick="postSelectedPic(this.form)">Post Line-Art</button>
                </td>
            </tr>
        </table>
        <input type="hidden" name="picture" value="{{ picture.id }}" />
    </form>

    <form name="pickpictureform">
        <input type="hidden" name="item" value="coloringpic" />
        <input type="hidden" name="itemid" value="new" />
        <input type="hidden" name="picture" value="" />
    </form>

    <div id="offerslayout">

        {% if coloring_bases.count == 0 %}
            <div class="noentries">
                No coloring pictures.
            </div>
        {% endif %}

        {% for coloring_base in coloring_bases %}
            <div class="offertile cctile">
                <a href="{% url "artmanager:coloring-cave" coloring_base_id=coloring_base.id %}">
                    <img class="" src="{{ coloring_base.picture.preview_url }}" width="60" height="{{ coloring_base.thumb_height }}" />
                </a>
                {{ coloring_base.date_posted|date:"m/d/Y" }}<br />
                {{ coloring_base.num_colored }} colored
                {% if not coloring_base.is_active %}(inactive)<br /><a class="button smallbutton" onClick="restoreColoringBase({{ coloring_base.id }})">restore</a>{% endif %}
            </div>

        {% endfor %}

        <br clear="left" />

    </div>

{% endif %}

{% endblock %}
