<h4>Edit Coloring Cave picture</h4>

<form name="editccpic_{{ picture.id }}" onSubmit="return false;">
    <table class="formtable">
        <tr>
            <td class="label">Comment</td>
            <td class="data"><textarea name="comment">{{ picture.comment }}</textarea></td>
        </tr>
        <tr>
            <td colspan="2" class="buttons">
                <button type="button" onClick="editCCPic({{ picture.id }},this.form)">Save Changes</button>
            </td>
        </tr>
    </table>
</form>

