{% extends "artmanager/base.html" %}
{% load bbcode_tags %}

{% block page_title %} &mdash; ArtManager: Comments{% endblock %}

{% block am_content %}

<h2>Your Comments</h2>

{% if user.is_artist %}
    <div class="selector_commentview">
        <div class="selector">
            <a class="{% if comment_type == "sent" %}selected{% endif %}" href="{% url "artmanager:comments" comment_type="sent" %}">posted</a>
            <a class="{% if comment_type == "received" %}selected{% endif %}" href="{% url "artmanager:comments" comment_type="received" %}">received</a>
        </div>

        {% if comment_type == "received" %}
        <div class="selector">
            View:
            <a
                class="{% if not deleted and not show_all %}selected{% endif %}"
                href="{% url "artmanager:comments" comment_type=comment_type %}?show_all=0"
            >
                unread
            </a>
            <a
                class="{% if deleted %}selected{% endif %}"
                href="{% url "artmanager:comments" comment_type=comment_type %}?deleted=1"
            >
                deleted
            </a>
            <a
                class="{% if show_all %}selected{% endif %}"
                href="{% url "artmanager:comments" comment_type=comment_type %}?show_all=1"
            >
                all
            </a>
        </div>
        <br clear="left" />

        <div class="globalactionslink">
            <a href="javascript:nop()" onClick="markRead('comment','${showall}')">Mark all selected as read</a>
        </div>

        <div class="selectall"><input type="checkbox" name="selectall" onClick="toggleSelectAll(this)" /> Select all</div>
        {% endif %}

        <br clear="left" />
    </div>
{% endif %}

{{ pages_link.pages_nav|safe }}

{% for comment in comments %}

    <form name="editcomment_{{ comment.id }}">
        <div class="comment" id="comment_{{ comment.id }}">
            {{ comment.is_deleted }}
            {% include "artmanager/comment.html" %}
        </div>
    </form>

    {% if not comment.is_received %}
        <script type="text/javascript">
        selitems.push({{ comment.id }});
        </script>
    {% endif %}

{% endfor %}

{% endblock %}
