{% load bbcode_tags %}

{% if comment.picture.artist == user %}

    <div class="commentname">
        <div class="commentdate">{{ comment.date_posted|date }}</div>
            {% if not comment.is_received %}<input type="checkbox" name="select_{{ comment.id }}" id="select_{{ comment.id }}" value="1" />{% endif %}
            {% if comment.user.is_artist %}
                <a href="{% url "artist" dir_name=comment.user.dir_name %}">{{ comment.user.username }}</a>
            {% else %}
                {{ comment.user.username }}
            {% endif %}
            on <a href="{% url "picture" picture_id=comment.picture.id %}#{{ comment.id }}"><img src="{{ comment.picture.thumbnail_url }}" /></a>
        </div>
        <div class="commenttext clearAfter {% if comment.is_deleted %}commentdeleted{% endif %}" id="commenttext_{{ comment.id }}">
            <div class="commentprofilepic">
                {% if comment.user.profile_pic_thumbnail_url %}
                    {% if comment.user.is_artist %}
                        <a href="{% url "artist" dir_name=comment.user.dir_name %}"><img src="{{ comment.user.profile_pic_thumbnail_url }}" /></a>
                    {% else %}
                        <img src="{{ comment.user.profile_pic_thumbnail_url }}" />
                    {% endif %}
                {% endif %}
            </div>
            <table><tr><td>
                {{ comment.comment|bbcode|safe }}
            </td></tr></table>
            <div class="commentbuttons">
                {% if not comment.is_deleted %}<button type="button" class="small" onClick="deleteComment({{ comment.picture.id }},{{ comment.id }},true)">Delete</button>{% endif %}
            </div>
            <br clear="all" />
        </div>

{% elif comment.user == user %}

    <div class="commentname">
        <div class="commentdate">{{ comment.date_posted|date }}</div>
        <a href="{% url "picture" picture_id=comment.picture.id %}#{{ comment.id }}"><img src="{{ comment.picture.thumbnail_url }}" /></a> by <a href="{% url "artist" dir_name=comment.picture.artist.dir_name %}">{{ comment.picture.artist.username }}</a>
    </div>
    <div class="commenttext {% if comment.is_deleted %}commentdeleted{% endif %}" id="commenttext_{{ comment.id }}">
        <table><tr><td>
            {{ comment.comment|bbcode|safe }}
        </td></tr></table>
        <div class="commentbuttons">
            {% if not comment.is_deleted %}<button type="button" class="small" onClick="deleteComment({{ comment.picture.id }},{{ comment.id }},true)">Delete</button>{% endif %}
        </div>
        <br clear="all" />
    </div>

{% endif %}
