{% extends "artmanager/base.html" %}
{% load bbcode_tags %}

{% block page_title %} &mdash; ArtManager: Gallery Appearance{% endblock %}

{% block am_content %}

<h2>Customize Your Gallery Appearance</h2>

<div class="pageinfo">
    <p>You can customize the appearance of your page by adding a banner across the top or a collapsible announcement box.</p>
</div>

<h3 class="sectionheader">Banner</h3>

<div class="pageinfo">
    <p>Upload a banner image to go at the top of your page. Optimal dimensions are 600 &times; 120 pixels; larger images will be scaled to fit.</p>
</div>

<div class="banner-preview" id="banner">
    {% if user.banner %}
        <div class="bannerwrap">
            <div class="imgwrap">
                <img class="banner" src="{{ user.banner_url }}" />
            </div>
        </div>
        <a href="javascript:nop()" onClick="removeBanner()">remove</a>
    {% endif %}
</div>

                <span class="button btn-select fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Select</span>
                    <!-- The file input field used as target for the file upload widget -->
                    <input id="fileupload" type="file" name="picture" data-url="{% url "upload-banner" %}">
               </span>
               <span id="selected_file"></span>

{#<input id="fileupload" type="file" name="picture" data-url="{% url "upload-banner" %}">#}
<div id="progress">
    <div class="bar" style="border-width: 0px; width: 0%;"></div>
</div>

<script>
$(function () {
    $('#fileupload').fileupload({
        dataType: 'json',
        dropZone: null,
        done: function (e, data) {
console.log(data);
            if (data.result.success) {
                window.location.reload();
            } else {
                alert(data.result.message);
            }
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .bar').css(
                'width',
                progress + '%'
            ).css(
                'border-width',
                '1px'
            );
        },
    });
});
</script>


<div class="pageinfo">
</div>

{% if user.customicon_set.exists %}

    <h3 class="sectionheader">Custom Icons (legacy)</h3>

    <p>These icons appeared on your gallery page in the old site. They're shown here for your convenience.</p>

    {% for icon in user.customicon_set.all %}
        <img src="{{ icon.icon_url }}" />
    {% endfor %}

{% endif %}

<h3 class="sectionheader">Announcement Box</h3>

<div class="pageinfo">
    <p>The announcement box appears below the banner, and is normally hidden (it can be expanded and viewed by clicking the tab). 
    You can specify a "minimized" line of text to appear when the banner is hidden.</p>
</div>

<form name="bannertextform" id="bannertextform" method="POST" action="{% url "artmanager:customize" %}">
    <table class="formtable">
        <tr>
            <td class="label">Minimized Text</td>
            <td class="data"><input class="std" name="banner_text_min" maxlength="80" value="{{ user.banner_text_min }}" /></td>
        </tr>
        <tr>
            <td class="label">Announcements</td>
            <td class="data"><textarea name="banner_text">{{ user.banner_text }}</textarea></td>
        </tr>
        <tr>
            <td colspan="3" class="buttons">
                <button type="button" onClick="refreshBannerPreview(this.form)">Preview</button>
                <button type="submit">Save Changes</button>
            </td>
        </tr>
    </table>
    {% csrf_token %}
</form>

Preview:
<div class="bannertextpreview" id="bannertextpreview">
    {{ user.banner_text|bbcode|safe }}
</div>

{% endblock %}
