{% extends "artmanager/base.html" %}
{% load bbcode_tags %}

{% block am_content %}

{% if user.is_artist %}
    <h2>Artist Dashboard</h2>
{% else %}
    <h2>User Dashboard</h2>
{% endif %}

{% if user.is_artist %}

	<table class="formtable">
	<tr>
	<td class="label">Artist Name</td>
	<td class="data">{{ user.username }}</td>
	</tr>
	<tr>
	<td class="label">Listed By</td>
	<td class="data">{{ user.sort_name }}</td>
	</tr>
	<tr>
	<td class="label">Listing Icon</td>
	<td class="data">
        {% if user.example_pic %}
		<img class="thumb" src="{{ user.example_pic.preview_url }}" />
        {% else %}
		(none)
        {% endif %}
	</td>
	</tr>
	<tr>
	<td class="label">Profile Picture</td>
	<td class="data">
        {% if user.profile_pic_id or user.profile_picture %}
		<a href="{{ user.profile_pic_url }}" rel="shadowbox"><img class="thumb" src="{{ user.profile_pic_thumbnail_url }}" /></a>
        {% else %}
		(none)
        {% endif %}
	</td>
	</tr>
	<tr>
	<td class="label">Email</td>
	<td class="data">{{ user.email }}</td>
	</tr>
	<tr>
	<td class="label">Gallery URL</td>
	<td class="data"><a href="{% url "artist" dir_name=user.dir_name %}">{{ user.get_absolute_url }}</a></td>
	</tr>
	<tr>
	<td class="label">Pictures in Gallery</td>
	<td class="data">{{ user.num_pictures }}</td>
	</tr>
	<tr>
	<td class="label">Pictures Pending Approval</td>
	<td class="data">{{ user.pending_set.count }}</td>
	</tr>
	<tr>
	<td class="label">Fans</td>
	<td class="data">{{ user.fans.count }}</td>
	</tr>
	</table>

{% else %}

	<table class="formtable">
	<tr>
	<td class="label">Profile Name</td>
	<td class="data">{{ user.username }}</td>
	</tr>
	<tr>
	<td class="label">Email</td>
	<td class="data">{{ user.email }}</td>
	</tr>
	</table>

{% endif %}

<h3 class="sectionheader">Alerts</h3>

<div id="alerts">

{% for gift in user.open_gifts_received %}
<div class="requestalert">Pending ArtWall submission from <a href="/ApproveRequest.jsp?requestid=${request.requestid}&hash=${request.hash}">{{ gift.sender.username }}</a></div>
{% endfor %}

{% if user.claims_ready.exists %}
	<div class="newforme">
	<h3>New for You</h3>
        {% for claim in user.claims_ready %}
            {% include "includes/tradingtree_foryou.html" %}
        {% endfor %}
	</div>
{% endif %}

</div>

<h3 class="sectionheader">Unread Private Messages</h3>

<script type="text/javascript">
var pageParams = {};
</script>

<div id="pms">
{% include "includes/private_messages.html" %}
</div>

{% if user.is_artist %}
<h3 class="sectionheader">Unread Comments</h3>

<div class="globalactionslink">
<a href="javascript:nop()" onClick="markRead('comment','0',selitems_c)">Mark all selected as read</a>
</div>

<div class="selectall"><input type="checkbox" name="selectall" onClick="toggleSelectAll(this,selitems_c)" /> Select all</div>

<script type="text/javascript">
var selitems_c = new Array();
</script>

{% for comment in user.unread_comments %}
	<div class="comment">
	<div class="commentname">
		<div class="commentdate">{{ comment.date_posted|date }}</div>
		<input type="checkbox" name="select_{{ comment.id }}" id="select_{{ comment.id }}" value="1" />
                {% if comment.user.is_artist %}
		<a href="{% url "artist" dir_name=comment.user.dir_name %}">{{ comment.user.username }}</a>
                {% else %}
		{{ comment.user.username }}
                {% endif %}
		on <a href="{% url "picture" picture_id=comment.picture.id %}#{{ comment.id }}"><img src="{{ comment.picture.thumbnail_url }}" /></a>
        </div>
	<div class="commenttext clearAfter {% if comment.is_deleted %}commentdeleted{% endif %}" id="commenttext_{{ comment.id }}">
		<div class="commentprofilepic">
                {% if comment.user.profile_pic_id %}
			<a href="{% url "artist" dir_name=comment.user.dir_name %}"><img src="{{ comment.user.profile_pic_thumbnail_url }}" /></a>
                {% endif %}
		</div>
		<table><tr><td>
                {{ comment.comment|bbcode|safe }}
		</td></tr></table>
		<br clear="all" />
	</div>
	</div>

	<script type="text/javascript">
	selitems_c.push({{ comment.id }});
	</script>

{% endfor %}

<h3 class="sectionheader">Unread Roars</h3>

<div class="globalactionslink">
<a href="javascript:nop()" onClick="markRead('shout','0',selitems_s)">Mark all selected as read</a>
</div>

<div class="selectall"><input type="checkbox" name="selectall" onClick="toggleSelectAll(this,selitems_s)" /> Select all</div>

<script type="text/javascript">
var selitems_s = new Array();
</script>

{% for shout in user.unread_shouts %}
	<div class="comment">
	<div class="commentdate">{{ shout.date_posted|date }}</div>
	<div class="commentname">
		<input type="checkbox" name="select_{{ shout.id }}" id="select_{{ shout.id }}" value="1" />
                {% if shout.user.is_artist %}
		<a href="{% url "artist" dir_name=shout.user.dir_name %}">{{ shout.user.username }}</a>
                {% else %}
		{{ shout.user.username }}
                {% endif %}
	</div>
	<div class="commenttext {% if shout.is_deleted %}commentdeleted{% endif %}" id="shouttext_{{ shout.id }}">
		<div class="commentprofilepic">
                {% if shout.user.profile_pic_id %}
			<a href="{% url "artist" dir_name=shout.user.dir_name %}"><img src="{{ shout.user.profile_pic_thumbnail_url }}" /></a>
                {% endif %}
		</div>
		<table><tr><td>
                {{ shout.comment|bbcode|safe }}
		</td></tr></table>
		<br clear="all" />
	</div>
	</div>

	<script type="text/javascript">
	selitems_s.push({{ shout.id }});
	</script>

{% endfor %}

{% endif %}


{% endblock %}
