{% extends "artmanager/base.html" %}

{% block am_content %}

<%--
inc_dashboard.jsp
ArtManager component that serves as the default page, with a summary of account information.
--%>

<%@ include file="inc_root/inc_functions.jsp" %>
<%@ page language="java" contentType="text/html; charset=UTF-8" %>

<%@ taglib prefix="sql" uri="http://java.sun.com/jsp/jstl/sql" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %>
<%@ taglib prefix="fanart" uri="http://fanart.lionking.org/jsp/jstl/fanart" %>

<sql:setDataSource dataSource="jdbc/Fanart"   />

<c:if test="${loggedin == 1}">

<c:choose>
<c:when test="${artist.active == true}">
<h2>Artist Dashboard</h2>
</c:when>
<c:otherwise>
<h2>User Dashboard</h2>
</c:otherwise>
</c:choose>

<sql:query var="qryPending">
SELECT pendingid FROM pending
WHERE artistid=?
<sql:param value="${artist.artistid}" />
</sql:query>

<sql:query var="qryFans">
SELECT userid FROM favorites
WHERE artistid=?
<sql:param value="${artist.artistid}" />
</sql:query>

<c:choose>
<c:when test="${artist.active == true}">

	<table class="formtable">
	<tr>
	<td class="label">Artist Name</td>
	<td class="data">${artist.artistname}</td>
	</tr>
	<tr>
	<td class="label">Listed By</td>
	<td class="data">${artist.sortname}</td>
	</tr>
	<tr>
	<td class="label">Listing Icon</td>
	<td class="data">
	<c:choose>
	<c:when test="${artist.examplepic > 0}">
		<sql:query var="qryExamplePic">
		SELECT * FROM pictures
		WHERE pictureid=?
		AND deleted IS NULL
		<sql:param value="${artist.examplepic}" />
		</sql:query>
		<c:forEach var="examplepic" items="${qryExamplePic.rows}">
		<img class="thumb" src="/Artists/${artist.dirname}/${fanart:encodeURI(examplepic.basename)}.s.jpg" />
		</c:forEach>
	</c:when>
	<c:otherwise>
		(none)
	</c:otherwise>
	</c:choose>
	</td>
	</tr>
	<tr>
	<td class="label">Profile Picture</td>
	<td class="data">
	<c:choose>
	<c:when test="${artist.profilepic > 0}">
		<a href="/profiles/${artist.profilepic}.${artist.profilepic_ext}" rel="shadowbox"><img class="thumb" src="/profiles/${artist.profilepic}.s.${artist.profilepic_ext}" /></a>
	</c:when>
	<c:otherwise>
		(none)
	</c:otherwise>
	</c:choose>
	</td>
	</tr>
	<tr>
	<td class="label">Email</td>
	<td class="data">${artist.email}</td>
	</tr>
	<tr>
	<td class="label">Gallery URL</td>
	<td class="data"><a href="/Artists/${artist.dirname}/">http://fanart.lionking.org/Artists/${artist.dirname}/</a></td>
	</tr>
	<tr>
	<td class="label">Pictures in Gallery</td>
	<td class="data">${artist.numpictures}</td>
	</tr>
	<tr>
	<td class="label">Pictures Pending Approval</td>
	<td class="data">${qryPending.rowCount}</td>
	</tr>
	<tr>
	<td class="label">Fans</td>
	<td class="data">${qryFans.rowCount}</td>
	</tr>
	</table>

</c:when>
<c:otherwise>

	<table class="formtable">
	<tr>
	<td class="label">Profile Name</td>
	<td class="data">${artist.artistname}</td>
	</tr>
	<tr>
	<td class="label">Email</td>
	<td class="data">${artist.email}</td>
	</tr>
	</table>

</c:otherwise>
</c:choose>

<h3 class="sectionheader">Alerts</h3>

<div id="alerts">

<sql:query var="qryRequests">
SELECT * FROM requests,artists
WHERE recptid=?
AND requests.artistid=artists.artistid
AND requests.active=false
<sql:param value="${artist.artistid}" />
</sql:query>

<c:forEach var="request" items="${qryRequests.rows}">
<div class="requestalert">Pending ArtWall submission from <a href="/ApproveRequest.jsp?requestid=${request.requestid}&hash=${request.hash}">${request.artistname}</a></div>
</c:forEach>

<sql:query var="qryClaimsMine">
SELECT *
FROM offers,artists,claims
WHERE offers.artistid=artists.artistid
AND claims.offerid=offers.offerid
AND claims.userid=?
AND visible=true
AND ((type='icon' AND fulfilled IS NULL AND claims.filename IS NOT NULL)
OR (type='adoptable' AND fulfilled IS NOT NULL))
${timelimitclause}
${artistlimitclause}
ORDER BY claims.posted
<sql:param value="${user.userid}" />
</sql:query>

<c:if test="${qryClaimsMine.rowCount > 0}">
	<div class="newforme">
	<h3>New for You</h3>
	<jsp:include page="/inc_root/inc_ttforyou.jsp?offerype=icon&showall=0" />
	<jsp:include page="/inc_root/inc_ttforyou.jsp?offertype=adoptable" />
	</div>
</c:if>

</div>

<h3 class="sectionheader">Unread Private Messages</h3>

<div id="pms">
<jsp:include page="ajax_pms.jsp?box=in&viewmode=new&showpages=0&showstatus=0" />
</div>

<c:if test="${artist.active == true}">
<h3 class="sectionheader">Unread Comments</h3>

<div class="globalactionslink">
<a href="javascript:nop()" onClick="markRead('comment','0',selitems_c)">Mark all selected as read</a>
</div>

<div class="selectall"><input type="checkbox" name="selectall" onClick="toggleSelectAll(this,selitems_c)" /> Select all</div>

<script type="text/javascript">
var selitems_c = new Array();
</script>

<sql:query var="qryComments">
SELECT *,comments.deleted FROM comments,pictures,users
LEFT JOIN artists ON artists.userid=users.userid
WHERE comments.pictureid=pictures.pictureid
AND pictures.artistid=?
AND comments.userid=users.userid
AND viewed=false
ORDER BY posted DESC
LIMIT 10
<sql:param value="${artist.artistid}" />
</sql:query>

<c:forEach var="comment" items="${qryComments.rows}">
	<div class="comment">
	<div class="commentname"><c:if test="${comment.deleted == false || true}">
		<div class="commentdate"><fmt:formatDate value="${comment.posted}" type="both" pattern="HH:mm E M/d/yyyy" /></div>
		<input type="checkbox" name="select_${comment.commentid}" id="select_${comment.commentid}" value="1" />
		<c:choose>
		<c:when test="${comment.active == true}">
		<a href="/Artists/${comment.dirname}/">${comment.username}</a>
		</c:when>
		<c:otherwise>
		${comment.username}
		</c:otherwise>
		</c:choose>
		on <a href="Picture.jsp?pictureid=${comment.pictureid}#${comment.commentid}"><img src="/Artists/${artist.dirname}/${fanart:encodeURI(comment.basename)}.s.jpg" /></a></c:if></div>
	<div class="commenttext clearAfter <c:if test="${comment.deleted == true}">commentdeleted</c:if>" id="commenttext_${comment.commentid}">
		<div class="commentprofilepic">
		<c:if test="${comment.profilepic > 0}">
			<a href="/Artists/${comment.dirname}/"><img src="/profiles/${comment.profilepic}.s.${comment.profilepic_ext}" /></a>
		</c:if>
		</div>
		<c:set var="commenttext" value="${comment.comment}" />
		<table><tr><td>
		<%= formatText((String)pageContext.getAttribute("commenttext")) %>
		</td></tr></table>
		<br clear="all" />
	</div>
	</div>

	<script type="text/javascript">
	selitems_c.push(${comment.commentid});
	</script>

</c:forEach>

<h3 class="sectionheader">Unread Roars</h3>

<div class="globalactionslink">
<a href="javascript:nop()" onClick="markRead('shout','0',selitems_s)">Mark all selected as read</a>
</div>

<div class="selectall"><input type="checkbox" name="selectall" onClick="toggleSelectAll(this,selitems_s)" /> Select all</div>

<script type="text/javascript">
var selitems_s = new Array();
</script>

<sql:query var="qryShouts">
SELECT shouts.*,users.username,profilepic,profilepic_ext,dirname,artists.active FROM shouts,users
LEFT JOIN artists ON artists.userid=users.userid
WHERE shouts.artistid=?
AND shouts.userid=users.userid
AND viewed=false
ORDER BY posted DESC
LIMIT 10
<sql:param value="${artist.artistid}" />
</sql:query>

<c:forEach var="shout" items="${qryShouts.rows}">
	<div class="comment">
	<div class="commentdate"><fmt:formatDate value="${shout.posted}" type="both" pattern="HH:mm E M/d/yyyy" /></div>
	<div class="commentname"><c:if test="${shout.deleted == false || true}">
		<input type="checkbox" name="select_${shout.shoutid}" id="select_${shout.shoutid}" value="1" />
		<c:choose>
		<c:when test="${shout.active == true}">
		<a href="/Artists/${shout.dirname}/">${shout.username}</a>
		</c:when>
		<c:otherwise>
		${shout.username}
		</c:otherwise>
		</c:choose>
	</c:if></div>
	<div class="commenttext <c:if test="${shout.deleted == true}">commentdeleted</c:if>" id="shouttext_${shout.shouttid}">
		<div class="commentprofilepic">
		<c:if test="${shout.profilepic > 0}">
			<a href="/Artists/${shout.dirname}/"><img src="/profiles/${shout.profilepic}.s.${shout.profilepic_ext}" /></a>
		</c:if>
		</div>
		<c:set var="shouttext" value="${shout.comment}" />
		<table><tr><td>
		<%= formatText((String)pageContext.getAttribute("shouttext")) %>
		</td></tr></table>
		<br clear="all" />
	</div>
	</div>

	<script type="text/javascript">
	selitems_s.push(${shout.shoutid});
	</script>

</c:forEach>

</c:if>


</c:if>

{% endblock %}
