{% extends "artmanager/base.html" %}
{% load bbcode_tags %}

{% block page_title %} &mdash; ArtManager: Your Fans{% endblock %}

{% block am_content %}

<h2>Your Fans</h2>

{{ pages_link.pages_nav|safe }}

<div class="selector">
    Sort by: 
    <a class="{% if sort_by == "name" %}selected{% endif %}" href="{% url "artmanager:fans" %}?sort_by=name">name</a>
    <a class="{% if sort_by == "date" %}selected{% endif %}" href="{% url "artmanager:fans" %}?sort_by=date">date added</a>
</div>

{{ user.fans.count }} fan{{ user.fans.count|pluralize }} total; {{ user.visible_fans.count }} visible.

<table class="users">
    {% for fan in fans %}

        <tr>
            <td class="profilepic">
                {% if fan.user.profile_pic_thumbnail_url %}
                    {% if fan.user.is_artist %}
                        <a href="{% url "artist" dir_name=fan.user.dir_name %}"><img class="userprofilepic" src="{{ fan.user.profile_pic_thumbnail_url }}" /></a>
                    {% else %}
                        <img src="{{ fan.user.profile_pic_thumbnail_url }}" />
                    {% endif %}
                {% endif %}
            </td>
            <td class="name">
                {% if fan.user.is_artist %}
                    <a href="{% url "artist" dir_name=fan.user.dir_name %}">{{ fan.user.username }}</a>
                {% else %}
                    {{ fan.user.username }}
                {% endif %}
            </td>
            <td class="date">{{ fan.date_added|date:"m/d/Y" }}</td>
            <td class="comment">
                {{ fan.latest_shout.comment|bbcode|safe }}
            </td>
        </tr>

    {% endfor %}
</table>

{{ pages_link.pages_nav|safe }}

{% endblock %}
