{% extends "artmanager/base.html" %}
{% load bbcode_tags %}

{% block page_title %} &mdash; ArtManager: Folders{% endblock %}

{% block am_content %}

<h2>Your Folders</h2>

<div class="pageinfo">
    <p>
    Here you can set up folders to help organize your pictures. Each folder can have a name and a description, 
    and folders can be placed inside other folders. Once you have created some folders, you can 
    move pictures into them and upload new pictures directly into the folders where they should go.
    </p>

    <p>
    If you delete a folder, the pictures in it are <b>not</b> deleted&mdash;they are just moved up one level into the parent folder.
    </p>

    <p>Pictures in Main Folder: {{ user.pictures_in_main_folder }}</p>
</div>

<div class="editfolder">
    <form name="folder_new" id="folder_new" method="post">

        <div class="folderactions"><button type="button" class="small" onClick="validateForm('folder_new','createFolder()')">Create</button></div>

        <table class="formtable" style="width: 500px;">
            <tr>
                <td class="label">Create New Folder</td>
                <td class="data"><input type="text" name="name" id="name_new" maxlength="64" validate="hasvalue" message="You must enter a name for the new folder." /></td>
                <td class="">inside</td>
                <td class="data">
                    <select name="parent" id="parent_new" class="foldermenu">
                        <option value="0">(Main Folder)</option>
                    </select>
                </td>
            </tr>
        </table>
    </form>
</div>

<div id="folders_edit" artistid="{{ user.id }}" folderid="0"></div>

<input type="hidden" id="edit_artistid" value="{{ user.id }}" />

{% endblock %}
