{% extends "artmanager/base.html" %}
{% load bbcode_tags %}

{% block am_content %}

<div class="am_altpagelink"><a class="button" href="{% url "artmanager:upload" %}">Upload Artwork</a></div>

<script type="text/javascript">
var refreshThumbsInterval = null;

var checkThumbs = function() {
    var url = '/ArtManager/pending/status/';
    $.getJSON(url, function(data) {
        var continueChecking = false;
        for (pending_id in data) {
            if ($('img#pendingthumb_' + pending_id).attr('src') != data[pending_id].preview_url) {
                $('img#pendingthumb_' + pending_id).attr('src', data[pending_id].preview_url);
            }
            if (!data[pending_id].thumbnail_done) {
                continueChecking = true;
            }
        }
        if (!continueChecking) {
            clearInterval(refreshThumbsInterval);
console.log(refreshThumbsInterval);
        }
    });
};

refreshThumbsInterval = setInterval('checkThumbs()', 1000);
</script>

<h2>Uploads Pending Approval</h2>

<div class="pageinfo">
    {% if user.auto_approve %}
        <p>Because you have auto-approval privileges, the following pictures (unless flagged for excessive size or opted-in by you for manual approval)
        will be moved into your Gallery and made public within ten minutes.</p>
    {% endif %}
</div>

{% for pending in user.pending_set.all %}

    <div id="pending_{{ pending.id }}">
        {% include "includes/pending.html" %}
    </div>

{% endfor %}

{% endblock %}
