{% load bbcode_tags %}
{% load util_tags %}

<form name="editpending_{{ pending.id }}">
    <table class="formtable">
        <tr>
            <td class="label">Folder</td>
            <td class="data">
                <select name="folder" class="foldermenu">
                    <option value="0">(Main)</option>
                    {% for folder in folders %}
                        <option value="{{ folder.id }}" {% if pending.folder == folder %}selected{% endif %}>&nbsp;&nbsp;&nbsp;&nbsp;{% for i in folder.depth|times %}&nbsp;&nbsp;&nbsp;&nbsp;{% endfor %}{{ folder.name }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td class="label">Characters</td>
            <td class="data">

                <a class="tagcharacters" href="javascript:nop()" onClick="setupTagCharacters(null,'{{ pending.id }}')">tag characters</a>
                <div id="tagcharacters_{{ pending.id }}" style="display: block">
                    {% if pending.tagged_characters|length %}
                        {% with obj=pending.id tagged_characters=pending.tagged_characters %}
                            {% include "artmanager/tag_characters.html" %}
                        {% endwith %}
                        <script type="text/javascript">
                        $('a.tagcharacters').hide();
                        </script>
                    {% else %}
                        <input type="hidden" name="characters" id="characterstagged_{{ pending.id }}" value="" />
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <td class="label">Description</td>
            <td class="data"><textarea name="title">{{ pending.title }}</textarea></td>
        </tr>
        <tr>
            <td class="label">Keywords
                <div class="charcount">Comma separated</div>
            </td>
            <td class="data"><input type="text" name="keywords" id="keywords_{{ pending.id }}" value="{{ pending.keywords }}" /></td>
        </tr>
        <tr>
            <td colspan="2" class="buttons">
                <button type="button" onClick="editPending({{ pending.id }},this.form)">Save Changes</button>
            </td>
        </tr>
    </table>
</form>

