<h4>Edit picture</h4>

<form name="editpicture_{{ picture.id }}" id="editpicture_{{ picture.id }}" onSubmit="return false;">
    <table class="formtable">
        <tr>
            <td class="label">Characters</td>
            <td class="data">

                <a class="tagcharacters" href="javascript:nop()" onClick="setupTagCharacters(null,'{{ picture.id }}')">tag characters</a>
                <div id="tagcharacters_{{ picture.id }}" style="display: block">
                    {% if picture.tagged_characters|length %}
                        {% with obj=picture.id tagged_characters=picture.tagged_characters %}
                            {% include "artmanager/tag_characters.html" %}
                        {% endwith %}
                        <script type="text/javascript">
                        $('a.tagcharacters').hide();
                        </script>
                    {% else %}
                        <input type="hidden" name="characters" id="characterstagged_{{ picture.id }}" value="" />
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <td class="label">
                Description
                <div class="charcount" id="title_{{ picture.id }}_charcount">{{ picture.title|length }} / {{ max_title_chars }}</div>
                <div class="charcount"><a target="_blank" href="http://www.bbcode.org/reference.php">BBcode</a> allowed</div>
            </td>
            <td class="data">
                <textarea name="title" validate="hasvalue,maxlen:{{ max_title_chars }}" message="The picture description must be longer than zero and less than {{ max_title_chars }} characters." onKeyUp="refreshCharCount(this,{{ max_title_chars }},'title_{{ picture.id }}_charcount')">{{ picture.title }}</textarea>
            </td>
        </tr>
        <tr>
            <td class="label">
                Keywords
                <div class="charcount">Comma separated</div>
            </td>
            <td class="data">
                <input type="text" name="keywords" value="{{ picture.keywords_string }}" class="keywords" id="keywords_{{ picture.id }}" />
            </td>
        </tr>
        <tr>
            <td class="label"></td>
            <td class="data inputlabels">
                <input type="checkbox" name="private" id="private" value="1" {% if not picture.is_public %}checked{% endif %}>
                <label for="private">Private</label>
            </td>
        </tr>
        <tr>
            <td class="label"></td>
            <td class="data inputlabels">
                <input type="checkbox" name="wip" id="wip" value="1" {% if picture.work_in_progress %}checked{% endif %}>
                <label for="wip">Work In Progress (WIP)</label>
            </td>
        </tr>
        <tr>
            <td class="label"></td>
            <td class="data inputlabels">
                <input type="checkbox" name="allowcomments" id="allowcomments" value="1" {% if picture.allow_comments %}checked{% endif %}>
                <label for="allowcomments">Allow comments on this picture</label>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="buttons">
                <button type="button" onClick="validateForm('editpicture_{{ picture.id }}','editPicture({{ picture.id }},document.editpicture_{{ picture.id }})')">Save Changes</button>
            </td>
        </tr>
    </table>
</form>

