{% extends "artmanager/base.html" %}
{% load bbcode_tags %}
{% load tz %}

{# 26472 #}

{% block page_title %} &mdash; ArtManager: Artist Info / Prefs{% endblock %}

{% block am_content %}

<script type="text/javascript">
var refreshThumbsInterval = null;

var checkThumbs = function() {
    var url = '/profile-pic/upload/status/';
    $.getJSON(url, function(data) {
        $('#progress .bar').css('width', '0%').addClass('no-border');
        var continueChecking = false;
        if ('resize_done' in data) {
            $('#profilepic').show();
            if ($('#profilepic img').attr('src') != data.url) {
                $('#profilepic img').attr('src', data.url);
                $('#profilepic_link').attr('href', data.url);
            }
            if (!data.resize_done) {
                continueChecking = true;
                $('#profilepic_link').attr('href', null);
            }
        }
        if (!continueChecking) {
            clearInterval(refreshThumbsInterval);
        }
    });
};
</script>

{% if user.is_artist %}
    <h2>Your Artist Information and Preferences</h2>
{% else %}
    <h2>Your Profile Information</h2>
{% endif %}

{% if user.is_artist %}

    <form name="user_mode_form" id="user_mode_form" method="POST" action="{% url "artmanager:prefs-usermode" %}">
        <table class="formtable">
            <tr>
                <td class="label"></td>
                <td class="data"><button type="button" onClick="confirmDeactivate()">Deactivate Artist Account</button></td>
                <td class="legend"></td>
            </tr>
        </table>
        <input type="hidden" name="op" value="prefs" />
        <input type="hidden" name="fnc" value="deactivate" />
    </form>

    <h3 class="sectionheader">Identity</h3>

    <script type="text/javascript">
        var artistname_clean = "{{ user.username_escaped|safe }}";
        var sortname_clean = "{{ user.sort_name_escaped|safe }}";
    </script>

    <form name="artistform" id="artistform" method="POST" action="{% url "artmanager:prefs-update" %}">
        <input name="username" style="position: absolute; top: -500px;" />
        <table class="formtable">
            <tr>
                <td class="label">Artist Name</td>
                <td class="data">{{ user.username }} <a href="javascript:nop()" onClick="changeArtistName(artistname_clean,sortname_clean)">change</a></td>
                <td class="legend"></td>
            </tr>
            <tr>
                <td colspan="3" class="nopadding">
                    <div id="newname_form">

                        <div class="pastnames">
                            Past names:<br />
                            <table>
                                {% for past_name in user.past_names %}
                                    <tr>
                                        <td class="smalldata">{{ past_name.name }}</td>
                                        <td class="smalldata">{{ past_name.date_changed|date:"SHORT_DATE_FORMAT" }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>

                        <table class="formtable" style="width: 400px">
                            <tr>
                                 <td class="label">New Name</td>
                                 <td class="data"><input type="text" class="std" name="newname" id="newname" maxlength="32" onKeyUp="refreshNameSort(this.value,null,document.getElementById('sortname'));checkAvail(this.value)" /><br /><div id="newnameavailable"></div></td>
                            </tr>
                            <tr>
                                <td class="label">Sorting Name</td>
                                <td class="data">
                                    <select name="sortname" id="sortname"></select>
                                </td>
                            </tr>
                        </table>

                    </div>
                </td>
            </tr>
            <tr>
                <td class="label">Password</td>
                <td class="data"><input type="password" class="std" name="password" id="password" value="********" /></td>
                <td class="legend"></td>
            </tr>
            <tr>
                <td class="label">Repeat Password</td>
                <td class="data"><input type="password" class="std" name="password_repeat" id="password_repeat" value="********" /></td>
                <td class="legend"></td>
            </tr>
            <tr>
                <td class="label">Your Gallery is</td>
                <td class="data">
                    <select name="is_public" id="is_public">
                        <option {% if user.is_public %}selected{% endif %} value="1">Visible to all visitors to the Archive</option>
                        <option {% if not user.is_public %}selected{% endif %} value="0">Visible only to registered users of the Archive</option>
                    </select>
                </td>
                <td class="legend"></td>
            </tr>
            <tr>
                <td class="label">Profile Picture</td>
                <td class="data">
                    <div id="profilepic" {% if not user.has_profile_pic %}style="display: none;"{% endif %}>
                        <a id="profilepic_link" href="{{ user.profile_pic_url }}" target="_blank" rel="not-shadowbox" class="shadowbox"><img class="thumb" src="{{ user.profile_pic_url }}" /></a>
                        <a href="javascript:nop()" onClick="removeProfilePic()">remove</a>
                    </div>

                    {#<input id="fileupload" type="file" name="profile_picture" data-url="{% url "upload-profile-pic" %}">#}

                   <span class="button btn-select fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Select</span>
                        <!-- The file input field used as target for the file upload widget -->
                        <input id="fileupload" type="file" name="profile_picture" data-url="{% url "upload-profile-pic" %}">
                   </span>
                   <span id="selected_file"></span>

                    <div id="progress">
                        <div class="bar no-border"></div>
                    </div>

<script>
$(function () {
    $('#fileupload').fileupload({
        dataType: 'json',
        dropZone: null,
        done: function (e, data) {
console.log(data);
            if (!data.result.success) {
                alert(data.result.errors.profile_picture);
            }
            clearInterval(refreshThumbsInterval);
            refreshThumbsInterval = setInterval('checkThumbs()', 1000);
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .bar').css(
                'width',
                progress + '%'
            ).removeClass('no-border');
        },
    });
});

{% if user.profile_picture and not user.profile_pic_thumbnail_created %}
refreshThumbsInterval = setInterval('checkThumbs()', 1000);
{% endif %}
</script>

                </td>
                <td class="legend"></td>
            </tr>
        </table>

        <h3 class="sectionheader">Contact</h3>

        <table class="formtable">
            <tr>
                <td class="label">Email</td>
                <td class="data"><input type="email" class="std" name="email" id="email" value="{{ user.email }}" 1validate="email" /></td>
                <td class="legend">Must be a real, working address</td>
            </tr>
            <tr>
                <td class="label"></td>
                <td class="data inputlabels"><input type="checkbox" name="showemail" id="showemail" value="1" {% if user.show_email %}checked{% endif %} /> Display your email address in public</td>
                <td class="legend"></td>
            </tr>
            <tr>
                <td class="label">IM Clients</td>
                <td class="data" id="imclients">
                    {% include "includes/social_media.html" %}
                </td>
            </tr>
        </table>

        <h3 class="sectionheader">About You</h3>

        <table class="formtable">
            <tr>
                <td class="label">Description</td>
                <td class="data"><textarea name="artistdesc" id="artistdesc">{{ user.description }}</textarea></td>
                <td class="legend">You can use <a target="_blank" href="http://www.bbcode.org/reference.php">BBcode</a> for formatting.</td>
            </tr>
            <tr>
                <td class="label">Birthdate</td>
                <td class="data">
                    <input class="std" name="birthdate_pick" id="birthdate_pick" value="{{ user.birth_date|date:"m/d/Y" }}" />
                </td>
                <td class="legend"></td>
            </tr>
            <tr>
                <td class="label"></td>
                <td class="data inputlabels"><input type="checkbox" name="showbirthdate" id="showbirthdate" value="1" {% if user.show_birthdate %}checked{% endif %} /> <label for="showbirthdate">Display your birthdate in public</label></td>
                <td class="legend"></td>
            </tr>
            <tr>
                <td class="label"></td>
                <td class="data inputlabels"><input type="checkbox" name="showbirthdate_age" id="showbirthdate_age" value="1" {% if user.show_birthdate_age %}checked{% endif %} /> <label for="showbirthdate_age">Display your age</label></td>
                <td class="legend"></td>
            </tr>
            <tr>
                <td class="label">Gender</td>
                <td class="data">
                    <select name="gender" id="gender">
                        <option {% if user.gender == '' %}selected{% endif %} value="">(No Response)</option>
                        <option {% if user.gender == "male" %}selected{% endif %} value="male">Male</option>
                        <option {% if user.gender == "female" %}selected{% endif %} value="female">Female</option>
                        <option {% if user.gender == "non-binary" %}selected{% endif %} value="non-binary">Non-binary</option>
                    </select>
                </td>
                <td class="legend"></td>
            </tr>
            <tr>
                <td class="label">Pronouns</td>
                <td class="data"><input type="text" class="std" name="pronouns" id="pronouns" value="{{ user.pronouns }}" maxlength="30" /></td>
                <td class="legend"></td>
            </tr>
            <tr>
                <td class="label">Where You Live</td>
                <td class="data"><input type="text" class="std" name="location" id="location" value="{{ user.location }}" /></td>
                <td class="legend"></td>
            </tr>
            <tr>
                <td class="label">Occupation</td>
                <td class="data"><input type="text" class="std" name="occupation" id="occupation" value="{{ user.occupation }}" /></td>
                <td class="legend"></td>
            </tr>
            <tr>
                <td class="label">Website URL</td>
                <td class="data"><input type="text" class="std" name="website" id="website" value="{{ user.website }}" /></td>
                <td class="legend"></td>
            </tr>
        </table>

        <h3 class="sectionheader">Preferences</h3>

        <table class="formtable">
            <tr>
                <td class="label">Time Zone</td>
                <td class="data">
                    {% get_current_timezone as TIME_ZONE %}
                    <select name="timezone" id="timezone">
                        {% for tz in timezones %}
                            <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td class="legend"></td>
            </tr>
            <tr>
                <td class="label">Allow</td>
                <td class="data">
                    <input type="checkbox" name="allowshouts" id="allowshouts" value="1" {% if user.allow_shouts %}checked{% endif %} /> <label for="allowshouts"><b>Roars</b></label><br />
                    <input type="checkbox" name="allowcomments" id="allowcomments" value="1" {% if user.allow_comments %}checked{% endif %} /> <label for="allowcomments"><b>Picture Comments</b> (by default; can be overridden per-picture)</label><br />
                </td>
                <td class="legend"></td>
            </tr>
            <tr>
                <td class="label">Receive Email Notifications For</td>
                <td class="data">
                    <input type="checkbox" name="emailshouts" id="emailshouts" value="1" {% if user.email_shouts %}checked{% endif %} /> <label for="emailshouts"><b>Roars</b></label><br />
                    <input type="checkbox" name="emailcomments" id="emailcomments" value="1" {% if user.email_comments %}checked{% endif %} /> <label for="emailcomments"><b>Picture Comments</b></label><br />
                    <input type="checkbox" name="emailpms" id="emailpms" value="1" {% if user.email_pms %}checked{% endif %} /> <label for="emailpms"><b>Private Messages</b></label><br />
                </td>
                <td class="legend"></td>
            </tr>
            <tr>
                <td class="label"></td>
                <td class="data inputlabels"><input type="checkbox" name="showcc" id="showcc" value="1" {% if user.show_coloring_cave %}checked{% endif %} /> <label for="showcc">Include your Coloring Cave art in your Gallery</label></td>
                <td class="legend"></td>
            </tr>
            <tr>
                <td class="label"></td>
                <td class="data inputlabels">
                    <input type="checkbox" name="commissions" id="commissions" value="1" {% if user.commissions_open %}checked{% endif %} /> <label for="commissions">Accepting requests or commissions</label>
                </td>
                <td class="legend"></td>
            </tr>
            <tr>
                <td class="label"></td>
                <td class="data inputlabels">
                    <input type="checkbox" name="tooltips_enabled" id="tooltips_enabled" value="1" {% if user.tooltips_enabled %}checked{% endif %} /> <label for="tooltips_enabled">Popup Previews</label>
                </td>
                <td class="legend"></td>
            </tr>

            <tr>
                <td colspan="3" class="buttons">
                    <button type="button" onClick="validateForm('artistform','updatePrefs(\'commit\')')">Save Changes</button>
                </td>
            </tr>
        </table>
        <input type="hidden" name="op" value="prefs" />
        <input type="hidden" name="uploadop" value="profilepic" />
        <input type="hidden" name="fnc" value="commit" />
    </form>

{% else %}

    <form name="user_mode_form" id="user_mode_form" method="POST" action="{% url "artmanager:prefs-usermode" %}">
        <table class="formtable">
            <tr>
                <td class="label"></td>
                <td class="data"><button type="button" onClick="confirmActivate()">Activate Artist Account</button></td>
                <td class="legend"></td>
            </tr>
        </table>
        <input type="hidden" name="op" value="prefs" />
        <input type="hidden" name="fnc" value="activate" />
    </form>

    <script type="text/javascript">
        var artistname_clean = "{{ user.username_escaped|safe }}";
        var sortname_clean = "{{ user.sort_name_escaped|safe }}";
    </script>

    <form name="artistform" id="artistform" method="POST" action="{% url "artmanager:prefs-update-profile" %}">
        <input name="username" style="position: absolute; top: -500px;" />
        <table class="formtable">
            <tr>
                <td class="label">Name</td>
                <td class="data">{{ user.username }} <a href="javascript:nop()" onClick="changeArtistName(artistname_clean,sortname_clean)">change</a></td>
                <td class="legend"></td>
            </tr>
            <tr>
                <td colspan="3" class="nopadding">
                    <div id="newname_form">

                        <div class="pastnames">Past names:<br />
                            <table>
                                {% for past_name in user.past_names %}
                                    <tr>
                                        <td class="smalldata">{{ past_name.name }}</td>
                                        <td class="smalldata">{{ past_name.date_changed|date:"SHORT_DATE_FORMAT" }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>

                        <table class="formtable" style="width: 400px">
                            <tr>
                                <td class="label">New Name</td>
                                <td class="data"><input type="text" class="std" name="newname" id="newname" maxlength="32" onKeyUp="refreshNameSort(this.value,null,document.getElementById('sortname'));checkAvail(this.value)" /><br /><div id="newnameavailable"></div></td>
                            </tr>
                            <tr>
                                <td class="label">Sorting Name</td>
                                <td class="data">
                                    <select name="sortname" id="sortname"></select>
                                </td>
                            </tr>
                        </table>

                    </div>
                </td>
            </tr>
            <tr>
                <td class="label">Password</td>
                <td class="data"><input type="password" class="std" name="password" id="password" value="********" /></td>
                <td class="legend"></td>
            </tr>
            <tr>
                <td class="label">Repeat Password</td>
                <td class="data"><input type="password" class="std" name="password_repeat" id="password_repeat" value="********" /></td>
                <td class="legend"></td>
            </tr>
            <tr>
                <td class="label">Profile Picture</td>
                <td class="data">
                    <div id="profilepic" {% if not user.has_profile_pic %}style="display: none;"{% endif %}>
                        <a id="profilepic_link" href="{{ user.profile_pic_url }}" target="_blank" rel="not-shadowbox" class="shadowbox"><img class="thumb" src="{{ user.profile_pic_url }}" /></a>
                        <a href="javascript:nop()" onClick="removeProfilePic()">remove</a>
                    </div>

                    <input id="fileupload" type="file" name="profile_picture" data-url="{% url "upload-profile-pic" %}">
                    <div id="progress">
                        <div class="bar" style="border-width: 0px; width: 0%;"></div>
                    </div>

<script>
$(function () {
    $('#fileupload').fileupload({
        dataType: 'json',
        dropZone: null,
        done: function (e, data) {
console.log(data);
            refreshThumbsInterval = setInterval('checkThumbs()', 1000);
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .bar').removeClass('no-border').css(
                'width',
                progress + '%'
            ).css(
                'border-width',
                '1px'
            );
        },
    });
});

{% if user.profile_picture and not user.profile_pic_thumbnail_created %}
refreshThumbsInterval = setInterval('checkThumbs()', 1000);
{% endif %}
</script>

                </td>
                <td class="legend"></td>
            </tr>
            <tr>
                <td class="label">Email</td>
                <td class="data"><input type="text" class="std" name="email" id="email" value="{{ user.email }}" validate="email" /></td>
                <td class="legend">Must be a real, working address</td>
            </tr>
            <tr>
                <td class="label">Time Zone</td>
                <td class="data">
                    {% get_current_timezone as TIME_ZONE %}
                    <select name="timezone" id="timezone">
                        {% for tz in timezones %}
                            <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td class="legend"></td>
            </tr>
            <tr>
                <td class="label">Send Email Notifications For</td>
                <td class="data">
                    <input type="checkbox" name="emailpms" id="emailpms" value="1" {% if user.email_pms %}checked{% endif %} /> <label for="emailpms"><b>Private Messages</b></label><br />
                </td>
                <td class="legend"></td>
            </tr>
            <tr>
                <td class="label"></td>
                <td class="data">
                    <input type="checkbox" name="tooltips_enabled" id="tooltips_enabled" value="1" {% if user.tooltips_enabled %}checked{% endif %} /> <label for="tooltips_enabled">Popup Previews</label><br />
                </td>
                <td class="legend"></td>
            </tr>

            <tr>
                <td colspan="2" class="buttons">
                    <button type="button" onClick="validateForm('artistform','updatePrefs(\'commit\')')">Save Changes</button>
                </td>
            </tr>
        </table>
        <input type="hidden" name="op" value="prefs" />
        <input type="hidden" name="uploadop" value="profilepic" />
        <input type="hidden" name="fnc" value="commit" />
    </form>

{% endif %}

{% endblock %}
