{% extends "artmanager/base.html" %}

{% block page_title %} &mdash; ArtManager: Private Messages{% endblock %}

{% block am_content %}

<h2>Private Messages</h2>

<div class="selector">
    <a id="sel_in" class="{% if box == "in" %}selected{% endif %}" href="{% url "artmanager:private-msgs" box="in" %}">Inbox</a>
    <a id="sel_out" class="{% if box == "out" %}selected{% endif %}" href="{% url "artmanager:private-msgs" box="out" %}">Sent</a>
    <a id="sel_trash" class="{% if box == "trash" %}selected{% endif %}" href="{% url "artmanager:private-msgs" box="trash" %}">Trash</a>
</div>

{% if not user.is_paid %}
    <div class="pageinfo">
        <p>Sending and receiving new private messages is a feature only available to paid Premium members.</p>
    </div>
{% else %}
    <a href="javascript:nop();" onClick="newPM();">New private message</a>
{% endif %}


<div id="pms">
{% if pm or new_pm or blocked %}
    {% include "includes/pm.html" %}
{% endif %}
</div>
<div id="pmstatus"></div>

<script type="text/javascript">
var pageParams = {};

{% if pm %}
{% elif recipient %}
    newPM({{ recipient.id }}, '{{ request.GET.urlencode }}');
{% else %}
    refreshPMBox('{{ box }}',1,'all',1,1);
{% endif %}
</script>

{% endblock %}
