{% extends "artmanager/base.html" %}
{% load bbcode_tags %}

{% block am_content %}

<h2>Your Roars</h2>

{% if user.is_artist %}
    <div class="selector_commentview">
        <div class="selector">
            <a class="{% if shout_type == "sent" %}selected{% endif %}" href="{% url "artmanager:shouts" shout_type="sent" %}">posted</a>
            <a class="{% if shout_type == "received" %}selected{% endif %}" href="{% url "artmanager:shouts" shout_type="received" %}">received</a>
        </div>

        {% if shout_type == "received" %}
        <div class="selector">
            View: <a class="{% if not show_all %}selected{% endif %}" href="{% url "artmanager:shouts" shout_type=shout_type %}?show_all=0">unread</a>
            <a class="{% if show_all %}selected{% endif %}" href="{% url "artmanager:shouts" shout_type=shout_type %}?show_all=1">all</a>
        </div>
        <br clear="left" />

        <div class="globalactionslink">
            <a href="javascript:nop()" onClick="markRead('shout',null)">Mark all selected as read</a>
        </div>
        
        <div class="selectall"><input type="checkbox" name="selectall" onClick="toggleSelectAll(this)" /> Select all</div>
        {% endif %}

        <br clear="left" />
    </div>
{% endif %}

{{ pages_link.pages_nav|safe }}

{% for shout in shouts %}
<form name="editcomment_{{ shout.id }}">
    <div class="comment" id="shout_{{ shout.id }}">
     {% include "artmanager/shout.html" %}
    </div>
</form>

        {% if not shout.is_received %}
            <script type="text/javascript">
            selitems.push({{ shout.id }});
            </script>
        {% endif %}

{% endfor %}

{% endblock %}
