<div class="tagcharacters">

    <table class="formtable tagcharacters">
        <tr>
            <td class="label">Canon</td>
            <td class="data">
                <select name="canoncharacter" id="canoncharacter_pick_{{ obj }}" onChange="tagCharacter(this.options[this.selectedIndex].value,'add','{{ obj }}')">
                    <option value="0">(Select)</option>
                    {% for character in canon_characters %}
                        <option value="{{ character.id }}">{{ character.name }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td class="label">Yours</td>
            <td class="data">
                <select name="yourcharacter" id="yourcharacter_pick_{{ obj }}" onChange="tagCharacter(this.options[this.selectedIndex].value,'add','{{ obj }}')">
                    <option value="0">(Select)</option>
                    {% for character in user.character_set.all %}
                        <option value="{{ character.id }}">{{ character.name }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td class="label">Other</td>
            <td class="data"><input name="character" id="character_pick_{{ obj }}" onBlur="this.value=''" /></td>
        </tr>
    </table>

    <div id="charactertaglist_{{ obj }}">
            {% include "artmanager/tagged_characters.html" %}
        {% with picture=replacing_picture %}
        {% endwith %}
    </div>

</div>
