<input type="hidden" name="characters" id="characterstagged_{{ obj }}" value="{{ tag_list }}" />
<table class="formtable tagcharacters">
{% for character in tagged_characters %}
    <tr>
        <td><a href="{% url "character" character_id=character.id %}">{{ character.name }}</a></td>
        <td>{% if character.is_canon %}(Canon){% else %}<a href="{% url "artist" dir_name=character.owner.dir_name %}">{{ character.owner.username }}</a>{% endif %}</td>
        <td><a href="javascript:nop()" onClick="tagCharacter({{ character.id }},'remove','{{ obj }}')">remove</a></td>
    </tr>
{% endfor %}
</table>

