{% extends "artmanager/base.html" %}
{% load bbcode_tags %}

{% block am_content %}

<div class="am_altpagelink"><a class="button" href="{% url "artmanager:trading-tree-for-you" %}">For You</a></div>

<h2>Offer Art on the Trading Tree</h2>

<div class="selector">
    <a class="{% if offer_type == "icon" %}selected{% endif %}" href="{% url "artmanager:trading-tree" offer_type="icon" %}">icons</a>
    <a class="{% if offer_type == "adoptable" %}selected{% endif %}" href="{% url "artmanager:trading-tree" offer_type="adoptable" %}">adoptables</a>
</div>

<div class="pageinfo">

    {% if offer_type == "icon" %}
        <p>
            <b>Icons:</b> Upload a picture that you can customize for other artists to use as a personalized avatar. Artists will apply at the Trading Tree for you to 
            customize it according to the reference they provide.
	<p>
    {% elif offer_type == "adoptable" %}
	<p>
            <b>Adoptables:</b> Select a character from your Characters section and put it up for adoption. Artists will apply to adopt the character at the Trading Tree,
            and you can choose which one wins.
        <p>
    {% endif %}

</div>

{% if offer %}

<script type="text/javascript">
var refreshThumbsInterval = null;

var checkThumbs = function() {
    var url = '{% url "artmanager:offer-status" offer_id=offer.id %}';
    $.getJSON(url, function(data) {
        var continueChecking = false;
        for (offer_id in data) {
            if ($('img#offerthumb_' + offer_id).attr('src') != data[offer_id].thumbnail_url) {
                $('img#offerthumb_' + offer_id).attr('src', data[offer_id].thumbnail_url);
            }
            if (!data[offer_id].thumbnail_done) {
                continueChecking = true;
            }
        }
        if (!continueChecking) {
            clearInterval(refreshThumbsInterval);
console.log(refreshThumbsInterval);
        }
    });
};

refreshThumbsInterval = setInterval('checkThumbs()', 1000);
</script>



    {% if offer.is_active and offer.is_visible %}
        {% include "includes/tradingtree.html" %}
    {% else %}
        This offer is no longer active.
    {% endif %}

{% else %}

    <form name="offerform_new" id="offerform_new" method="POST">
        <table class="formtable">
            <tr>
                <td class="label">Post new {{ offer_type }}</td>
                <td class="data" id="offerselect">
                    {% if offer_type == "icon" %}
                        <input id="fileupload" type="file" name="picture" validate="hasvalue" message="You must provide a picture file to display as the basis for your icon offer." data-url="{% url "artmanager:upload-icon-offer" %}">
                    {% elif offer_type == "adoptable" %}
                        <span id="charactername">
                            {% if character %}
				{{ character.name }}
                            {% endif %}
                        </span>
                        <input type="hidden" name="characterid" value="{% if character %}{{ character.id }}{% endif %}" validate="hasvalue" message="You must select a character to put up for adoption." />
                        <a href="{% url "character-picker" %}" rel="shadowbox;width=500;height=600">select character</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="label">Title</td>
                <td class="data"><input type="text" class="std" name="title" validate="hasvalue" message="You must enter a title for this offer." /></td>
            </tr>
            <tr>
                <td class="label">Comment</td>
                <td class="data"><textarea name="comment"></textarea></td>
            </tr>
            <tr>
                <td colspan="2" class="buttons">
                    {% if offer_type == "icon" %}
                        <button type="button" id="up_btn" class="start">Post Icon Offer</button>
                    {% elif offer_type == "adoptable" %}
                        <button type="button" onClick="validateForm('offerform_new','postAdoptableOffer()')">Post Adoptable</button>
                    {% endif %}
                </td>
            </tr>
        </table>
        <input type="hidden" name="op" value="tradingtree" />
        <input type="hidden" name="uploadop" value="newoffer" />
        <input type="hidden" name="todo" value="newoffer" />
        <input type="hidden" name="offertype" value="{{ offer_type }}" />
    </form>

    <div id="progress">
        <div class="bar no-border"></div>
    </div>

    <div id="offerslayout">

        {% include "artmanager/offers.html" %}
        <br clear="left" />

    </div>


    <script>
$(function () {
    $('#fileupload').fileupload({
        dataType: 'json',
        dropZone: null,
//        autoUpload: false,
        done: function (e, data) {
            window.location.href = '/ArtManager/trading_tree/icon/?offer_id=' + data.result.offer_id;
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .bar').css(
                'width',
                progress + '%'
            );
        },
        add: function (e, data) {
            $("#up_btn").off('click').on('click', function () {
console.log(data);
                data.submit();
                $('#progress .bar').removeClass('no-border');
            });
        },
    });
});
    </script>

{% endif %}

{% endblock %}
