{% if replacing_picture %}

    Replacing picture:

    {% with picture=replacing_picture %}
        {% include "includes/picture.html" %}
    {% endwith %}

{% endif %}

{% comment %}
<script type="text/javascript">
var refreshThumbsInterval = null;

var checkThumbs = function() {
    var url = '/ArtManager/pending/status/';
    $.getJSON(url, function(data) {
        var continueChecking = false;
        for (pending_id in data) {
            if ($('img#pendingthumb_' + pending_id).attr('src') != data[pending_id].preview_url) {
                $('img#pendingthumb_' + pending_id).attr('src', data[pending_id].preview_url);
            }
            if (!data[pending_id].thumbnail_done) {
                continueChecking = true;
            }
        }
        if (!continueChecking) {
            clearInterval(refreshThumbsInterval);
console.log(refreshThumbsInterval);
        }
    });
};
</script>
{% endcomment %}

<form name="uploadform" id="uploadform" method="POST" enctype="multipart/form-data">
    <table class="formtable">
        <tr>
            <td class="label">File</td>
            <td class="data">
                {#<input name="uploadfile" type="file" id="uploadfile" validate="hasvalue" message="You must select a file to upload." />#}
    <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Select files...</span>
        <!-- The file input field used as target for the file upload widget -->
        <input id="fileupload" type="file" name="picture" data-url="{% url "artmanager:upload-file" %}">
    </span>
<span id="selected_file"></span>

            </td>
        </tr>
        <tr>
            <td class="label">Folder</td>
            <td class="data">
                <select name="folder" class="foldermenu" {% if replacing_picture %}folderid="{{ replacing_picture.folder.id }}"{% endif %}>
                    <option value="0">(Main)</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="label">Characters</td>
            <td class="data">
                <a class="tagcharacters" href="javascript:nop()" onClick="setupTagCharacters(null,'new')">tag characters</a>
                <div id="tagcharacters_new">
                    {% if replacing_picture.picturecharacter_set.exists %}
                        {% with obj="new" taglist=replacing_picture.character_id_list %}
                            {% include "artmanager/tag_characters.html" %}
                        {% endwith %}
                        <script type="text/javascript">
                        setupAutocompleteCharacter('new',"tagCharacter(ui.item.characterid,'add','new')");
                        $('a.tagcharacters').hide();
                        </script>
                    {% else %}
                        <input type="hidden" name="characters" id="characterstagged_new" value="" />
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <td class="label">
                Description
                <div class="charcount" id="title_charcount">{{ replacing_picture.title|length }} / {{ max_title_chars }}</div>
            </td>
            <td class="data">
                <textarea name="title" id="ta_title" validate="hasvalue,maxlen:{{ max_title_chars }}" message="You must enter a description for the picture, up to {{ max_title_chars }} characters long." onKeyUp="refreshCharCount(this,{{ max_title_chars }},'title_charcount')">{{ replacing_picture.title }}</textarea>
            </td>
        </tr>
    </table>

    <a href="javascript:nop()" onClick="$('#uploadoptions').slideToggle('fast')">options</a>
    <div class="uploadoptions" id="uploadoptions">
        <table class="formtable">
            <tr>
                <td class="label">
                    Keywords
                    <div class="charcount">Comma separated</div>
                </td>
                <td class="data"><input type="text" name="keywords" value="{{ replacing_picture.keywords_string }}" class="std" id="keywords_new" /></td>
            </tr>
            {% if user.auto_approve %}
                <tr>
                    <td class="label"></td>
                    <td class="data inputlabels">
                        <input type="checkbox" name="force_approve" id="forceapprove" value="1">
                        <label for="forceapprove">Have this picture manually approved by the administrator</label>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td class="label">Notes to Administrator</td>
                    <td class="data"><input type="text" name="notes" value="" class="std" /></td>
                </tr>
                <tr>
                    <td class="label"></td>
                    <td class="data inputlabels"><input type="checkbox" name="notify_on_approval" id="notify" value="1">
                    <label for="notify">Be notified by email when this picture is accepted</label></td>
                </tr>
            {% endif %}

            {% if replacing_picture %}
                <tr>
                    <td class="label"></td>
                    <td class="data">
                        <select name="reset_upload_date">
                            <option selected value="1">Set upload date to today</option>
                            <option value="0">Use original upload date</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label"></td>
                    <td class="data inputlabels">
                        <input type="checkbox" name="notify_fans_of_replacement" id="replacenotify" value="1">
                        <label for="replacenotify">Notify your fans that this picture has been replaced</label>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td class="label"></td>
                <td class="data inputlabels">
                    <input type="checkbox" name="work_in_progress" id="wip" value="1" {% if replacing_picture.work_in_progress %}checked{% endif %}>
                    <label for="wip">Work In Progress (WIP)</label>
                </td>
            </tr>
            <tr>
                <td class="label"></td>
                <td class="data inputlabels">
                    <input type="checkbox" name="allow_comments" id="allowcomments" value="1" {% if replacing_picture.allow_comments != False and user.allow_comments %}checked{% endif %}>
                    <label for="allowcomments">Allow comments on this picture</label>
                </td>
            </tr>
        </table>
    </div>

    <table class="formtable">
        <tr>
            <td colspan="2" class="buttons">
                {#<button type="button" onClick="validateForm('uploadform','uploadPicture(\'uploadform\',\'uploadfile\',\'uploadsuccess\',null,false,4000)')">Upload (old)</button>#}
                <button type="button" id="up_btn" class="start">Upload</button>
            </td>
        </tr>
    </table>

    <div id="progress">
        <div class="bar no-border"></div>
    </div>

    <script>
$(function () {
    $('#fileupload').fileupload({
        dataType: 'json',
        dropZone: null,
//        autoUpload: false,
        done: function (e, data) {

            if (data.result.success) {
                $('#uploadsuccess').slideUp('fast');
                $('#uploadformdiv').slideUp('fast');
                $('#uploadsuccess').load('/ArtManager/upload/success/' + data.result.pending_id, function(data) {
                    $('#uploadsuccess').slideDown('fast');
                    $('#uploadformdiv').html(data);
                    Shadowbox.setup('#uploadformdiv a.shadowbox');
                    $('#uploadformdiv').load('/ArtManager/upload/form/',function() {
                        $(this).slideDown();
                        setupTooltipPreview();
                    });
                    $('#comment').val('');
                });
//                $('.pending-uploads').html(data.pending);

                refreshThumbsInterval = setInterval('checkThumbs()', 1000);
            } else {
                alert(data.result.message);
                $('#progress .bar').css('width', '0%').addClass('no-border');
            }
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .bar').css(
                'width',
                progress + '%'
            );
        },
        add: function (e, data) {
console.log(data);
            $('#selected_file').html(data.files[0].name);
            $("#up_btn").off('click').on('click', function () {
                if (validateForm('uploadform')) {
                    data.submit();
                    $('#progress .bar').removeClass('no-border');
                }
            });
        },
    });
});
    </script>

    <input type="hidden" name="replaces_picture" value="{{ replacing_picture.id }}" />
</form>
