{% extends "artmanager/base.html" %}
{% load bbcode_tags %}

{% block am_content %}

<div class="am_altpagelink"><a class="button" href="{% url "artmanager:pending" %}">Pending Uploads (<span class="pending-uploads">{{ user.pending_set.count }}</span>)</a></div>

<h2>Upload Artwork</h2>

<div class="pageinfo">

    <p>You are responsible for knowing and adhering to the <a href="javascript:nop()" onClick="toggleGuidelines()">Guidelines</a> for appropriate content for this site.</p>

    <p>Please remember that the two most important requirements for your submitted artwork are:</p>
    <ul>
        <li>It must be your own original work</li>
        <li>It must be on-topic (relating in some way to <i>The Lion King</i>)
    </ul>

</div>

<div id="guidelines" {% if user.show_guidelines %}style="display: block;"{% endif %}>
{% if user.show_guidelines %}
    {% include "includes/guidelines.html" %}
{% endif %}
</div>

<div id="uploadsuccess"></div>
<div id="loading"></div>

<div id="uploadformdiv">
    {% include "artmanager/upload_form.html" %}
</div>

<input type="hidden" id="edit_artistid" value="{{ user.id }}" />

{% endblock %}
