{% load bbcode_tags %}

<div class="upload-result">
    <p>Upload complete.</p>

    {% if user.auto_approval %}
        <p>
        Because you have auto-approval privileges, this picture will be published to your gallery within 10 minutes (unless you requested manual approval).
        See the "Pending Uploads" page to make any edits necessary.
        </p>
    {% else %}
        <p>
        After it has been approved by an administrator, this picture will be published to your gallery.
        See the "Pending Uploads" page to make any edits necessary.
        </p>
    {% endif %}
</div>

{% with hide_actions=True %}
    {% include "includes/pending.html" %}
{% endwith %}

