{% if replacing_picture %}

    Replacing picture:

    {% with picture=replacing_picture %}
        {% include "includes/picture.html" %}
    {% endwith %}

{% endif %}

{% comment %}
<c:if test="${replace > 0}">

	<sql:query var="qryReplacePending">
	SELECT * FROM pending
	WHERE replacement=?
	AND artistid=?
	<sql:param value="${replace}" />
	<sql:param value="${artist.artistid}" />
	</sql:query>

	<c:if test="${qryReplacePending.rowCount == 0}">

		<sql:query var="qryReplace">
		SELECT * FROM pictures
		WHERE pictureid=?
		AND artistid=?
		AND deleted IS NULL
		<sql:param value="${replace}" />
		<sql:param value="${artist.artistid}" />
		</sql:query>

		<c:forEach var="replace" items="${qryReplace.rows}">
			<c:set var="replacepic" value="${replace}" scope="page" />

			Replacing picture:

			<c:set var="replacement" value="${replacepic.pictureid}" />
			<c:set var="title" value="${replacepic.title}" />
			<tags:printPicture
				picnumber="${picnumber}"
				pictureid="${replacepic.pictureid}"
				basename="${replacepic.basename}"
				extension="${replacepic.extension}"
				type="${replacepic.type}"
				title="<%= formatText((String)pageContext.getAttribute(\"title\")) %>"
				dirname="${artist.dirname}"
				width="${replacepic.width}"
				height="${replacepic.height}"
				thumbheight="${replacepic.thumbheight}"
				allowcomments="${replacepic.allowcomments_p && artist.allowcomments}"
				numcomments="${replacepic.numcomments}"
				numpicfaves="${replacepic.numpicfaves}"
				gallery="${artist.dirname}"
				folder="${replacepic.folderid}"
				cc_base="${replacepic.coloring_baseid}"
				showcolored="0"
				>
				<jsp:attribute name="uploaded">
					<fmt:formatDate value="${replacepic.uploaded}" type="both" pattern="HH:mm E M/d/yyyy" />
				</jsp:attribute>
				<jsp:attribute name="filesize">
					<fmt:formatNumber value="${replacepic.filesize / 1024}" type="number" pattern="###" />
				</jsp:attribute>
			</tags:printPicture>
		</c:forEach>

	</c:if>

</c:if>
{% endcomment %}

<form name="uploadform" id="uploadform" method="POST" action="ArtManager.jsp" enctype="multipart/form-data">
<table class="formtable">
<tr>
<td class="label">File</td>
<td class="data"><input name="uploadfile" type="file" id="uploadfile" validate="hasvalue" message="You must select a file to upload." /></td>
</tr>
<tr>
<td class="label">Folder</td>
<td class="data">
<select name="folder" class="foldermenu">
<option value="0">(Main)</option>
</select>
</td>
</tr>
<tr>
<td class="label">Characters</td>
<td class="data">
<a class="tagcharacters" href="javascript:nop()" onClick="setupTagCharacters(null,'new')">tag characters</a>
<div id="tagcharacters_new">
{% if replacing_picture.picturecharacter_set.exists %}
<c:choose>
<c:when test="${qryPictureCharacters.rowCount > 0}">
        {% with obj="new" taglist=replacing_picture.character_id_list %}
        {% include "artmanager/tag_characters.html" %}
        {% endwith %}
	<jsp:include page="ajax_tagcharacters.jsp?obj=new&taglist=${taglist}" />
	<script type="text/javascript">
	setupAutocompleteCharacter('new',"tagCharacter(ui.item.characterid,'add','new')");
	$('a.tagcharacters').hide();
	</script>
</c:when>
{% else %}
<c:otherwise>
	<input type="hidden" name="characters" id="characterstagged_new" value="" />
</c:otherwise>
</c:choose>
{% endif %}
</div>
</td>
</tr>
<tr>
<td class="label">Description
<div class="charcount" id="title_charcount">{{ replacing_picture.title|length }} / {{ max_title_chars }}</div>
</td>
<td class="data"><textarea name="title" id="ta_title" validate="hasvalue,maxlen:{{ max_title_chars }}" message="You must enter a description for the picture, up to ${maxtitlechars} characters long." onKeyUp="refreshCharCount(this,{{ max_title_chars }},'title_charcount')">{{ replacing_picture.title }}</textarea></td>
</tr>
</table>

<a href="javascript:nop()" onClick="$('#uploadoptions').slideToggle('fast')">options</a>
<div class="uploadoptions" id="uploadoptions">
<table class="formtable">
<tr>
<td class="label">Keywords
<div class="charcount">Comma separated</div>
</td>
<td class="data"><input type="text" name="keywords" value="{{ replacing_picture.keywords_string }}" class="std" id="keywords_new" /></td>
</tr>
{% if user.auto_approve %}
<c:choose>
<c:when test="${artist.autoapprove == true}">
	<tr>
	<td class="label"></td>
	<td class="data inputlabels"><input type="checkbox" name="forceapprove" id="forceapprove" value="1"> <label for="forceapprove">Have this picture manually approved by the administrator</label></td>
	</tr>
</c:when>
{% else %}
<c:otherwise>
	<tr>
	<td class="label">Notes to Administrator</td>
	<td class="data"><input type="text" name="notes" value="" class="std" /></td>
	</tr>
	<tr>
	<td class="label"></td>
	<td class="data inputlabels"><input type="checkbox" name="notify" id="notify" value="1"> <label for="notify">Be notified by email when this picture is accepted</label></td>
	</tr>
</c:otherwise>
</c:choose>
{% endif %}
{% if replacing_picture %}
<c:if test="${replacement > 0}">
	<tr>
	<td class="label"></td>
	<td class="data">
	<select name="replacedate">
	<option selected value="1">Set upload date to today
	<option value="0">Use original upload date
	</select>
	</td>
	</tr>
	<tr>
	<td class="label"></td>
	<td class="data inputlabels"><input type="checkbox" name="replacenotify" id="replacenotify" value="1"> <label for="replacenotify">Notify your fans that this picture has been replaced</label></td>
	</tr>
</c:if>
{% endif %}
<tr>
<td class="label"></td>
<td class="data inputlabels"><input type="checkbox" name="wip" id="wip" value="1" {% if replacing_picture.work_in_progress %}checked{% endif %}> <label for="wip">Work In Progress (WIP)</label></td>
</tr>
<tr>
<td class="label"></td>
<td class="data inputlabels"><input type="checkbox" name="allowcomments" id="allowcomments" value="1" {% if replacing_picture.allow_comments and user.allow_comments %}checked{% endif %}> <label for="allowcomments">Allow comments on this picture</label></td>
</tr>
</table>
</div>

<table class="formtable">
<tr>
<td colspan="2" class="buttons">
<button type="button" onClick="validateForm('uploadform','uploadPicture(\'uploadform\',\'uploadfile\',\'uploadsuccess\',null,false,4000)')">Upload</button>
</td>
</tr>
</table>

<input type="hidden" name="op" value="upload" />
<input type="hidden" name="uploadop" value="upload" />
<input type="hidden" name="todo" value="upload" />
<input type="hidden" name="commit" value="1" />
<input type="hidden" name="replacement" value="{{ replacing_picture.id }}" />
</form>


</c:if>

