{% load bbcode_tags %}
{% for announcement in admin_announcements %}
{% if announcement %}

<div class="bulletinlink" bulletin_id="{{ announcement.id }}">
    <div class="bulletin-title-block">
        <div class="bulletindate">{{ announcement.date_posted|date:"SHORT_DATE_FORMAT" }}</div>
        <p class="bulletintitle"><a href="{% url "bulletin" bulletin_id=announcement.id %}" rel="shadowbox[Bulletins];width=500;height=600">{{ announcement.title }}</a></p>
    </div>

    {{ announcement.bulletin|bbcode|safe }}
</div>

{% endif %}
{% endfor %}
