{% load bbcode_tags %}

{% for claim in offer.tradingclaim_set.all %}

    <div class="claim" id="claim_${adoptableclaim.claimid}">
        {% if offer.artist == user %}
            {% if claim.date_fulfilled %}
                <button type="button" onClick="chooseAdoptable({{ offer.id }},{{ claim.id }},'unchoose')">Unchoose</button>
            {% elif not claim.fulfilled and not offer.completed_claims.exists %}
                <button type="button" onClick="chooseAdoptable({{ offer.id }},{{ claim.id }},'choose')">Choose</button>
            {% endif %}
        {% endif %}
        <div class="claimuser">
            {% if claim.user.dir_name %}
                <a href="{% url "artist" dir_name=claim.user.dir_name %}">{{ claim.user.username }}</a>
            {% else %}
                {{ claim.user.username }}
            {% endif %}
            - {{ claim.date_posted|date }}</div>
            {% if claim.user == user or offer.artist == user %}
                <div class="claimaction"><a href="javascript:nop()" onClick="removeClaim({{ claim.id }})">remove</a></div>
            {% endif %}
            {% if claim.date_fulfilled %}
                Winner of this adoptable.
            {% endif %}
        <div class="claimcomment">{{ claim.comment|bbcode|safe }}</div>
    </div>

{% endfor %}

{% if user.is_authenticated and offer.artist != user and not offer.completed_claims.exists %}
    {% if not my_claims_for_offer.exists %}

        <div class="claim">
            <form name="claimform_new_{{ offer.id }}" method="POST">
                <table class="formtable">
                    <tr>
                        <td class="label">Message </td>
                        <td class="data"><textarea name="comment"></textarea></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="buttons">
                            <button type="button" onClick="submitClaim({{ offer.id }},this.form)">Adopt Character</button>
                        </td>
                    </tr>   
                </table>
                <input type="hidden" name="offertype" value="{{ offer.type }}" />
            </form>
        </div>

    {% endif %}
{% endif %}
