{% load bbcode_tags %}

<span class="float-right"><a href="{% url "featured-artists" %}">All Past Featured Artists</a></span>

{% if aotm %}

<h2>Featured Artist of the Month</h2>

<div class="aotm">

    {% if aotm.artist.profile_pic_url %}
        <img class="profilepic" src="{{ aotm.artist.profile_pic_url }}" />
    {% endif %}

    <h3><a href="{% url "artist" dir_name=aotm.artist.dir_name %}">{{ aotm.artist.username }}</a></h3>

    <div class="intro">
        {{ aotm.intro_text_parsed|bbcode|safe }}
    </div>

    <div class="ownwords">
        {{ aotm.own_words_text|bbcode|safe }}
    </div>

    <div id="aotm_imgs">
        {% for picture in aotm.featuredartistpicture_set.all %}
            <a href="{{ picture.showcase_picture.url }}?{{ picture.picture.id }}" rel="shadowbox[aotm]">
                <img src="{{ picture.thumbnail_url }}" width="60" height="{{ picture.picture.thumb_height }}" />
            </a>
        {% endfor %}
    </div>

    {{ aotm.analysis_text_parsed|bbcode|safe }}
</div>

{% if aotm.banner %}
    <img class="aotm-banner" src="{{ aotm.banner.url }}" />
{% endif %}

{% if user.is_authenticated %}
<div id="aotmvote">
{% include "includes/aotm_vote.html" %}
</div>
{% endif %}

<br clear="all" />
</div>

{% endif %}

