{% if show_search_input %}

	<form name="searchform" onSubmit="listArtists('search',10);return false;">
	<input class="std" name="searchtext" id="searchtext" value="{{ term }}" />
	<button type="submit">Search</button>
	</form>

{% endif %}

{% for artist in artists %}

    {% include "includes/artist.html" %}

    {% if forloop.counter == count %}

	<c:if test="${nolist != 1}">
	<br clear="all" />
	<button onClick="getMoreArtists({{ next_start }},'{{ list }}',{{ count }},'{{ term }}',this)">More</button>
	</c:if>

    {% endif %}

{% endfor %}
