<div class="artist">

    <a href="{% url "artist" dir_name=artist.dir_name %}">
    <div class="artist-thumb">
        <img src="{{ MEDIA_URL }}Artwork/Artists/{{ artist.dir_name }}/{{ artist.get_example_pic.basename }}.p.jpg" />
        <div class="artist-thumb-reflect">
            <img src="{{ MEDIA_URL }}Artwork/Artists/{{ artist.dir_name }}/{{ artist.get_example_pic.basename }}.p.jpg" />
            <div class="artist-thumb-reflect-overlay"></div>
        </div>
        <div class="artistname">{{ artist.username }}</div>
    </div>
    </a>

    <div class="artistdetails">

        <p class="picturecount">{{ artist.num_pictures }} picture{{ artist.num_pictures|pluralize }}</p>
        <p class="artist-joined">Joined: {{ artist.date_joined|date:"n/j/Y" }}</p>
       <p class="artist-lastupload">Last upload: {{ artist.last_upload|date:"H:i D n/j/Y" }}</p>

    </div>

</div>
