{% if show_search_input %}

	<form name="searchform" onSubmit="listArtists('search',10);return false;">
	<input class="std" name="searchtext" id="searchtext" value="{{ term }}" />
	<button type="submit">Search</button>
	</form>

{% endif %}

{% for artist in artists %}

    {% include "includes/artist.html" %}

    {% if forloop.counter == count %}

    	<br clear="all" />
	    <button
            class="get-more-button"
            onClick="getMoreArtists({{ next_start }},'{{ list_type }}',{{ count }},'{{ term }}', '.get-more-button')"
        >
            More
        </button>

    {% endif %}

{% endfor %}
