{% if show_search_input %}

	<form name="searchform" onSubmit="listArtwork('search',10);return false;">
	<input class="std" name="searchtext" id="searchtext" value="{{ term }}" />
	<button type="button" onClick="listArtwork('search',10)">Search Pictures</button>
	<button type="button" onClick="listArtwork('tag',10)">Search Tags</button>
	</form>

        <div class="tags">

        <div class="tagcolumn">
        {% for tag in top_300_tags %}
            <div class="tag"><a class="tag" href="{% url "artwork" list="tag" %}?term={{ tag.tag }}">{{ tag.tag }} <span class="tagcount">{{ tag.num_pictures }}</span></a></div>
        {% endfor %}
	    </div>

	</div>
	<br clear="left" />

{% endif %}

{% for picture in artwork %}

    {% include "includes/picture.html" %}

    {% if forloop.counter == count %}
        <button onClick="getMoreArtwork({{ next_start }},'{{ list }}',{{ count }},'{{ term }}',this)">More</button>
    {% endif %}

{% endfor %}


{% if term and artwork|length == 0 %}
    No results.
{% endif %}
