{% load bbcode_tags %}

{% for bulletin in bulletins %}

<div class="bulletinlink group" bulletin_id="{{ bulletin.id }}">
    <div class="bulletin-title-block">
        <p class="bulletintitle">{{ bulletin.title }}</p>
        <div class="bulletindate">{{ bulletin.date_posted|date:"SHORT_DATE_FORMAT" }}</div>
        <div class="bulletinname"><a href="{% url "artist" dir_name=bulletin.user.dir_name %}">{{ bulletin.user.username }}</a></div>
    </div>

    {% if bulletin.user.profile_pic_thumbnail_url %}
        <img class="bulletinprofilepic" src="{{ bulletin.user.profile_pic_thumbnail_url }}" />
    {% endif %}
    {{ bulletin.bulletin|bbcode|safe|truncatechars_html:100 }}
</div>

{% endfor %}
