{% load static %}
{% load humanize %}

{% if list == "search" and show_search_box %}

    Artist: <input id="artist_pick_search" onFocus="this.value=''" />
    Species: <input id="species_pick_search" onFocus="this.value=''" />
    Name: <input id="character_pick_search" onFocus="this.value=''" />

    <img class="spinner" src="{% static "img/loading.gif" %}" />
    <div id="species_list"></div>

{% endif %}

{% for character in characters %}

    {% include "includes/character.html" %}

    {% if forloop.counter == count %}
        <button onClick="getMoreCharacters({{ next_start }},'{{ list_type }}',{{ count }},'{{ term }}',this,'{{ artist.dir_name }}')">More</button>
    {% endif %}

{% endfor %}
