{% load humanize %}
{% load bbcode_tags %}

<div class="character">
<table>
<tr>
    <td class="thumb"><a href="{% url "character" character_id=character.id %}">
        <img class="thumb characterpic" src="{{ character.preview_url }}" />
    </a></td>
    <td class="fullwidth">
        <p class="charactername">
            <a href="{% url "character" character_id=character.id %}">{{ character.name }}</a>
        </p>
        {% if character.owner %}
            <p class="characterinfo">
            {% if character.owner.is_artist and character.owner.dir_name %}
                Owner: <a href="{% url "artist" dir_name=character.owner.dir_name %}">{{ character.owner.username }}</a>
            {% else %}
                Owner: {{ character.owner.username }}
            {% endif %}
        </p>
        {% endif %}
        {% if character.story_title %}
            <p class="characterinfo">
            {% if character.story_url %}
                Debut: <i><a href="{{ character.story_url }}">{{ character.story_title }}</a></i>
            {% else %}
                Debut: <i>{{ character.story_title }}</i>
            {% endif %}
            </p>
        {% endif %}
        <p class="characterinfo">{{ character.gender|capfirst }} {{ character.species }}</p>
        {% if character.picturecharacter_set.count > 0 %}
            <p class="characterinfo">
                Tagged in {{ character.num_pictures }} picture{{ character.num_pictures|pluralize }}
            </p>
        {% endif %}
        {% if character.last_tagged %}
            <p class="characterinfo">Tagged {{ character.last_tagged.date_tagged|naturaltime }}</p>
        {% endif %}
        <div class="characterdesc">
            {{ character.description|bbcode|safe }}
        </div>

        </td>
</tr>
</table>
</div>
