{% load bbcode_tags %}

{% if claim.offer.type == "icon" %}

                    <form name="claimform_{{ claim.id }}" id="claimform_{{ claim.id }}" method="POST">
                        <div class="claimthumb" id="claimthumb_{{ claim.id }}">
                            {% if claim.filename %}
                                <a id="claimpic_link" href="{{ claim.url }}" rel="shadowbox[Claims]" class="shadowbox"><img class="thumb claimthumb" src="{{ claim.thumbnail_url }}" /></a>
                                {% if claim.offer.artist == user %}
                                    <a href="javascript:nop()" onClick="removeClaimPic({{ claim.id }})">remove</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    <div class="claimuser">
                        {% if claim.user.dir_name %}
                            <a href="{% url "artist" dir_name=claim.user.dir_name %}">{{ claim.user.username }}</a>
                        {% else %}
                            {{ claim.user.username }}
                        {% endif %}
                        - {{ claim.date_posted|date }}</div>
                        {% if claim.user == user or claim.offer.artist == user %}
                            <div class="claimaction"><a href="javascript:nop()" onClick="removeClaim({{ claim.id }})">remove</a></div>
                        {% endif %}
                        <div class="claimcomment">{{ claim.comment|bbcode|safe }}</div>
                        {% if claim.reference_url %}
                            <div class="claimrefurl"><a href="{{ claim.reference_url }}" rel="shadowbox">Reference</a></div>
                        {% endif %}
                        {% if claim.filename %}
                            {% if claim.date_fulfilled %}
                                Received {{ claim.date_fulfilled|date }}.
                            {% else %}
                                Picture posted {{ claim.date_uploaded|date }}; not yet received.
                            {% endif %}
                        {% endif %}
                        {% if claim.offer.artist == user %}
                            <div id="claimupload_{{ claim.id }}" {% if claim.filename %}style="display: none"{% endif %}>
{#                                <input type="file" name="uploadfile" id="claim_upload_{{ claim.id }}" />#}
<input id="fileupload_{{ claim.id }}" type="file" name="picture" data-url="{% url "upload-claim" claim_id=claim.id %}">
{#                                <button type="button" onClick="uploadPicture(this.form.id,'claim_upload_{{ claim.id }}','claimthumb_{{ claim.id }}','claimupload_{{ claim.id }}')">Upload</button>#}
<div id="progress_{{ claim.id }}">
    <div class="bar" style="width: 0%;"></div>
</div>

<script>
$(function () {
    $('#fileupload_{{ claim.id }}').fileupload({
        dataType: 'json',
        dropZone: null,
        done: function (e, data) {
            var url = '/claim/{{ claim.id }}/upload/';
            $('#claim_{{ claim.id }}').load(url, function() {});
            refreshThumbsInterval = setInterval('checkThumbs()', 1000);
//            $.each(data.result.files, function (index, file) {
//                $('<p/>').text(file.name).appendTo(document.body);
//            });
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress_' + {{ claim.id }} + ' .bar').css(
                'width',
                progress + '%'
            );
        },
    });
});
</script>
                            </div>
                        {% endif %}
                        <input type="hidden" name="uploadop" value="claim" />
                        <input type="hidden" name="claim" value="{{ claim.id }}" />
                        {% csrf_token %}
                    </form>

{% elif claim.offer.type == "adoptable" %}

        {% if offer.artist == user %}
            {% if claim.date_fulfilled %}
                <button type="button" onClick="chooseAdoptable({{ offer.id }},{{ claim.id }},'unchoose')">Unchoose</button>
            {% elif not claim.fulfilled and not offer.completed_claims.exists %}
                <button type="button" onClick="chooseAdoptable({{ offer.id }},{{ claim.id }},'choose')">Choose</button>
            {% endif %}
        {% endif %}
        <div class="claimuser">
            {% if claim.user.dir_name %}
                <a href="{% url "artist" dir_name=claim.user.dir_name %}">{{ claim.user.username }}</a>
            {% else %}
                {{ claim.user.username }}
            {% endif %}
            - {{ claim.date_posted|date }}</div>
            {% if claim.user == user or offer.artist == user %}
                <div class="claimaction"><a href="javascript:nop()" onClick="removeClaim({{ claim.id }})">remove</a></div>
            {% endif %}
            {% if claim.date_fulfilled %}
                Winner of this adoptable.
            {% endif %}
        <div class="claimcomment">{{ claim.comment|bbcode|safe }}</div>

{% endif %}
