{% load bbcode_tags %}
{% load comment_tags %}

{% for comment in comments %}

    <a name="{{ comment.id }}"></a>
    <div class="comment" id="comment_{{ comment.id }}" style="margin-left: {{ comment.depth|depth_indent }}px;">
        <div class="commentname">
            {% if not comment.is_deleted %}
                <div class="commentdate">{{ comment.date_posted|date }}</div>
                {% if comment.user.is_artist %}
                    <a href="{% url "artist" dir_name=comment.user.dir_name %}">{{ comment.user.username }}</a>
                {% else %}
                    {{ comment.user.username }}
                {% endif %}
                {% if comment.user in picture.artist.blocked_commenters %}(blocked){% endif %}
            {% endif %}
        </div>
        <div class="commenttext clearAfter {% if comment.is_deleted %}commentdeleted{% endif %} {% if comment.user == comment.picture.artist or comment.user == bulletin.user %}op{% endif %}" id="commenttext_{{ comment.id }}">
            <div class="commentprofilepic">
                {% if comment.user.profile_pic_thumbnail_url and not comment.is_deleted %}
                    {% if comment.user.is_artist %}
                        <a href="{% url "artist" dir_name=comment.user.dir_name %}"><img src="{{ comment.user.profile_pic_thumbnail_url }}" /></a>
                    {% else %}
                        <img src="{{ comment.user.profile_pic_thumbnail_url }}" />
                    {% endif %}
                {% endif %}
            </div>
            {% if comment.is_deleted %}
                Comment deleted.
            {% else %}
                <table><tr><td>
                    <div class="comment-text-hidden"></div>
                    <div class="comment-text">
                        {{ comment.comment|bbcode|safe }}
                    </div>
                    <div class="comment-edited">
                        {% if comment.date_edited %}
                            Edited {{ comment.date_edited|date }}
                        {% endif %}
                    </div>
                    <div id="reply_{{ comment.id }}" class="reply">
                        <form name="commentform_{{ comment.id }}" id="commentform_{{ comment.id }}">
                            <textarea class="comment" name="replytext" id="replytext_{{ comment.id }}"></textarea>
                            <div class="replybuttons">
                                {% if picture %}
                                    <button
                                        type="button"
                                        onClick="postReply({{ picture.id }}, {{ comment.id }})"
                                    >
                                        Post
                                    </button>
                                    <button
                                        type="button"
                                        onClick="cancelReply({{ picture.id }}, {{ comment.id }})"
                                    >
                                        Cancel
                                    </button>
                                {% elif bulletin %}
                                    <button
                                        type="button"
                                        onClick="postBulletinReply({{ bulletin.id }}, {{ comment.id }})"
                                    >
                                        Post
                                    </button>
                                    <button
                                        type="button"
                                        onClick="cancelReply({{ bulletin.id }}, {{ comment.id }})"
                                    >
                                        Cancel
                                    </button>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </td></tr></table>
                {% if user.is_authenticated and not current_user_is_blocked and user.can_comment %}
                    <div class="commentbuttons">

                        <button
                            type="button"
                            class="small spam"
                            onClick="flagSpam({{ comment.id }})"
                        >
                            Spam
                        </button>

                        {% if picture.artist == user %}
                            {% if comment.user in picture.artist.blocked_commenters %}
                                <button
                                    type="button"
                                    class="small"
                                    onClick="blockUser({{ comment.user.id }}, 'unblock', 'comment', {{ comment.picture.id }})"
                                >
                                    Unblock
                                </button>
                            {% else %}
                                <button
                                    type="button"
                                    class="small"
                                    onClick="blockUser({{ comment.user.id }}, 'block', 'comment', {{ comment.picture.id }})"
                                >
                                    Block
                                </button>
                            {% endif %}
                        {% endif %}

                        {% if picture %}
                            <button
                                type="button"
                                class="small"
                                id="replybutton_{{ comment.id }}" onclick="doReply({{ picture.id }}, {{ comment.id }})"
                            >
                                Reply
                            </button>
                            {% if picture.artist == user or comment.user == user %}
                                <button
                                    type="button"
                                    class="small"
                                    onClick="deleteComment({{ picture.id }}, {{ comment.id }})"
                                >
                                    Delete
                                </button>
                            {% endif %}
                            {% if comment.user == user %}
                                <button
                                    type="button"
                                    class="small"
                                    onClick="setupEditComment({{ picture.id }}, {{ comment.id }})"
                                >
                                    Edit
                                </button>
                            {% endif %}
                        {% elif bulletin %}
                            <button
                                type="button"
                                class="small"
                                id="replybutton_{{ comment.id }}" onclick="doReply({{ bulletin.id }}, {{ comment.id }})"
                            >
                                Reply
                            </button>
                            {% if bulletin.user == user or comment.user == user %}
                                <button
                                    type="button"
                                    class="small"
                                    onClick="deleteComment({{ bulletin.id }}, {{ comment.id }})"
                                >
                                    Delete
                                </button>
                            {% endif %}
                            {% if comment.user == user %}
                                <button
                                    type="button"
                                    class="small"
                                    onClick="setupEditComment({{ bulletin.id }}, {{ comment.id }})"
                                >
                                    Edit
                                </button>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}
            <br clear="all" />
        </div>
    </div>

{% endfor %}


{% if user.is_authenticated and not current_user_is_blocked and user.can_comment %}

    <form name="commentform" onSubmit="return false">
        {% csrf_token %}
        <div class="commenttext commentreply">
            Comment:<br />
            {% if picture %}
                <textarea
                    class="comment
                    top-level"
                    name="replytext"
                    id="replytext_picture_{{ picture.id }}"
                ></textarea>
                <input type="hidden" name="hash" id="hash" value="{{ hash }}" />
                <div class="replybuttons">
                    <button
                        type="button"
                        class=""
                        onClick="postReply({{ picture.id }}, 0)"
                    >
                        Post
                    </button>
                </div>
            {% elif bulletin %}
                <textarea
                    class="comment top-level"
                    name="replytext"
                    id="replytext_bulletin_{{ bulletin.id }}"
                ></textarea>
                <input type="hidden" name="hash" id="hash" value="{{ hash }}" />
                <div class="replybuttons">
                    <button
                        type="button"
                        class=""
                        onClick="postBulletinReply({{ bulletin.id }}, 0)"
                    >
                        Post
                    </button>
                </div>
            {% endif %}
        </div>
    </form>

{% elif current_user_is_blocked %}

    <p class="comment-error">You are blocked from commenting on this artist's pictures.</p>

{% endif %}


