{% load bbcode_tags picture_tags %}

<style>
.featured-picture-box {
    text-align: left;
}

.featured-picture-box h2 {
    margin: 10px 0px 20px 0px;
}

img.featured-picture {
    width: 100%;
}

.commentary {
    margin: 0 10%;
    margin-bottom: 20px;
    font-size: 14px;
}

.artist-info {
    background-color: #c4c4c4;
    border-radius: 4px;
    border: 1px solid #808080;
    text-align: center;
    margin-left: 30px;
    margin-bottom: 10px;
    padding: 20px;
}
</style>

{% if featured_picture %}

<div class="featured-picture-box">

    <h2>Fan-Art Spotlight</h2>

    <a href="{% url "picture" picture_id=featured_picture.picture.id %}">
        {% if featured_picture.picture.mime_type == 'application/x-shockwave-flash' %}
            <object class="inlinemovie" width="{{ featured_picture.picture.video_width }}" height="{{ featured_picture.picture.video_height }}">
                <param name="movie" value="{{ featured_picture.picture.url }}">
                <embed src="{{ featured_picture.picture.url }}" class="inlinemovie" width="{{ featured_picture.picture.width }}" height="{{ featured_picture.picture.height }}">
                </embed>
            </object>
        {% elif featured_picture.picture.mime_type in video_types %}
            <video id="video_display" class="video-js" controls preload="auto" width="{{ featured_picture.picture.width }}" height="{{ featured_picture.picture.height }}" poster="" data-setup="{}">
                <source src="{{ featured_picture.picture.url }}" type="{{ featured_picture.picture.mime_type }}">
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>
        {% else %}
            <img class="featured-picture" src="{{ featured_picture.picture.url }}" />
        {% endif %}
    </a>

    <div class="commentary">
        <div class="picturecaption">
            {{ featured_picture.picture.title|parse_urls|bbcode|safe }}
        </div>
        <div class="float-right artist-info">
            {% if featured_picture.picture.artist.profile_pic_url %}
            <a href="{% url "artist" dir_name=featured_picture.picture.artist.dir_name %}"><img class="profilepic" src="{{ featured_picture.picture.artist.profile_pic_url }}" /></a>
                <br clear="right" />
            {% endif %}
            <h3>
                by <a href="{% url "artist" dir_name=featured_picture.picture.artist.dir_name %}">{{ featured_picture.picture.artist.username }}</a>
            </h3>
        </div>

        {{ featured_picture.commentary_parsed|bbcode|safe }}
    </div>

</div>

<a class="button" href="{% url "featured-pictures" %}">Previously Featured Artwork</a>

<br clear="all" />
</div>

{% endif %}

