{% extends "includes/grass.html" %}
{% load static %}

{% block tab_main %}
    <div class="tab main" style="background-image: url('{% static "images/priderock.png" %}');"></div>
{% endblock %}

{% block page_blurb %}
<div class="pagesummary" style="margin-left: 130px; margin-right: 10px">
    {% comment %}
    <b>fanart.lionking.org</b> is the largest collection of
    <i>Lion King</i> fan artwork on the Internet, currently featuring
    <b>{{ num_artists }}</b> artists with a total of
    <b>{{ num_pictures }}</b> published
    pictures inspired by Disney's <i>Lion King</i> universe.
    {% endcomment %}
</div>
{% endblock %}
