<div class="guidelines">
<h1>Guidelines for Acceptable Artwork</h1>

<div class="column">
<h2>Acceptable:</h2>

<ul>

<li>Any art portraying the original <i>Lion King</i> characters from any
of the movies or Disney shows, as long as it is <I>your own work</i> and
not copied from movie stills or any art already in existence.</li>

<li>Pictures of your or other people's original characters,
as long as they have at least <I>some</I> vague connection to the <i>Lion
King</i> universe. <b>The <i>Lion King</i> universe encompasses African
animals, big cats, created big-cat-like species, and the general natural
setting of southeastern Africa. It does <i>not</i> include 
non-African wolves, horses, or the human world (including dogs and house
cats)&mdash;though some art of these subjects may be allowed, as long as
it does not dominate your gallery.</b></li>

<li>Montages of original Disney art, that is, art from the movies that is
composited together in an artistic way.</li>

<li>Artistic re-interpretations of Disney art&mdash;but only in special
cases. I won't take movie screenshots that have been run through a
Photoshop filter, or straight pencil sketches of Disney pictures. I'm
talking about oil paintings, 3D renderings, sculptures&mdash;things which
take significant creative effort.</li>

<li>Parodies of Disney art. Tastefully, though!</li>

<li>Anthropomorphic or "furry" versions of TLK characters or role-playing
characters <i>that fit within the Lion King universe</i>. Remember, no
non-TLK-related "furry" characters&mdash;there are other, more appropriate
places where you can post those.</li>

<li>Landscapes, maps, etc. of parts of the <i>Lion King</i>
universe. Remember, fan-art doesn't have to be just character pictures!</li>

<li>Videos, animations, or movie files that contain <i>original
content</i>&mdash;that is, where the art and sound are created by you.
Please, no "music videos"!</li>

</ul>

</div>

<div class="column">
<h2>Not Acceptable:</h2>

<ul>

<li>Disney clip-art pictures where the colors have been altered in
MS Paint and the character name has been changed.</li>

<li>Disney clip-art pictures that have had wings or scars or jewelry added
in order to make them "original". Sorry, doesn't count.</li>

<li>Disney clip-art pictures that you claim to be your own work. (It's 
amazing how many people try to get away with this.)</li>

<li>Other people's fan-artwork that you have uploaded under your own name. 
This includes art that other artists have done <i>for</i> you! If they 
drew it, they should upload it under their own name. <b>This includes 
line-art that they have placed in the Coloring Cave!</b> If you color art 
that you find in the Coloring Cave, you should upload the colored version 
back into the Coloring Cave next to the line-art you colored, not into 
your own gallery.</li>

<li>"Furry" or role-playing characters that have nothing to do with the 
<i>Lion King</i> universe. No humans, Pokemon, South Park, anime, dragons, 
Neopets, or "furry" characters that don't have anything to do with TLK. 
"Crossovers" are fine, but please be reasonable about it.</li>

<li>Characters from movies or shows other than TLK (especially if they're
not big cats or African animals). "TLK-like" characters from other Disney
movies are okay in limited quantities.</li>

<li>Disney art that has simply been re-drawn or Photoshopped. Artistic
re-interpretations of Disney art are okay, but in special circumstances
only.</li>

<li>Logos, banners, landscapes, etc. that don't have any <i>Lion
King</i>-related content. A cityscape with a <i>Lion King</i> character in
it is okay, but a cityscape by itself isn't.</li>

<li>Photographs, unless they're of physical art that can't be scanned
(such as sculptures), or used as the basis for significant creative
modification. Please don't upload photos of your <i>Lion King</i>
plushies, or pictures of your pets or yourself. I'll occasionally make
exceptions (such as a single self-portrait) for well-established artists,
but please don't push this.</li>

<li>Anything with sexual or violent content, drug use, or foul language,
beyond a "PG" rating.</li>

<li>"Attack" artwork&mdash;any material that directly attacks another artist,
or any real person for that matter.</li>

<li>"Music Videos", or movies created by editing parts of the <i>Lion
King</i> movies and setting them to a popular song. These take up a lot of
space on the server and eat up bandwidth; and more importantly; they put
this site in a very precarious legal position, since arguably none of the
content is "original", and it involves many disparate copyright holders.</li>

<li>Art that is "intended to inflame"&mdash;that inherently will offend or 
outrage a majority of reasonable viewers. We have a great community
atmosphere here; deliberately disrupting that atmosphere is one of the 
worst things you can do.</li>

<li>Art whose purpose is to proselytize a personal belief about religion, 
politics, et cetera; this goes for conduct in bulletins, comments, and 
other areas as well as uploaded art, too. This is a <i>Lion King</i> art 
site, and there are plenty of other sites out there that are more 
appropriate if your goal is to promote a personal agenda. Note well that 
<i>this site is not a democracy</i>&mdash;it's a privately run and 
financed community resource, and therefore the administrator gets to 
decide what counts as "proselytizing" and what doesn't.</li>

</ul>
</div>

<br clear="left" />

<div>
<p>
Many uploaded pictures require me to make a "judgment call", and so these
rules are only rough guidelines. Occasionally I will make exceptions,
depending on an artist's history of staying on-topic, demonstrated
commitment to keeping to the spirit of the Guidelines, or other special
circumstances. <b>If you find art in other artists' galleries that do not
fit these rules, please do not assume that it means that that kind of art 
is okay to upload. These Guidelines should be considered authoritative. If 
you have questions about whether something is appropriate, please
<a href="mailto:btman@lionking.org">contact me</a> and ask.</b>
</p>

<p>
Thank you for your help in building the fan-artwork community!
</p>
</div>

</div>
