{% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <link href="{% static "jquery-ui-1.12.0.custom/jquery-ui.css" %}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="{% static "jquery-ui-1.12.0.custom/jquery-ui.min.js" %}"></script>

{#    <script type="text/javascript" src="{% static "js/jquery.popmenu.js" %}"></script>#}
{#    <script type="text/javascript" src="{% static "js/ajaxfileupload.js" %}"></script>#}
    <script type="text/javascript" src="{% static "js/jquery.masonry.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.tagsinput.js" %}"></script>
    <script type="text/javascript" src="{% static "js/tooltip.js" %}"></script>
    <script type="text/javascript" src="{% static "js/tlkfaa.js" %}"></script>
    <script type="text/javascript" src="{% static "js/cookies.js" %}"></script>
    <script type="text/javascript" src="{% static "js/md5.js" %}"></script>
    <script type="text/javascript" src="{% static "js/he.js" %}"></script>

    <script src="{% static "js/vendor/jquery.ui.widget.js" %}"></script>
    <script src="{% static "js/jquery.iframe-transport.js" %}"></script>
    <script src="{% static "js/jquery.fileupload.js" %}"></script>

    <script type="text/javascript" src="{% static "js/xregexp-min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/xregexp-unicode-base.js" %}"></script>

    <script src='https://www.google.com/recaptcha/api.js'></script>

    <link rel="stylesheet" href="{% static "css/tooltip.css" %}" />
    <link rel="stylesheet" href="{% static "css/jquery.fileupload.css" %}" />
    <link rel="stylesheet" href="{% static "css/jquery.tagsinput.css" %}" />
    <link rel="stylesheet" href="{% static "css/video-js.css" %}" />
    <link rel="stylesheet" href="{% static "shadowbox/shadowbox.css" %}" />
    <style type="text/css">
    </style>
    <script type="text/javascript" src="{% static "shadowbox/shadowbox.js" %}"></script>
    <!--[if lt IE 8]>
        <link rel="stylesheet" href="{% static "css/ie7fix.css" %}" />
    <![endif]-->

