{% extends "fanart/base_popup.html" %}
{% load bbcode_tags %}
{% load util_tags %}

{% block content %}

<form>
Folder:
<select name="switchfolder" class="foldermenu" onChange="switchParam(this, 'folder_id')">
    {% if target == "character" %}
        <option value="-1" <c:if test="${folderid == -1}">selected</c:if>>(Coloring Cave)</option>
    {% endif %}
    <option value="0" {% if selected_folder == None %}selected{% endif %}>(Main)</option>
    {% for folder in folders %}
        <option value="{{ folder.id }}" {% if selected_folder == folder %}selected{% endif %}>&nbsp;&nbsp;&nbsp;&nbsp;{% for i in folder.depth|times %}&nbsp;&nbsp;&nbsp;&nbsp;{% endfor %}{{ folder.name }}</option>
    {% endfor %}
</select>

Sort by:
<select name="sortby" onChange="switchParam(this, 'sort_by')">
    <option {% if sort_by == "newest" %}selected{% endif %} value="newest">Newest</option>
    <option {% if sort_by == "oldest" %}selected{% endif %} value="oldest">Oldest</option>
    <option {% if sort_by == "popularity" %}selected{% endif %} value="popularity">Popularity</option>
    <option {% if sort_by == "comments" %}selected{% endif %} value="comments">Comments</option>
</select>
</form>

{% if target == "character" %}
<c:choose>
<c:when test="${folderid == -1 && param.op == 'character'}">

	<sql:query var="qryCCPics">
	SELECT * FROM coloring_base,coloring_pics
	WHERE coloring_pics.basepic=coloring_base.coloring_baseid
	AND coloring_pics.artistid=?
	<sql:param value="${artist.artistid}" />
	</sql:query>

	<c:forEach var="ccpic" items="${qryCCPics.rows}">
	<div class="picture">

	<table>
	<tr>
	<td class="thumb"><a href="javascript:nop()" onClick="selectPicture(${ccpic.coloring_picid},'ccpic')"><img class="thumb claimthumb" src="/Artwork/coloring/${ccpic.coloring_picid}.p.jpg" /></a></td>
	<td class="fullwidth picturedetails">
	<div class="picturedetails">

	<c:set var="comment" value="${ccpic.comment}" />
	<div class="picdate">${ccpic.posted}</div>
	<div class="pictitle">
	<%= formatText((String)pageContext.getAttribute("comment")) %>
	</div>

	</div>

	</td>
	</tr>
	</table>

	</div>
	</c:forEach>

{% else %}

    {% for picture in pictures %}
        <div class="picture">

            <table>
                <tr>   
                    <td class="thumb"><a href="javascript:nop()" onClick="selectPicture({{ picture.id }},'picture')"><img class="thumb" id="picker_image_{{ picture.id }}" height="{{ picture.thumb_height_x2 }}" src="{{ picture.preview_url }}" /></a></td>
                    <td class="fullwidth picturedetails">
                        <div class="picturedetails">
                            <div class="picdate">{{ picture.date_uploaded|date }}</div>
                            <div class="pictitle">
                                {{ picture.title|bbcode|safe }}
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

        </div>
    {% endfor %}

{% endif %}

{% endblock %}
