{% load bbcode_tags %}
{% load picture_tags %}


<div class="picture {% view_picture picture user %} {% if not picture.is_public %}privatepicture{% endif %}">
{% if picture.date_deleted == None %}
<table>
<tr>
<td class="thumb"><a href="{% url "picture" picture_id=picture.id %}" class="previewPopupTrigger" type="picture" itemid="{{ picture.id }}"><img class="thumb" height="${thumbheight*2}" src="{{ picture.preview_url }}" /></a></td>
<td class="fullwidth picturedetails">

{% if user.is_authenticated %}
<a class="addfavorites {% is_favorite_picture picture user %}" id="togglefavepicture_{{ picture.id }}" href="javascript:nop()" onClick="toggleFave({{ picture.id }},'picture')" title="Favorite Picture"></a>
{% endif %}

<div class="picturedetails">

<div class="picnumber">{% pic_number pic_number pictures.number pictures_paginator.per_page %}</div>
<div class="picdate">{{ picture.date_uploaded }}</div>
<div class="picartist"><a href="{% url "artist" dir_name=picture.artist.dir_name %}">{{ picture.artist.username }}</a></div>
    {% if picture.folder %}
        <a href="{% url "artist-gallery" dir_name=picture.artist.dir_name %}?folder_id={{ picture.folder.id }}"><div class="picfolder">{{ picture.folder.name }}</div></a>
    {% else %}
        <a href="{% url "artist-gallery" dir_name=picture.artist.dir_name %}"><div class="picfolder">Main Folder</div></a>
    {% endif %}

{% if contest and contest.is_ended and entry.votes > 0 %}
	<p class="contest-place {% if place == 1 %}first-place{% endif %}">#{{ place }}: {{ entry.votes }} vote{{ entry.votes|pluralize }}</p>
{% endif %}

<div class="pictitle">
{{ picture.title|bbcode|safe }}
</div>

{% if contest and not contest.is_ended %}
<div class="picvote">
{% if contest.allow_voting %}<input type="radio" {% if my_vote.entry == entry %}checked{% endif %} onClick="votePicture({{ contest.id }},{{ entry.id }})" /> Vote for this picture{% endif %}
{% if entry.picture.artist == user or contest.creator == user %}<button type="button" class="small" onClick="removeContestPic({{ contestform }},{{ entry.id }})">Remove</button>{% endif %}
</div>
{% endif %}

<ul class="characters group">
{% for pc in picture.picturecharacter_set.all %}
    <li>
        <a href="{% url "character" character_id=pc.character.id %}" class="previewPopupTrigger" type="character" itemid="{{ pc.character.id }}"><img class="thumb characterpic smallthumb" src="{{ pc.character.thumbnail_url }}" /></a>
        <p class="charactername"><a href="{% url "character" character_id=pc.character.id %}">{{ pc.character.name }}</a></p>
        <p class="characterowner">{% if pc.character.owner == None %}(Canon){% else %}{{ pc.character.owner.username }}{% endif %}</p>
    </li>
{% endfor %}
</ul>

<div class="tags">
{% for tag in picture.tags.all %}
	<a class="tag" href="/Artwork/?list=tag&term={{ tag }}">{{ tag }}</a>
{% endfor %}
</div>

</div>

</td>
</tr>
<tr>
<td></td>
<td class="picinfo">
<div class="picinfowrapper">
<div class="picinfo">
<div class="picinfodata piclink">{% if picture.allow_comments %}<a href="javascript:nop()" onClick="toggleComments({{ picture.id }})">comments ({{ picture.picturecomment_set.count }})</a>{% endif %}</div>
<div class="picinfodata piclink"><a href="/Picture.jsp?pictureid={{ picture.id }}">link</a></div>
<div class="picinfodata">{{ picture.width }} x {{ picture.height }}</div>
<div class="picinfodata">{{ picture.file_size|filesizeformat }}</div>
<div class="picinfodata pictype">{{ picture.type }}</div>
{% if picture.fans.count > 0 %}
<div class="picinfodata">{{ picture.fans.count }} fave{{ picture.fans.count|pluralize }}</div>
{% endif %}
</div>
</td>
</tr>   
</table>
{% endif %}

    <div class="inlinecomments" id="comments_{{ picture.id }}"></div>

    {% if picture.coloringbase_set.count %}
        {% for coloring_base in picture.coloringbase_set.all %}
            <div class="cclink">
                {% if show_colored_pictures %}
                    {{ coloring_base.coloringpicture_set.count }} colored version{{ coloring_base.coloringpicture_set.count|pluralize }}
                {% else %}
                    <a href="javascript:nop()" onClick="toggleCCPics({{ coloring_base.id }})">{{ coloring_base.coloringpicture_set.count }} colored version{{ coloring_base.coloringpicture_set.count|pluralize }}</a>
                {% endif %}
            </div>
            <div id="cc_{{ coloring_base.id }}" class="cclist{% if show_colored_pictures %} expanded{% endif %}">
                {% if show_colored_pictures %}
                    {% include "includes/colored_pictures.html" %}
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}

</div>
