{% load bbcode_tags %}
{% load picture_tags %}


<div class="picture {% view_picture picture user %} {% if not picture.is_public %}privatepicture{% endif %}">
<table>
<tr>
<td class="thumb"><a href="{% url "picture" picture_id=picture.id %}" class="previewPopupTrigger" type="picture" itemid="{{ picture.id }}"><img class="thumb" height="${thumbheight*2}" src="{{ MEDIA_URL }}Artwork/Artists/{{ picture.artist.dir_name }}/{{ picture.basename }}.p.jpg" /></a></td>
<td class="fullwidth picturedetails">

{% if user.is_authenticated %}
<a class="addfavorites {% is_favorite_picture picture user %}" id="togglefavepicture_{{ picture.id }}" href="javascript:nop()" onClick="toggleFave({{ picture.id }},'picture')" title="Favorite Picture"></a>
{% endif %}

<div class="picturedetails">

<div class="picnumber">{% pic_number pic_number pictures.number pictures_paginator.per_page %}</div>
<div class="picdate">{{ picture.date_uploaded }}</div>
<c:if test="${artistname != null}"><div class="picartist"><a href="{% url "artist" dir_name=picture.artist.dir_name %}">{{ picture.artist.username }}</a></div></c:if>
<c:if test="${folder != ''}">
    {% if picture.folder %}
        <a href="{% url "artist-gallery" dir_name=picture.artist.dir_name %}?folder_id={{ picture.folder.id }}"><div class="picfolder">{{ picture.folder.name }}</div></a>
    {% else %}
        <a href="{% url "artist-gallery" dir_name=picture.artist.dir_name %}"><div class="picfolder">Main Folder</div></a>
    {% endif %}
</c:if>

{% if contest %}
<c:if test="${contestvotes > 0}">
	<p class="contest-place <c:if test="${contestplace == 1}">first-place</c:if>">#${contestplace}: ${contestvotes} vote<c:if test="${contestvotes != 1}">s</c:if></p>
</c:if>
{% endif %}

<div class="pictitle">
{{ picture.title|bbcode|safe }}
</div>

{% if contest %}
<c:if test="${contest > 0}">
<div class="picvote">
<c:if test="${contestvote == true}"><input type="radio" <c:if test="${voted == pictureid}">checked</c:if> onClick="votePicture(${contest},${pictureid})" /> Vote for this picture</c:if>
<c:if test="${contestremove == 1}"><button type="button" class="small" onClick="removeContestPic(${contestform},${pictureid})">Remove</button></c:if>
</div>
</c:if>
{% endif %}

<ul class="characters group">
{% for pc in picture.picturecharacter_set.all %}
    <li>
        <a href="{% url "character" character_id=pc.character.id %}" class="previewPopupTrigger" type="character" itemid="{{ pc.character.id }}"><img class="thumb characterpic smallthumb" src="{{ pc.character.thumb_url }}" /></a>
        <p class="charactername"><a href="{% url "character" character_id=pc.character.id %}">{{ pc.character.name }}</a></p>
        <p class="characterowner">{% if pc.character.owner == None %}(Canon){% else %}{{ pc.character.owner.username }}{% endif %}</p>
    </li>
{% endfor %}
</ul>

<div class="tags">
{% for tag in picture.tags.all %}
<c:forEach var="tag" items="${qryTags.rows}">
	<a class="tag" href="/Artwork/?list=tag&term={{ tag }}">{{ tag }}</a>
</c:forEach>
{% endfor %}
</div>

</div>

</td>
</tr>
<tr>
<td></td>
<td class="picinfo">
<div class="picinfowrapper">
<div class="picinfo">
<div class="picinfodata piclink">{% if picture.allow_comments %}<a href="javascript:nop()" onClick="toggleComments({{ picture.id }})">comments ({{ picture.picturecomment_set.count }})</a>{% endif %}</div>
<div class="picinfodata piclink"><a href="/Picture.jsp?pictureid={{ picture.id }}">link</a></div>
<div class="picinfodata">{{ picture.width }} x {{ picture.height }}</div>
<div class="picinfodata">{{ picture.file_size|filesizeformat }}</div>
<div class="picinfodata pictype">{{ picture.type }}</div>
{% if picture.fans.count > 0 %}
<div class="picinfodata">{{ picture.fans.count }} fave{{ picture.fans.count|pluralize }}</div>
{% endif %}
</div>
</td>
</tr>   
</table>
<div class="inlinecomments" id="comments_{{ picture.id }}"></div>

{% if picture.coloringbase_set.count %}
<c:if test="${cc_base > 0}">
	<sql:query var="qryCCPics">
	SELECT * FROM coloring_base
	WHERE pictureid=?
	AND visible=true
	<sql:param value="${pictureid}" />
	</sql:query>
        {% for coloring_base in picture.coloringbase_set.all %}
	<c:forEach var="ccpic" items="${qryCCPics.rows}">
		<div class="cclink">
                {% if forloop.counter == 1 %}
		<c:choose>
		<c:when test="${showcolored == 1}">
		${ccpic.numcolored} colored versions
		</c:when>
                {% else %}
		<c:otherwise>
		<a href="javascript:nop()" onClick="toggleCCPics(${pictureid})">${ccpic.numcolored} colored versions</a>
		</c:otherwise>
		</c:choose>
                {% endif %}
		</div>
		<div id="cc_{{ coloring_base.id }}" class="cclist{% if show_colored_pictures %} expanded{% endif %}">
                {% if show_colored_pictures %}
		<c:if test="${showcolored == 1}">
                        {% include "includes/colored_pictures.html" %}
			<jsp:include page="/ajax_colored.jsp?pictureid=${pictureid}" />
		</c:if>
                {% endif %}
		</div>
	</c:forEach>
        {% endfor %}
</c:if>
{% endif %}

</div>
