{% load bbcode_tags %}

{% if pm %}

    {% for pm in pm.thread %}

        {% include "includes/pm_content.html" %}

        {% if not blocked and forloop.counter == 1 %}
            <div class="replybuttons">
                <button id="show_pm_reply" type="button" onClick="showPMReply();">Reply</button>
            </div>

            <div id="pm_reply">
                <h3>Reply:</h3>

                <form method="post" action="{% url "pm-create" %}">
                    <textarea name="message" class="pm"></textarea><br />
                    <div class="replybuttons">
                        <button type="button" onClick="hidePMReply();">Cancel</button>
                        <button type="submit">Send</button>
                    </div>
                    <input type="hidden" name="reply_to" value="{{ pm.id }}" />
                    <input type="hidden" name="sender" id="sender" value="{{ user.id }}" />
                    <input type="hidden" name="recipient" value="{% if pm.sender == user %}{{ pm.recipient.id }} {% else %}{{ pm.sender.id }}{% endif %}" />
                    {% csrf_token %}
                </form>
            </div>
        {% endif %}

    {% endfor %}

{% else %}

    {% if recipient == request.user %}

        <div class="error">
            <h3>An error occurred</h3>
            <p>You cannot send a PM to yourself.</p>
        </div>

    {% elif blocked %}

        <div class="error">
            <h3>An error occurred</h3>
            <p>You have been blocked from sending private messages to this recipient.</p>
        </div>

    {% else %}

        <h3>New Private Message</h3>

        <form method="post" action="{% url "pm-create" %}" name="pm_new" id="pm_new">

            <table class="formtable">
                <tr>
                    <td class="label">To</td>
                    <td class="data">
                        {% if recipient %}
                            {{ recipient.username }}
                        {% else %}
                            <input name="recpt" id="recpt" validate="hasvalue" message="You must specify a recipient." onBlur="validatePMRecipient();" />
                        {% endif %}
                        <span class="field-error" id="recipient_error"></span>
                    </td>
                </tr>
                <tr>
                    <td class="label">Subject</td>
                    <td class="data"><input name="subject" id="subject" maxlength="255" validate="hasvalue" message="You must enter a subject." {% if shout %}value="Re: Your Roar"{% elif bulletin %}value="Re: {{ bulletin.title }}"{% endif %}" /></td>
                </tr>
                <tr>
                    <td class="label"></td>
                    <td class="data">
                        <textarea name="message" class="pm">{{ shout.quoted_comment }}{{ bulletin.quoted_comment }}</textarea><br />
                        <div class="replybuttons">
                            <button type="button" onClick="validateForm('pm_new','document.pm_new.submit()')">Send</button>
                        </div>
                    </td>
                </tr>
            </table>
            <input type="hidden" name="pmid" value="{{ pm.id }}" />
            <input type="hidden" name="sender" id="sender" value="{{ user.id }}" />
            <input type="hidden" name="recipient" id="recipient" value="{{ recipient.id }}" validate="hasvalue" message="You must specify a recipient." />
            {% csrf_token %}

        </form>

    {% endif %}

{% endif %}
