{% extends "fanart/base_popup.html" %}
{% load bbcode_tags %}

{% block content %}


{% if pm %}

    <script type="text/javascript">
        var pageParams = window.parent.pageParams;
        refreshPMBox(pageParams.pmbox, pageParams.page, pageParams.viewmode, pageParams.showpages, pageParams.showstatus, window.parent);
    </script>

    {% if pm.sender == user and pm.recipient != user %}

        <h3>Your {% if pm.reply_to %}reply{% else %}message{% endif %} to {{ pm.recipient.username }}:</h3>

        {% if pm.reply_to %}
            This is a reply to <a href="{% url "pm" pm_id=pm.reply_to.id %}">this message.</a>
        {% endif %}

        {% include "includes/pm_content.html" %}

    {% else %}

        <h3>Private Message from {{ pm.sender.username }}:</h3>

        {% if pm.reply_to %}
            This is a reply to <a href="{% url "pm" pm_id=pm.reply_to.id %}">this message.</a>
        {% endif %}

        {% include "includes/pm_content.html" %}

        {% if not blocked %}
            <h3>Reply:</h3>

            <form method="post" action="{% url "pm-create" %}">
                <textarea name="message" class="pm">{{ pm.quoted_message }}</textarea><br />
                <button type="submit">Send</button>
                <input type="hidden" name="reply_to" value="{{ pm.id }}" />
                <input type="hidden" name="recipient" value="{{ pm.sender.id }}" />
                {% csrf_token %}
            </form>
        {% endif %}

    {% endif %}

{% else %}

    {% if blocked %}

        <div class="error">
            <h3>An error occurred</h3>
            <p>You have been blocked from sending private messages to this recipient.</p>
        </div>

    {% else %}

        <h3>New Private Message</h3>

        <form method="post" action="{% url "pm-create" %}" name="pm_new" id="pm_new">

            <table class="formtable">
                <tr>
                    <td class="label">To</td>
                    <td class="data">
                        {% if recipient %}
                            {{ recipient.username }}
                            <input type="hidden" name="recptid" value="${recptid}" validate="hasvalue" message="You must specify a recipient." />
                        {% else %}
                            <input name="recpt" id="recpt" validate="hasvalue" message="You must specify a recipient." />
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="label">Subject</td>
                    <td class="data"><input name="subject" id="subject" maxlength="255" validate="hasvalue" message="You must enter a subject." /></td>
                </tr>
                <tr>
                    <td class="label"></td>
                    <td class="data">
                        <textarea name="message" class="pm">{{ shout.quoted_comment }}</textarea><br />
                        <button type="button" onClick="validateForm('pm_new','document.pm_new.submit()')">Send</button>
                    </td>
                </tr>
            </table>
            <input type="hidden" name="pmid" value="{{ pm.id }}" />
            <input type="hidden" name="recipient" id="recipient" value="{{ recipient.id }}" />
            {% csrf_token %}

        </form>

    {% endif %}

{% endif %}


{% endblock %}
