{% load static %}

{% if showstatus %}
    <script type="text/javascript">
        var selitems = new Array();
    </script>

    <div class="globalactionslink">
        {% if box == "trash" %}
            <a href="javascript:nop()" onClick="movePMs('restore','${box}')">Restore Selected</a>
        {% else %}
            <a href="javascript:nop()" onClick="movePMs('delete','${box}')">Delete Selected</a>
        {% endif %}
    </div>
{% endif %}

{% if pms|length > 0 %}

    {{ pages_link.pages_nav|safe }}

    <form name="pmform">
        <table class="pms">
            <tr>
                {% if showstatus %}
                    <th class="status"></th>
                    <th class="select"><input type="checkbox" name="selectall" onClick="toggleSelectAll(this)" /></th>
                {% endif %}
                <th>{% if box == "in" %}From{% elif box == "out" %}To{% endif %}</th>
                <th>Subject</th>
                <th>Date</th>
            </tr>

            {% for pm in pms %}

                <tr class="{% if pm.date_viewed %}viewed{% else %}unviewed{% endif %}">
                    {% if showstatus %}
                        <td class="status">
                            {% if pm.date_replied %}<img src="{% static "images/replied_icon.png" %}" />{% endif %}
                        </td>
                        <td class="select"><input type="checkbox" name="select_{{ pm.id }}" id="select_{{ pm.id }}" value="1" /></td>
                    {% endif %}
                    <td>
                        {% if box == "trash" %}
                            {% if pm.recipient == user %}
                                From {{ pm.sender.username }}
                            {% elif pm.sender == user %}
                                To {{ pm.recipient.username }}
                            {% endif %}
                        {% elif box == "in" %}
                            {{ pm.sender.username }}
                        {% elif box == "out" %}
                            {{ pm.recipient.username }}
                        {% endif %}
                    </td>
                    <td><a href="{% url "pm" pm_id=pm.id %}" rel="shadowbox[pms_${param._}];width=500;height=600">{{ pm.subject }}</a></td>
                    <td class="date">{{ pm.date_sent|date }}</td>
                </tr>

                <script type="text/javascript">
                    selitems.push({{ pm.id }});
                </script>

            {% endfor %}
        </table>
        <input type="hidden" name="box" value="${box}" />
    </form>

{% else %}

    There are no messages in this mailbox.

{% endif %}

<script type="text/javascript">
    pageParams.pmbox = '{{ box }}';
    {% if pms.number %}
    pageParams.page = {{ pms.number }};
    {% endif %}
    pageParams.viewmode = 'all';
    pageParams.showpages = {{ showpages|yesno:"true,false" }};
    pageParams.showstatus = {{ showstatus|yesno:"true,false" }};
</script>
