{% load static %}
<%--
ajax_pms.jsp
AJAX helper for listing the PMs in a box.
--%>

<%@ include file="inc_root/inc_functions.jsp" %>

<%@ page language="java" contentType="text/html; charset=UTF-8" %>

<%@ taglib prefix="sql" uri="http://java.sun.com/jsp/jstl/sql" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions" %>

<sql:setDataSource dataSource="jdbc/Fanart"   />

<c:catch var="catchException">
<fmt:parseNumber var="page" value="${param.page}" integerOnly="true" />
<fmt:parseNumber var="showpages" value="${param.showpages}" integerOnly="true" />
<fmt:parseNumber var="showstatus" value="${param.showstatus}" integerOnly="true" />
</c:catch>
<c:set var="viewmode" value="all" />
<c:if test="${param.viewmode == 'new'}"><c:set var="viewmode" value="new" /></c:if>
<c:if test="${showpages != 1}"><c:set var="showpages" value="0" /></c:if>
<c:if test="${showstatus != 1}"><c:set var="showstatus" value="0" /></c:if>

<c:set var="perpage" value="20" />


<c:if test="${loggedin == 1}">

<c:choose>
<c:when test="${param.box == 'out'}">
	<c:set var="box" value="out" />
</c:when>
<c:when test="${param.box == 'trash'}">
	<c:set var="box" value="trash" />
</c:when>
<c:otherwise>
	<c:set var="box" value="in" />
</c:otherwise>
</c:choose>


<c:choose>
<c:when test="${param.fnc == 'delete' || param.fnc == 'restore'}">

	<c:set var="delstate" value="1" />
	<c:if test="${param.fnc == 'restore'}">
		<c:set var="delstate" value="0" />
	</c:if>

	<c:forEach var="movepm" items="${fn:split(param.pmlist, ',')}">

	<c:set var="pm" value="0" />
	<c:catch var="catchException">
	<fmt:parseNumber var="pm" value="${movepm}" integerOnly="true" />
	</c:catch>

	<c:if test="${pm > 0}">

		<sql:query var="qryPM">
		SELECT * FROM pms
		WHERE pmid=?
		<sql:param value="${pm}" />
		</sql:query>

		<c:forEach var="thispm" items="${qryPM.rows}">
			<c:choose>
			<c:when test="${thispm.recptid == user.userid}">
				<sql:update var="updPMs">
				UPDATE pms SET deleted_r=${delstate}
				WHERE pmid=?
				<sql:param value="${pm}" />
				</sql:update>
			</c:when>
			<c:when test="${thispm.senderid == user.userid}">
				<sql:update var="updPMs">
				UPDATE pms SET deleted_s=${delstate}
				WHERE pmid=?
				<sql:param value="${pm}" />
				</sql:update>
			</c:when>
			</c:choose>
		</c:forEach>
	</c:if>

	</c:forEach>

</c:when>
<c:otherwise>

	<c:if test="${showstatus == 1}">
		<script type="text/javascript">
		var selitems = new Array();
		</script>

		<div class="globalactionslink">
			<c:choose>
			<c:when test="${box == 'trash'}">
			<a href="javascript:nop()" onClick="movePMs('restore','${box}')">Restore Selected</a>
			</c:when>
			<c:otherwise>
			<a href="javascript:nop()" onClick="movePMs('delete','${box}')">Delete Selected</a>
			</c:otherwise>
			</c:choose>   
		</div>
	</c:if>

	<c:choose>
	<c:when test="${box == 'in'}">

		<sql:query var="qryPMsFull">
		SELECT pms.*,users.username,artists.dirname FROM pms,users
		LEFT JOIN artists ON artists.userid=users.userid
		WHERE pms.senderid=users.userid
		AND deleted_r=false
		<c:if test="${param.viewmode == 'new'}">AND viewed=false</c:if>
		AND recptid=?
		<sql:param value="${user.userid}" />
		</sql:query>

		<c:set var="numItems" value="${qryPMsFull.rowCount} " />
		<c:choose>
		<c:when test="${page > 0}">
		<c:set var="page" value="${page} " />
		</c:when>
		<c:otherwise>
		<c:set var="page" value="1 " />
		</c:otherwise>
		</c:choose> 
		<%
		  int numItems = Integer.parseInt(((String)pageContext.getAttribute("numItems")).trim());
		  int pageNum = Integer.parseInt(((String)pageContext.getAttribute("page")).trim());
		  int perPage = Integer.parseInt(((String)pageContext.getAttribute("perpage")).trim());

		  Hashtable Pages = pagesLink(numItems,perPage,pageNum,false,"","ajax",request.getQueryString());

		  pageContext.setAttribute("offset",Pages.get("offset"));
		  pageContext.setAttribute("thispage",Pages.get("thispage"));
		  pageContext.setAttribute("pagetotal",Pages.get("pagetotal"));
		%>

		<sql:query var="qryPMs">
		SELECT pms.*,users.username,artists.dirname FROM pms,users
		LEFT JOIN artists ON artists.userid=users.userid
		WHERE pms.senderid=users.userid
		AND deleted_r=false
		<c:if test="${param.viewmode == 'new'}">AND viewed=false</c:if>
		AND recptid=?
		ORDER BY sent DESC
		LIMIT ${offset},${thispage}   
		<sql:param value="${user.userid}" />
		</sql:query>

		<c:if test="${showpages == 1}">
		<%= Pages.get("pages") %>
		</c:if>

	</c:when>
	<c:when test="${box == 'out'}">

		<sql:query var="qryPMsFull">
		SELECT pms.*,users.username,artists.dirname FROM pms,users
		LEFT JOIN artists ON artists.userid=users.userid
		WHERE pms.recptid=users.userid
		AND deleted_s=false
		AND senderid=?
		<sql:param value="${user.userid}" />
		</sql:query>

		<c:set var="numItems" value="${qryPMsFull.rowCount} " />
		<c:choose>
		<c:when test="${page > 0}">
		<c:set var="page" value="${page} " />
		</c:when>
		<c:otherwise>
		<c:set var="page" value="1 " />
		</c:otherwise>
		</c:choose> 
		<%
		  int numItems = Integer.parseInt(((String)pageContext.getAttribute("numItems")).trim());
		  int pageNum = Integer.parseInt(((String)pageContext.getAttribute("page")).trim());
		  int perPage = Integer.parseInt(((String)pageContext.getAttribute("perpage")).trim());

		  Hashtable Pages = pagesLink(numItems,perPage,pageNum,false,"","ajax",request.getQueryString());

		  pageContext.setAttribute("offset",Pages.get("offset"));
		  pageContext.setAttribute("thispage",Pages.get("thispage"));
		  pageContext.setAttribute("pagetotal",Pages.get("pagetotal"));
		%>

		<sql:query var="qryPMs">
		SELECT pms.*,users.username,artists.dirname FROM pms,users
		LEFT JOIN artists ON artists.userid=users.userid
		WHERE pms.recptid=users.userid
		AND deleted_s=false
		AND senderid=?
		ORDER BY sent DESC
		LIMIT ${offset},${thispage}   
		<sql:param value="${user.userid}" />
		</sql:query>

		<c:if test="${showpages == 1}">
		<%= Pages.get("pages") %>
		</c:if>

	</c:when>
	<c:when test="${box == 'trash'}">

		<sql:query var="qryPMsFull">
		SELECT pms.*,users.username FROM pms,users
		WHERE pms.recptid=users.userid
		AND ((recptid=? AND deleted_r=true) OR (senderid=? AND deleted_s=true))
		<sql:param value="${user.userid}" />
		<sql:param value="${user.userid}" />
		</sql:query>

		<c:set var="numItems" value="${qryPMsFull.rowCount} " />
		<c:choose>
		<c:when test="${page > 0}">
		<c:set var="page" value="${page} " />
		</c:when>
		<c:otherwise>
		<c:set var="page" value="1 " />
		</c:otherwise>
		</c:choose> 
		<%
		  int numItems = Integer.parseInt(((String)pageContext.getAttribute("numItems")).trim());
		  int pageNum = Integer.parseInt(((String)pageContext.getAttribute("page")).trim());
		  int perPage = Integer.parseInt(((String)pageContext.getAttribute("perpage")).trim());

		  Hashtable Pages = pagesLink(numItems,perPage,pageNum,false,"","ajax",request.getQueryString());

		  pageContext.setAttribute("offset",Pages.get("offset"));
		  pageContext.setAttribute("thispage",Pages.get("thispage"));
		  pageContext.setAttribute("pagetotal",Pages.get("pagetotal"));
		%>

		<sql:query var="qryPMs">
		SELECT pms.*,users.username FROM pms,users
		WHERE pms.recptid=users.userid
		AND ((recptid=? AND deleted_r=true) OR (senderid=? AND deleted_s=true))
		ORDER BY sent DESC
		LIMIT ${offset},${thispage}   
		<sql:param value="${user.userid}" />
		<sql:param value="${user.userid}" />
		</sql:query>

		<c:if test="${showpages == 1}">
		<%= Pages.get("pages") %>
		</c:if>

	</c:when>
	</c:choose>

        {% if pms.exists %}
	<c:choose>
	<c:when test="${qryPMs.rowCount > 0}">

		<form name="pmform">
		<table class="pms">
		<tr>
                {% if showstatus %}
		<c:if test="${showstatus == 1}">
		<th class="status"></th>
		<th class="select"><input type="checkbox" name="selectall" onClick="toggleSelectAll(this)" /></th>
		</c:if>
                {% endif %}
		<th>{% if box == "in" %}From{% elif box == "out" %}To{% endif %}</th>
		<th>Subject</th>
		<th>Date</th>
		</tr>
                {% for pm in pms %}
		<c:forEach var="pm" items="${qryPMs.rows}">

			<tr class="{% if pm.date_viewed %}viewed{% else %}unviewed{% endif %}">
                        {% if showstatus %}
			<c:if test="${showstatus == 1}">
			<td class="status">
			{% if pm.date_replied %}<img src="{% static "images/replied_icon.png" %}" />{% endif %}
			</td>
			<td class="select"><input type="checkbox" name="select_{{ pm.id }}" id="select_{{ pm.id }}" value="1" /></td>
			</c:if>
                        {% endif %}
			<td>
                        {% if box == "trash" %}
			<c:choose>
			<c:when test="${box == 'trash'}">
                                {% if pm.recipient == user %}
				<c:choose>
				<c:when test="${pm.recptid == user.userid}">
					<sql:query var="qryFrom">
					SELECT * FROM users
					WHERE userid=?
					<sql:param value="${pm.senderid}" />
					</sql:query>
					<c:forEach var="sender" items="${qryFrom.rows}">
						From {{ pm.sender.username }}
					</c:forEach>
				</c:when>
                                {% elif pm.sender == user %}
				<c:when test="${pm.senderid == user.userid}">
					To {{ pm.recipient.username }}
				</c:when>
				</c:choose>
                                {% endif %}
			</c:when>
                        {% elif box == "in" %}
			<c:otherwise>
				{{ pm.sender.username }}
			</c:otherwise>
			</c:choose>
                        {% elif box == "out" %}
				{{ pm.recipient.username }}
                        {% endif %}
			</td>
			<td><a href="{% url "pm" pm_id=pm.id %}?viewmode=${viewmode}&showpages=${showpages}&showstatus=${showstatus}" rel="shadowbox[pms_${param._}];width=500;height=600">{{ pm.subject }}</a></td>
			<td class="date">{{ pm.date_sent|date }}</td>
			</tr>

			<script type="text/javascript">
			selitems.push({{ pm.id }});
			</script>

		</c:forEach>
                {% endfor %}
		</table>
		<input type="hidden" name="box" value="${box}" />
		</form>

	</c:when>
        {% else %}
	<c:otherwise>

		There are no messages in this mailbox.

	</c:otherwise>
	</c:choose>
        {% endif %}

</c:otherwise>
</c:choose>

</c:if>

