{% load humanize %}
{% load bbcode_tags %}

{% if coloring_picture %}

<div class="previewPopupResult" id="preview_{{ coloring_picture.id }}">
    <a href="/ColoringCave.jsp?ccid=${ccpic.basepic}"><img class="tooltippreview" src="{{ MEDIA_URL }}Artwork/coloring/{{ coloring_picture.id_orig }}.{{ coloring_picture.extension }}" width="{{ coloring_picture.preview_width }}" height="{{ coloring_picture.preview_height }}" /></a>
    <div class="tooltipdata">
    Original by {{ coloring_picture.base.creator.username }}
    </div>
</div>

{% endif %}
