{% load humanize %}
{% load bbcode_tags %}

{% if coloring_picture %}

<div class="previewPopupResult" id="preview_{{ coloring_picture.id }}">
    <a href="{% url "coloring-cave" coloring_base_id=coloring_picture.base.id %}"><img class="tooltippreview" src="{{ coloring_picture.url }}" width="{{ coloring_picture.preview_width }}" height="{{ coloring_picture.preview_height }}" /></a>
    <div class="tooltipdata">
    Original by {{ coloring_picture.base.creator.username }}
    </div>
</div>

{% endif %}
