<%--
ajax_tradingtree.jsp
AJAX helper for displaying the details of an offer on the Trading Tree. Lists existing claims
and allows the user to submit a new claim (inline for icons, via ajax_editadoptable.jsp for adoptables).
--%>

<%@ include file="inc_root/inc_functions.jsp" %>
<%@ page language="java" contentType="text/html; charset=UTF-8" %>

<%@ taglib prefix="sql" uri="http://java.sun.com/jsp/jstl/sql" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %>

<sql:setDataSource dataSource="jdbc/Fanart"   />

<c:catch var="catchException">
<fmt:parseNumber var="offerid" value="${param.offerid}" integerOnly="true" />
</c:catch>

<c:if test="${offerid > 0}">

<sql:query var="qryOffers">
SELECT offers.*,artistname,dirname FROM offers,artists
WHERE offers.artistid=artists.artistid
AND offerid=?
AND visible=true
ORDER BY posted DESC
<sql:param value="${offerid}" />
</sql:query>

<c:forEach var="offer" items="${qryOffers.rows}">

<c:set var="offercomment" value="${offer.comment}" />

<div class="offer editoffer">
<form name="offerform_{{ offer.id }}" method="POST">
<table>
<tr>
<td class="thumb">
<c:choose>
{% if offer.type == "icon" %}
<c:when test="${offer.type == 'icon'}">
	<a href="/Artwork/offers/${offer.offerid}.${offer.extension}" rel="shadowbox">
</c:when>
{% elif offer.type == "adoptable" %}
<c:when test="${offer.type == 'adoptable'}">
	<a href="/Characters/?characterid=${offer.characterid}">
</c:when>
</c:choose>
{% endif %}
<img class="thumb offerthumb" src="{{ MEDIA_URL }}Artwork/offers/{{ offer.id_orig }}.s.jpg" /></a></td>
<td class="fullwidth">
<c:if test="${loggedin == 1 && offer.artistid == artist.artistid}">
<a href="javascript:nop()" onClick="setupEditOffer(${offer.offerid})">edit</a>
</c:if>
<div id="editoffer_${offer.offerid}">
<div class="offerartist">Offered by <a href="{% url "artist" dir_name=offer.artist.dir_name %}">{{ offer.artist.username }}</a></div>
<div class="offertitle">${offer.title}
<fmt:formatDate value="${offer.posted}" type="both" pattern="HH:mm E M/d/yyyy" />
</div>

<sql:query var="qryCharacter">
SELECT * FROM characters
WHERE characterid=?
<sql:param value="${offer.characterid}" />
</sql:query>
<c:forEach var="character" items="${qryCharacter.rows}">
	Character: <a href="/Characters/?characterid=${character.characterid}">${character.charactername}</a>
</c:forEach>

<div class="offercomment"><%= formatText((String)pageContext.getAttribute("offercomment")) %></div>
</div>
</td>
</tr>
</table>
</form>

<sql:query var="qryClaims">
SELECT claims.*,username,users.email,dirname 
FROM claims,users LEFT JOIN artists
ON artists.userid=users.userid
WHERE users.userid=claims.userid
AND offerid=?
ORDER BY posted
<sql:param value="${offer.offerid}" />
</sql:query>

{% if offer.type == "icon" %}
<c:choose>
<c:when test="${offer.type == 'icon'}">

	<div id="iconrequests_{{ offer.id }}">

        {% for claim in offer.tradingclaim_set.all %}
	<c:forEach var="iconrequest" items="${qryClaims.rows}">
		<c:set var="claimcomment" value="${iconrequest.comment}" />
		<form name="claimform_${iconrequest.claimid}" id="claimform_${iconrequest.claimid}" method="POST">
		<div class="claim" id="claim_${iconrequest.claimid}">
		<div class="claimthumb" id="claimthumb_${iconrequest.claimid}">
		<c:if test="${iconrequest.filename != null}">

		<jsp:include page="/api/upload_success.jsp?op=claim&itemid=${iconrequest.claimid}" />

		</c:if>
		</div>
		<div class="claimuser"><c:choose><c:when test="${iconrequest.dirname != null}"><a href="/Artists/${iconrequest.dirname}/">${iconrequest.username}</a></c:when><c:otherwise>${iconrequest.username}</c:otherwise></c:choose> - <fmt:formatDate value="${iconrequest.posted}" type="both" pattern="HH:mm E M/d/yyyy" /></div>
		<c:if test="${iconrequest.userid == user.userid || offer.artistid == artist.artistid}">
		<div class="claimaction"><a href="javascript:nop()" onClick="removeClaim(${iconrequest.claimid})">remove</a></div>
		</c:if>
		<div class="claimcomment"><%= formatText((String)pageContext.getAttribute("claimcomment")) %></div>
		<c:if test="${iconrequest.refurl != null}">
		<div class="claimrefurl"><a href="${iconrequest.refurl}" rel="shadowbox">Reference</a></div>
		</c:if>
		<c:choose>
		<c:when test="${iconrequest.filename != null}">
			<c:choose>
			<c:when test="${iconrequest.fulfilled != null}">
			Received <fmt:formatDate value="${iconrequest.fulfilled}" type="both" pattern="HH:mm E M/d/yyyy" />.
			</c:when>
			<c:otherwise>
			Picture posted <fmt:formatDate value="${iconrequest.picdate}" type="both" pattern="HH:mm E M/d/yyyy" />; not yet received.
			</c:otherwise>
			</c:choose>
		</c:when>
		<c:otherwise>
		</c:otherwise>
		</c:choose>
		<c:if test="${loggedin == 1 && offer.artistid == artist.artistid}">
	        <div id="claimupload_${iconrequest.claimid}" <c:if test="${iconrequest.filename != null}">style="display: none"</c:if>>
	        <input type="file" name="uploadfile" id="claim_upload_${iconrequest.claimid}" />
	        <button type="button" onClick="uploadPicture(this.form.id,'claim_upload_${iconrequest.claimid}','claimthumb_${iconrequest.claimid}','claimupload_${iconrequest.claimid}')">Upload</button>
	        </div>
		</c:if>
		</div>
		<input type="hidden" name="uploadop" value="claim" />
		<input type="hidden" name="itemid" value="${iconrequest.claimid}" />
		</form>
	</c:forEach>
        {% endfor %}

	<sql:query var="qryOffer">
	SELECT * FROM offers LEFT JOIN claims
	ON claims.offerid=offers.offerid
	WHERE offers.offerid=?
	AND (offers.artistid=? OR claims.userid=?)
	<sql:param value="${offerid}" />
	<sql:param value="${artist.artistid}" />
	<sql:param value="${user.userid}" />
	</sql:query>

	<c:if test="${loggedin == 1 && qryOffer.rowCount == 0}">

	<div class="claim">
	<form name="claimform_new_${offer.offerid}" method="POST" onSubmit="return false;">
	<table class="formtable">
	<tr>
	<td class="label">Request this icon</td>
	<td class="data"><textarea name="comment"></textarea></td>
	</tr>
	<tr>
	<td class="label">Reference URL</td>
	<td class="data"><input type="text" class="std" name="refurl" /></td>
	</tr>
	<tr>
	<td colspan="2" class="buttons">
	<button type="button" onClick="submitClaim(${offer.offerid},this.form)">Submit Request</button>
	</td>
	</tr>
	</table>
	<input type="hidden" name="offertype" value="${offer.type}" />
	</form>
	</div>

	</c:if>

	</div>

{% elif offer.type == "adoptable" %}
</c:when>
<c:when test="${offer.type == 'adoptable'}">

	<div id="adoptableclaims_${offer.offerid}">

	<jsp:include page="/ajax_editadoptable.jsp?offerid=${offer.offerid}" />

	</div>

</c:when>
</c:choose>
{% endif %}

</div>

</c:forEach>


</c:if>

