{% load bbcode_tags %}

<div class="offer editoffer">
    {#<form name="offerform_{{ offer.id }}" method="POST">#}
    <table>
        <tr>
            <td class="thumb">
                {% if offer.type == "icon" %}
                    <a href="{{ offer.url }}" rel="shadowbox">
                {% elif offer.type == "adoptable" %}
                    <a href="{% url "character" character_id=offer.character.id %}">
                {% endif %}
                <img class="thumb offerthumb" src="{{ offer.thumbnail_url }}" /></a>
            </td>

            <td class="fullwidth">
                {% if offer.artist == user %}
                    <a href="javascript:nop()" onClick="setupEditOffer({{ offer.id }})">edit</a>
                    <a href="javascript:nop()" onClick="removeOffer({{ offer.id }})">remove</a>
                {% endif %}
                <div id="editoffer_{{ offer.id }}">
                    {% with offer as object %}
                        {% include "includes/offer.html" %}
                    {% endwith %}
                </div>
            </td>
        </tr>
    </table>
    {#</form>#}

    {% if offer.type == "icon" %}

	<div id="iconrequests_{{ offer.id }}">

            {% for claim in offer.tradingclaim_set.all %}
                <div class="claim" id="claim_{{ claim.id }}">
                    {% include "includes/claim.html" %}
                </div>
            {% endfor %}

            {% if user.is_authenticated and offer.artist != user and not my_claims_for_offer.exists %}

                <div class="claim">
                    <form name="claimform_new_{{ offer.id }}" method="POST" onSubmit="return false;">
                        <table class="formtable">
                            <tr>
                                <td class="label">Request this icon</td>
                                <td class="data"><textarea name="comment"></textarea></td>
                            </tr>
                            <tr>
                                <td class="label">Reference URL</td>
                                <td class="data"><input type="text" class="std" name="refurl" /></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="buttons">
                                    <button type="button" onClick="submitClaim({{ offer.id }},this.form)">Submit Request</button>
                                </td>
                            </tr>
                        </table>
                        <input type="hidden" name="offertype" value="{{ offer.type }}" />
                    </form>
                </div>

            {% endif %}

        </div>

    {% elif offer.type == "adoptable" %}

        <div id="adoptableclaims_{{ offer.id }}">

            {% for claim in offer.tradingclaim_set.all %}

                <div class="claim" id="claim_{{ claim.id }}">
                    {% include "includes/claim.html" %}
                </div>

            {% endfor %}

            {% if user.is_authenticated and offer.artist != user and not offer.completed_claims.exists %}
                {% if not my_claims_for_offer.exists %}

                    <div class="claim">
                        <form name="claimform_new_{{ offer.id }}" method="POST">
                            <table class="formtable">
                                <tr>
                                    <td class="label">Message </td>
                                    <td class="data"><textarea name="comment"></textarea></td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="buttons">
                                        <button type="button" onClick="submitClaim({{ offer.id }},this.form)">Adopt Character</button>
                                    </td>
                                </tr>
                            </table>
                            <input type="hidden" name="offertype" value="{{ offer.type }}" />
                        </form>
                    </div>

                {% endif %}
            {% endif %}

{#            {% include "includes/adoptable.html" %}#}

        </div>

    {% endif %}

</div>

