{% load bbcode_tags %}

<table>   
    <tr>
        <td class="fullwidth">
            {% if claim.offer.artist %}
                <div class="offerartist"><a href="{% url "artist" dir_name=claim.offer.artist.dir_name %}">{{ claim.offer.artist.username }}</a></div>
            {% endif %}
            <div class="offertitle"><a href="{% url "trading-tree" offer_type=claim.offer.type %}?offer_id={{ claim.offer.id }}">{{ claim.offer.title }}</a></div>
            {{ claim.comment|bbcode|safe }}
            <div class="offerinfo">
                {% if claim.is_ready %}
                    <button type="button" onClick="acceptClaim({{ claim.id }})">Accept</button>
                {% else %}
                    {% if claim.offer.type == "icon" %}
                        {% if claim.date_fulfilled == None %}
                            This icon request has not yet been completed.
                        {% else %}
                            Received {{ claim.date_fulfilled|date }}
                        {% endif %}
                    {% elif claim.offer.type == "adoptable" %}
                        This adoptable has been moved into your Characters section.
                    {% endif %}
                {% endif %}
            </div>
        </td>
        <td class="thumb">
            {% if claim.offer.type == "icon" %}
                {% if not claim.filename %}
                    <a href="{% url "trading-tree" offer_type=claim.offer.type %}?offer_id={{ claim.offer.id }}"><img class="thumb" src="{{ claim.offer.thumbnail_url }}" /></a>
                {% else %}
                    <a href="{{ claim.url }}" rel="shadowbox"><img class="thumb" src="{{ claim.url }}" /></a>
                {% endif %}
            {% elif claim.offer.type == "adoptable" %}
                    <a href="{% url "trading-tree" offer_type=claim.offer.type %}?offer_id={{ claim.offer.id }}"><img class="thumb" src="{{ claim.offer.thumbnail_url }}" /></a>
            {% endif %}
        </td>
    </tr>
</table>
