{% extends "fanart/base.html" %}

{% block page_title %} &mdash; Artists{% endblock %}

{% block activetab_artists %}active{% endblock %}

{% block grass %}
{% include "includes/grass_artists.html" %}
{% endblock %}

{% block body_prop %}{% endblock %}

{% block pagenav %}
<div class="pagenav">
    <div class="searchartist">
    Search: <input id="searchartist" />
    </div>

    By artist name:
    {% for letter in 'abcdefghijklmnopqrstuvwxyz' %}
        <a href="{% url "artists-by-name" initial=letter %}" {% if initial == letter %}class="selected"{% endif %}>{{ letter|upper }}</a>
    {% endfor %}
</div>
{% endblock %}

{% block content %}

    <div class="featurebox featureboxwide">
        <div class="itemlistheaders" id="artistheaders">

            <div class="itemlist">
                <a class="itemlistheading" href="javascript:nop()" onClick="listArtists('newest', {{ per_page }})">
                    <h2 class="itemlist {% if list_type == "newest" %}itemlist_selected{% endif %}" id="artistlisth2_newest">Newest</h2>
                </a>
            </div>

            <div class="itemlist">
                <a class="itemlistheading" href="javascript:nop()" onClick="listArtists('recently_active', {{ per_page }})">
                    <h2 class="itemlist {% if list_type == "recently_active" %}itemlist_selected{% endif %}" id="artistlisth2_recently_active">Recently Active</h2>
                </a>
            </div>

            <div class="itemlist">
                <a class="itemlistheading" class="viewmorelink" href="javascript:nop()" onClick="listArtists('top_rated', {{ per_page }})">
                    <h2 class="itemlist {% if list_type == "top_rated" %}itemlist_selected{% endif %}" id="artistlisth2_top_rated">Top Rated</h2>
                </a>
            </div>

            <div class="itemlist">
                <a class="itemlistheading" class="viewmorelink" href="javascript:nop()" onClick="listArtists('top_rated_active', {{ per_page }})">
                    <h2 class="itemlist {% if list_type == "top_rated_active" %}itemlist_selected{% endif %}" id="artistlisth2_top_rated_active">Top Rated Recently Active</h2>
                </a>
            </div>

            <div class="itemlist">
                <a class="itemlistheading" class="viewmorelink" href="javascript:nop()" onClick="listArtists('most_prolific', {{ per_page }})">
                    <h2 class="itemlist {% if list_type == "most_prolific" %}itemlist_selected{% endif %}" id="artistlisth2_most_prolific">Most Prolific</h2>
                </a>
            </div>

            <div class="itemlist">
                <a class="itemlistheading" class="viewmorelink" href="javascript:nop()" onClick="listArtists('random', 5)">
                    <h2 class="itemlist {% if list_type == "random" %}itemlist_selected{% endif %}" id="artistlisth2_random">Randomly Selected</h2>
                </a>
            </div>

            <div class="itemlist">
                <a class="itemlistheading" class="viewmorelink" href="javascript:nop()" onClick="listArtists('search', 0)">
                    <h2 class="itemlist {% if list_type == "search" %}itemlist_selected{% endif %}" id="artistlisth2_search">Search</h2>
                </a>
            </div>

        </div>
        <br clear="left" />

        <div id="artists">
{#            {% include "includes/artists-list.html" %}#}
        </div>

    </div>

{% endblock %}

{% block footer_js %}
    <script type="text/javascript">
    $(document).ready(function() {
        getMoreArtists({{ start }}, '{{ list_type }}', {{ count }}, '{{ term }}', '.get-more-button');
    });
    </script>
{% endblock %}
