<form name="editoffer_{{ object.id }}" id="editoffer_{{ object.id }}" onSubmit="return false;">
<table class="formtable">
<tr>
<td class="label">Title</td>
<td class="data">{{ form.title }}</td>
</tr>
<tr>
<td class="label">Comment</td>
<td class="data">{{ form.comment }}</td>
</tr>
<tr>
<td colspan="2" class="buttons">
<button type="button" onClick="validateForm('editoffer_{{ object.id }}','editOffer({{ object.id }},document.editoffer_{{ object.id }})')">Save Changes</button>
</td>
</tr>
</table>
<input type="hidden" name="offerid" value="{{ object.id }}" />
<input type="hidden" name="op" value="edit" />
</form>

