{% load bbcode_tags %}

<div class="offerartist">Offered by <a href="{% url "artist" dir_name=object.artist.dir_name %}">{{ object.artist.username }}</a></div>
<div class="offertitle">{{ object.title }}
{{ object.date_posted|date }}
</div>

{% if object.character %}
    {% if object.character.date_deleted %}
        Character: <b>{{ object.character.name }}</b>
        <p class="offer-character-description">
        {{ object.character.description|bbcode|safe }}
        </p>
    {% else %}
        Character: <a href="{% url "character" character_id=object.character.id %}">{{ object.character.name }}</a>
    {% endif %}
{% endif %}

<div class="offercomment">{{ object.comment|bbcode|safe }}</div>

