{% extends "fanart/base.html" %}
{% load picture_tags %}

{% block page_title %} &mdash; Trading Tree{% endblock %}

{% block activetab_tradingtree %}active{% endblock %}

{% block grass %}
{% include "fanart/grass_tradingtree.html" %}
{% endblock %}

{% block body_prop %}tall{% endblock %}

{% block content %}

<h1>Trading Tree</h1>

<div class="featurebox tradingtree">

<div class="selector">
    <a class="{% if offer_type == "icon" %}selected{% endif %}" href="{% url "trading-tree" offer_type="icon" %}">icons</a>
    <a class="{% if offer_type == "adoptable" %}selected{% endif %}" href="{% url "trading-tree" offer_type="adoptable" %}">adoptables</a>
</div>

{% if offer %}

    {% if offer.is_active and offer.is_visible %}

<script type="text/javascript">
var refreshThumbsInterval = null;
var thumbsGenerated = true;

var checkThumbs = function() {
    var url = '/offer/{{ offer.id }}/status/';
    $.getJSON(url, function(data) {
        var continueChecking = false;
        for (claim_id in data) {
            if ($('#claimthumb_' + claim_id + ' img').attr('src') != data[claim_id].thumbnail_url) {
                $('#claimthumb_' + claim_id + ' img').attr('src', data[claim_id].thumbnail_url);
            }
            if (!data[claim_id].thumbnail_done) {
                continueChecking = true;
            }
        }
        if (!continueChecking) {
            clearInterval(refreshThumbsInterval);
        }
    });
};
</script>

        {% include "trading_tree/offer.html" %}

<script type="text/javascript">
if (thumbsGenerated == false) {
    refreshThumbsInterval = setInterval('checkThumbs()', 1000);
}
</script>

    {% else %}

        This offer is no longer available.

    {% endif %}

{% else %}

    {% if show_for_you %}
        <div class="newforme">
            <h3>New for You</h3>
            {% for claim in claims_for_you %}
                <div class="offer" id="claim_{{ claim.id }}">
                    {% include "trading_tree/for_you.html" %}
                </div>
            {% endfor %}
        </div>
    {% endif %}


    <div id="offerslayout">

        {% for offer in offers %}

            <div class="offertile {% if user.is_authenticated %}{% applied_offer offer user %}{% endif %}">
                <a href="{% url "trading-tree" offer_type=offer_type %}?offer_id={{ offer.id }}"><img class="offer" src="{{ offer.thumbnail_url }}" width="120" height="{{ offer.thumb_height }}" /></a><br />
                {% if offer.artist %}
                    <a href="{% url "artist" dir_name=offer.artist.dir_name %}">{{ offer.artist.username|truncatechars:20 }}</a><br />
                {% endif %}
		{{ offer.title }}<br />
                {{ offer.date_posted|date }}<br />
                {% if offer.type == "icon" %}
                    {{ offer.claim_set.count }} request{{ offer.claim_set.count|pluralize }}, {{ offer.open_claims.count }} open
                {% elif offer.type == "adoptable" %}
                    {% if not offer.completed_claims.exists %}
                        {{ offer.claim_set.count }} applying
                    {% else %}
                        Adopted.
                    {% endif %}
                {% endif %}
            </div>

        {% endfor %}

        <br clear="left" />

    </div>

{% endif %}

</div>

{% endblock %}
