{% extends "artmanager/base.html" %}
{% load bbcode_tags %}

{% block content %}

<h1>Create New Contest</h1>

<div class="am_panel">
    <div class="am_tabs">
        <a href="{% url "contest-setup-success" %}" class="selected">New Contest</a>
    </div>

    <div class="am_content">

        <h2>New Contest</h2>

        <div class="pageinfo">
            <p>
                <b>Thank you!</b> Your new contest, called <b>{{ latest_contest.title }}</b>, is now
                scheduled to begin tonight at midnight. The deadline for submissions is
                midnight on (the beginning of) {{ latest_contest.date_end|date:"F d Y" }}, US Eastern time.
            </p>
            <p>
                You are in charge of this contest; you will have the ability to remove
                entries that do not conform to the rules. However, you won't be able to
                submit an entry yourself.
            </p>
            <p>
                <a href="{% url "home" %}">Return to fanart.lionking.org</a>
            </p>
        </div>

    </div>
</div>

{% endblock %}
