{% extends "artmanager/base.html" %}
{% load bbcode_tags %}

{% block content %}

<h1>Create New Contest</h1>

<div class="am_panel">
    <div class="am_tabs">
        <a href="{% url "contest-setup" %}" class="selected">New Contest</a>
    </div>

    <div class="am_content">

        <h2>New Contest</h2>

        <div class="pageinfo">
            <p>
                Congratulations, <b>{{ request.user.username }}</b>, on winning the <b>{{ latest_contest.title }}</b> contest! You can now set up the next contest using the form below.
            </p>
            <p>
                Choose a "theme" for artists to use in creating new pictures. This theme can be any subject or challenge you wish; however, all pictures submitted
                <i>will</i> have to be on-topic and subject to the Guidelines of the Archive!
            </p>
        </div>

        <form method="POST" action="{% url "contest-setup" %}">
            <table class="formtable">
                <tr>
                    <td class="label">Contest Title</td>
                    <td><input name="title" {% if form.errors.title %}class="error"{% endif %} value="{{ form.title.value|default_if_none:"" }}" maxlength="64" style="width: 300px;" /></td>
                    <td class="error">{{ form.errors.title }}</td>
                </tr>
                <tr>
                    <td class="label">Theme/Description</td>
                    <td><textarea name="description" {% if form.errors.description %}class="error"{% endif %}>{{ form.description.value|default_if_none:"" }}</textarea></td>
                    <td class="error">{{ form.errors.description }}</td>
                </tr>
                <tr>
                    <td class="label">Rules (optional)</td>
                    <td><textarea name="rules">{{ form.rules.value|default_if_none:"" }}</textarea></td>
                    <td class="error">{{ form.errors.rules }}</td>
                </tr>
                <tr>
                    <td class="label">{{ form.length_days.label }}</td>
                    <td>
                        {{ form.length_days }}
                    </td>
                    <td class="error">{{ form.errors.length_days }}</td>
                </tr>
                <tr>
                    <td class="label">{{ form.allow_multiple_entries.label }}</td>
                    <td>
                        {{ form.allow_multiple_entries }}
                    </td>
                    <td class="error">{{ form.errors.allow_multiple_entries }}</td>
                </tr>
                <tr>
                    <td class="label">{{ form.allow_anonymous_entries.label }}</td>
                    <td>
                        {{ form.allow_anonymous_entries }}
                    </td>
                    <td class="error">{{ form.errors.allow_anonymous_entries }}</td>
                </tr>
                <tr>
                    <td class="label"></td>
                    <td>
                        <input class="button" type="submit" value="Begin New Contest" />
                    </td>
                    <td class="error"></td>
                </tr>
            </table>
            <input type="hidden" name="fnc" value="create" />
            {% csrf_token %}
        </form>

    </div>
</div>

{% endblock %}
