{% extends "fanart/chamber_of_stars/base.html" %}
{% load bbcode_tags %}

{% block page_title %} &mdash; Featured Artwork{% endblock %}

{% block grass %}
    {% include "includes/grass_chamber_of_stars.html" %}
{% endblock %}

{% block body_prop %}tall{% endblock %}

{% block featured_pictures_class %}selected{% endblock %}

{% block section_title %}Featured Artwork{% endblock %}

{% block section_intro %}
    Featured Artwork is selected for its popularity within the last three years, to highlight currently active
    artists and bring attention to unique and notable talent on display in our community.
{% endblock %}

{% block chamber_of_stars_section %}

    {{ pages_link.pages_nav|safe }}

    {% for featured_picture in featuredpicture_list %}

        <div class="featurebox">


            {% with picture=featured_picture.picture %}
            {% include "includes/picture.html" %}
            {% endwith %}

            <div class="featured-picture-commentary">
                <h2 class="float-right">Featured {{ featured_picture.date_featured }}</h2>
                <div class="commentary-text">
                    {{ featured_picture.commentary_parsed|bbcode|safe }}
                </div>
            </div>

        </div>

    {% endfor %}

    <style type="text/css">
    .featured-picture-commentary {
        text-align: left;
        margin: 10px auto;
        width: 60%;
    }
    .commentary-text {
        clear: both;
    }
    </style>

{% endblock %}
