{% extends "fanart/chamber_of_stars/featured.html" %}
{% load bbcode_tags %}

{% block page_title %} &mdash; Featured Artists{% endblock %}

{% block grass %}
    {% include "includes/grass_chamber_of_stars.html" %}
{% endblock %}

{% block body_prop %}tall{% endblock %}

{% block featured_artists_class %}selected{% endblock %}

{% block section_title %}Featured Artists{% endblock %}

{% block section_intro %}
    The Featured Artist of the Month was chosen by member votes from 2000 through 2018, when it was superseded by
    the Featured Artwork spotlight feature.
{% endblock %}

{% block chamber_of_stars_section %}

    {{ pages_link.pages_nav|safe }}

    {% for featured in featuredartist_list %}

        <div class="featurebox">

            {% if featured.artist.profile_pic_url %}
            <a href="{% url "featured-artist" month_featured=featured.month_featured %}"><img class="featured-artist-profile-pic" src="{{ featured.artist.profile_pic_url }}" /></a>
            {% endif %}

            <h2>
                <span class="float-right">{{ featured.date_featured|date:"F Y" }}</span>
                <a href="{% url "featured-artist" month_featured=featured.month_featured %}">{{ featured.artist.username }}</a>
            </h2>

            <div class="pageinfo">
                <p>{{ featured.intro_text_parsed|bbcode|safe }}</p>
            </div>

        </div>

    {% endfor %}

{% endblock %}
