{% load i18n %}{% autoescape off %}
<p>
{% blocktrans %}You're receiving this email because you requested a password reset for your account on the TLKFAA.{% endblocktrans %}
</p>

<p>{% trans "Please go to the following page and choose a new password:" %}</p>
{% block reset_link %}
<p>{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</p>
{% endblock %}
<p>{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}</p>

<p>Thank you!</p>

<p>
--{{ admin_name }}<br />
lionking.org administrator
</p>

{% endautoescape %}
