<p>Hello,</p>

<p>
This is an automated message from The Lion King Fan-Art Archive
(http://fanart.lionking.org). It is sent because you requested to have it
sent when your uploaded picture was accepted. The picture has been
accepted and added to your collection.
</p>

<p>          
Filename: {{ pending.filename }}<br />
Title: {{ pending.title }}
</p>

<a href="{{ base_url }}{% url "picture" picture_id=picture.id %}">{{ base_url }}{% url "picture" picture_id=picture.id %}</a>

<p>Thank you!</p>

<p>
--{{ admin_name }}<br />
lionking.org administrator
</p>

