<p>Hello,</p>

<p>Thank you for your submission of the picture titled "{{ pending.filename }}".</p>

<p>
Because of the all-ages nature of the TLKFAA, it is necessary to keep all posted
artwork appropriate for all audiences. Your submission appears to contain material
that is adult in nature, sexually suggestive, inflammatory, or otherwise not suitable
to the accessible environment of the Archive, and can't be accepted in its current form.
</p>

<p>
You are welcome to make any edits that might be necessary to make the work suitable for
all audiences, and upload it again at your convenience.
</p>

<p>
Please feel free to review the uploading guidelines at
http://fanart.lionking.org/, and I encourage you to contribute any fan-art
that meets these guidelines. Thank you for understanding!
</p>

<p>
--{{ admin_name }}<br />
fanart.lionking.org
</p>
