<p>Hello,</p>

<p>Thank you for your submission of the picture "{{ pending.filename }}".</p>

<p>
However, it appears that this picture may not be your own original work,
or might be based heavily on some other source. This is contrary to the spirit
of the posted Guidelines, which state that anything you upload must be substantially
your own original work, and that copying or heavily referencing other works is
not permitted.
</p>

<p>
I will allow this picture into the Archive, but I would ask that you please try to
keep closer to the Guidelines with future uploaded art.
</p>

<p>Thank you for understanding!</p>

<p>
--{{ admin_name }}<br />
fanart.lionking.org
</p>

